<div class="uh-main-section first-list">
  <div class="uh-main-header">
      <div class="left"><span class="title">消息中心</span></div>
  </div>

      <div class="uh-main-tab">
        <div class="left">
          <a class="uh-header-tab">所有</a>
          <a class="uh-header-tab">通知</a>
          <a class="uh-header-tab">对话</a>
        </div>
        <div class="right">
          <a class="uh-header-tab">联系客服</a>
        </div>
      </div>
</div>




 <div class="uh-main-section message last">

<div class="pure-g uh-form-section">
  <div class="title pure-u-3-24">主题</div>
  <div class="pure-u-3-4"><input></div>
</div>
<div class="pure-g uh-form-section">
<div class="title pure-u-3-24">相关单号</div>
<div class="pure-u-3-4">
<div class="pure-u-1">
<input></div>
<div class="pure-u-1 desc">请填写相关订单号、入库单号或其他信息，方便我们快速找到您的包裹或订单。</div>
</div>
</div>

    <div class=""><textarea name="" rows="5"></textarea></div>
 </div>

 <div class="uh-main-action">
 <div class="btn-back left"></div>
 <div class="btn-msg-send right"></div>
 </div>