
<div class="uh-main-header">
    <div class="left"><span class="title">{{conversation.title}}</span></div>
</div>

<div ng-repeat="message in conversation.messages" class="uh-message pure-g">
  <div class="pure-u-2-24">
    <img src="images/icon-notification.png">
  </div>

  <div class="pure-u-22-24">
    <div class="title">{{message.content}}</div>
    <!-- <div class="content">你的订单已经发货。</div> -->

    <div class="info">

      <div class="pure-u-12-24 time">{{message.updated_at}}</div>
      <div class="pure-u-12-24 control"><a>标记为已读 删除</a></div>

    </div>
    
  </div>

</div>

