<div class="uh-main-section first-list">
  <div class="uh-main-header">
      <div class="left"><span class="title">消息中心</span></div>
  </div>

      <div class="uh-main-tab">
        <div class="left">
          <!-- <a class="uh-header-tab">所有</a> -->
        
          <a ui-sref="notificationList" ng-class="{active: $state.includes('notificationList')}" class="uh-header-tab clickable">通知({{userInfo.unread_notification}})</a>
          <a ui-sref="conversationList"  ng-class="{active: $state.includes('conversationList')}" class="uh-header-tab clickable">对话({{userInfo.unread_conversation}})</a>  
        </div>
        <div class="right">
          <a class="uh-header-tab function clickable" ui-sref="contact" ng-class="{active: $state.includes('active')}">联系客服</a>
        </div>
      </div>
</div>

<div ng-show="$state.includes('notificationList')" >
  
  <div ng-show="notifications.length==0" class="uh-main-section middle">
    <div class="uh-box-empty">
    <img src="images/message-empty.svg" width="120px;">
    <div>您还没有收到任何提醒</div>
    </div>
  </div>

  <div ng-show="notifications.length > 0" ng-repeat="notification in notifications" class="uh-main-section middle uh-message pure-g">
    <div class="pure-u-2-24 icon">
      <img src="images/icon-notification.png" width="30px;">
    </div>

    <div class="pure-u-21-24">
      <div class="title">{{notification.title}}</div>
      <div class="content">{{notification.content}}</div>
      <div class="info">
        <div class="pure-u-12-24 time">{{notification.created_at}}</div>
        <div class="pure-u-12-24 control">
        <a  ng-if="!notification.is_read"  ng-click="markNotificationAsRead(notification);$event.stopPropagation()">标记为已读</a> 
        <a ng-click="deleteNotification(notification);$event.stopPropagation()">删除</a></div>
      </div>
    </div>

  </div>

</div>

<div ng-show="$state.includes('conversationList')" >
  

  <div ng-show="conversations.length==0" class="uh-main-section middle">
    <div class="uh-box-empty">
    <img src="images/message-empty.svg" width="120px;">
    <div>您还没有收到任何消息</div>
    </div>
  </div>
<!-- converstion template -->
  <div ng-show="conversations.length > 0" ng-repeat="conversation in conversations" ng-click="goToDetail(conversation)"  class="uh-main-section middle uh-message">
    <!-- <div  class="uh-main-section middle uh-message"> -->
    <div class="pure-u-2-24 icon">
      <img src="images/icon-conversation.svg" width="30px;">
    </div>

    <div class="pure-u-21-24">
      <div class="title">{{conversation.title}}</div>
      <div class="content">{{conversation.latest_message.content}}</div>
      <div class="info">
        <div class="pure-u-12-24 time">{{conversation.latest_message.created_at}}</div>
        <div class="pure-u-12-24 control">
          <a ng-if="!conversation.is_read_by_customer" ng-click="markConversationAsRead(conversation);$event.stopPropagation()">标记为已读</a> 
          <a ng-click="deleteConversation(conversation);$event.stopPropagation()">删除</a>
        </div>
      </div>
    </div>
    
  </div>
</div>


<form ng-show="$state.includes('contact')" name="contactForm">
<div class="uh-main-section message last">

  <div class="pure-g uh-form-section">
    <div class="title pure-u-3-24">主题</div>
    <div class="pure-u-3-4">
      <input 
        name="title"
        validator="required"
        ng-model="contactMsg.title"
        type="text">
    </div>
  </div>
  <div class="pure-g uh-form-section">
    <div class="title pure-u-3-24">相关单号</div>
    <div class="pure-u-3-4">
      <div class="pure-u-1">
        <input name="reference_code" ng-model="contactMsg.reference_code">
      </div>
      <div class="pure-u-1 desc">请填写相关订单号、入库单号或其他信息，方便我们快速找到您的包裹或订单。</div>
    </div>
  </div>

  <div class="">
    <textarea 
      name="content"
      validator="required"
      ng-model="contactMsg.content" 
      name="" 
      rows="5">
    </textarea>
  </div>
 </div>
 <div class="uh-main-action">
   <div class="btn-back left"></div>
   <div validation-submit="contactForm"  ng-click="sendContact()" class="btn-msg-send right"></div>
</div>

</form>
