// Kaijun
// Landing Page

@import "utils.scss";
//Colors
$main-button-color: #5579B9;

// 首页顶栏
.lp-navbar{
  $navbar-height: 50px;
  // height: $navbar-height;
  background-color: #3F3F3F;
  .lp-navbar-logo{
      display: inline-block;
      text-align: left;

      @include phone {
        text-align: center;
      }

    .logo{
      display: inline-block;
      line-height: 32px;
      padding-left: 50px;
      margin: 9px 0 9px 30px;
      background: url(/images/logo.png) no-repeat left center;
      background-size: contain;
      color: rgba(255, 0, 0, 0);
      font-size: 22px;

    }
  }

  .lp-navbar-list{
    display: inline-block;
    text-align: right;
    @include phone {
      background-color: #3F3F3F;
      text-align: center;
    }
    ul{
      line-height: $navbar-height;
      margin: 0;
      font-size: 14px;
      color: white;
    }
    ul li{
      height: $navbar-height;
      display: inline-block;
      padding: 0 1.5em;

      &.color-light{
        background-color: $main-button-color;
      }
    }
    a{
      color: white;
      text-decoration: none;
    }
    a:hover{
      opacity: 0.8;
    }
  }
}


.custom-toggle {
    width: 32px;
    height: 32px;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    margin: 9px 0;
}

.custom-toggle .bar {
    background-color: #777;
    display: block;
    width: 20px;
    height: 2px;
    border-radius: 100px;
    position: absolute;
    top: 18px;
    right: 7px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.custom-toggle .bar:first-child {
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px);
}

.custom-toggle.x .bar {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.custom-toggle.x .bar:first-child {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.lp-main-section{
  position: relative;
  .lp-main-intro{
    margin: 0 auto;
    left: 0;
    right: 0;
    padding: 2em;
    max-width: 32em;
    z-index: 1;
    color: white;
    text-align: center;
    position: absolute;
    top: 20px;

    h1 {
      margin: 2em 0;
    }

    .lp-main-search{
      margin-top: 30em;
      width: 90%;
      height: 3em;
      padding-left: 2em;
      background-color: #1F1F1F;
      border-radius: 30px;
      border-color: white;
      border:thin solid white;
      .lp-search-input{
        float: left;
        height: 2.8em;
        background-color:#1F1F1F;
        border: 0;
        width: 80%;
      }
      .lp-search-btn{
        float: right;
        margin-top: 4px;
        margin-right: 5px;
        background-color:#536FB3;
        height: 30px;
        width: 30px;
        padding:5px;
        border-radius:20px;
      }
    }


  }
}

//JpBanner 图片
.lp-banner{
  $banner-height: 670px;
  height: $banner-height !important;
  position: relative;
  overflow: auto;
  h3{
    line-height: 2em;
  }
  ul{
    margin: 0;
    padding: 0;
    list-style: none;
    li{
      float: left;
      width: 100%;
      position: relative;
      text-align: center; /* ensures the image is always in the h-middle */
      overflow: hidden; /* hide the cropped portion */

      //avoid 4px inline-block's space
      font-size: 0;
      img {
        height: $banner-height;
        display: inline-block;
        //center if box is smaller than img
        position: relative;
        left: 100%;
        margin-left: -200%;
      }

      .title{
        position: absolute;
        top: 5em;
        left:0;
        right:0;
        text-align: center;
        color: white;
        z-index: 10;
      }
      .content{
        position: absolute;
        top: 12em;
        left:0;
        right:0;
        text-align: center;
        color: white;
        z-index: 10;
      }
    }
  }

  .dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  text-align: center;
  }

  .dots li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 4px;
    text-indent: -999em;
    border: 2px solid #fff;
    border-radius: 6px;
    cursor: pointer;
    opacity: .4;
    -webkit-transition: background .5s, opacity .5s;
    -moz-transition: background .5s, opacity .5s;
    transition: background .5s, opacity .5s;
  }

  .dots li.active {
    background: #fff;
    opacity: 1;
  }
}




// 首页各种块
.lp-section-bg{
  padding: 4.5em 0 0 0;
  &.bg1{
    background: #037286;
    background: linear-gradient(to bottom, #037286 0%,#57ec96 100%);
  }
  &.bg2{
    background: #4784c9; /* Old browsers */
    background: linear-gradient(to bottom, #4784c9 0%,#7ec9e9 100%);
  }
}
.lp-section-wrapper{
  margin: 0 auto;
  max-width: 980px;
  text-align: center;
  &.reverse{
    color: white;
  }
}
// 首页分三小块的信息
.lp-section-grid-wrapper{
  padding: 3em 0 6em 0;
  .lp-section-grid{
    padding-top: 2em;
    box-sizing: border-box;
    border-right: solid 1px #CCCCCC;
    &:last-child{
      border-right: 0;
    }
    &.reverse{
      color: white;
      border-right: solid 1px white;
    }
    img{
      max-height: 3em;
      margin-bottom: 2em;
    }
  }
}
// 首页General信息 (购物袋 转运介绍)
.lp-shopping-img{

  box-sizing: border-box;
  padding: 0 2em;

  img{
    display: block;
    width: 100%
  }
}
.lp-shopping-intro{
  color: white;
  text-align: left;
  box-sizing: border-box;
  padding: 1em 4em;
}

.lg-shopping-notice{
  box-sizing: border-box;
  padding: 2em 0 0 2em;
  text-align: left;
  h1{
    margin-top: 1em
  }
  ul{
    padding: 0;
    list-style: none;
    li{
      padding: 0.3em 0;
    }
  }
}
.lp-news-list{
  width: 100%;
  line-height: 35px;
  font-size: 1em;
  margin-bottom: 5px;
  .right{
    text-align: right;
    color: #333;
    padding: 0 15px;
    float: right;
    width: 30%;
  }
  .left{
    float: left;
    width: 70%
  }
  a{
    text-decoration: none;
    color: #505050;
    cursor: pointer;
  }
  &.last-of-type{
    margin-bottom: 10px 0;
  }
}

.lp-news-span{
  font-size: 2em;
  margin: 5px 0;
  &:first-of-type{
    margin-top: 0;
  }
}
