// 此CSS服务的页面为所有二级页面，域名空间为sp

.sp-box{
  max-width: 980px;
  margin: 0 auto;
}

$navbar-height:50px;
$pager-height:30px;

.sp-navbar{
  margin: 20px 0;
  .sp-navbar-list{
  display: inline-block;
  text-align: right;
  ul{
  line-height: $navbar-height;
  margin: 0;
  font-size: 14px;
  color: white;
  }
  ul li{
  height: $navbar-height;
  display: inline-block;
  padding: 0 1.5em;

  &.color-light{
    border-bottom: 4px solid #4DA1B0;
    }
  }
  a {
    cursor: pointer;
    text-decoration:none;
    color: white;
  }
  a:hover{
    opacity: 0.9;
  }
  }
}

.sp-sider-nav{
  text-align: center;
  margin: 0 auto;
  ul{
    margin: 0;
    padding: 0;
    width: 90%;
    color: white;
    font-size: 16px;
  }
  ul li{
    margin: 20px 0;
    padding:0 ;
    list-style: none;
    line-height: $navbar-height;
   &.selected{
    background: #4DA1B0;
    border-radius: 30px;
   }
    img{
      margin: -8px 15px;
    }

  }
}

.sp-article{
  background-color:white;
  border-radius:5px;
  height: 400px;
  padding:30px;
  .sp-article-header{
    line-height: 1.5em;
    font-size: 1.5em;
    color: #666666;
  }
  .sp-article-time{
    text-align: right;
    font-size: 14px;
    color: #999999;
    padding-top: 10px;
    line-height: 1.5em;
  }
  .sp-article-divider{
    line-height: 5px;
    margin-top:10px; 
    border-bottom: thin solid #999999;
  }
}


.sp-pager{
  text-align: right;
  margin: 20px 0;
  ul{
    line-height: $pager-height;
    margin: 0;
    font-size:14px;
    color: white;
  }
  ul li{
    padding: 0 1.5em;
    line-height: $pager-height;
    display: inline-block;
  }
}


// 新闻和登录注册框
.news-box{
  clear: both;
  background: #ffffff;
  padding: 0 10px 10px 10px;
  height: 100%;
  border-radius: 10px;
  .red-flag{
    text-align: center;
    font: 12px;
    line-height: 32px;
    color: #ffffff;
    width: 97px;
    height: 32px;
    background: #E84B4B;
    clear: both;
    margin: 0 auto;
  }
  .pr-header{
    text-align: center;
    clear: both;
    font-size: 32px;
    padding:10%;
    box-sizing: border-box;
  }
  .pr-btn{
    text-align:center;
    clear: both;
    border: 1px #E84B4B solid;
    border-radius:17px;
    height: 34px;
    line-height: 34px;
    width: 195px;
    color: #E84B4B;
    margin: 0 auto;
  }
  &.index{
    border-radius: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }


}

.sp-formheader{
  margin: 1em 2em 0 2em;
  clear: both;
  height: 30px;
  line-height: 30px;
  .headline {
    width: 40%;
    float: left;
    font-size:18px;
    color: #666666;
  }
  .linktext {
    text-align: right;
    width: 40%;
    float: right;
    font-size:14px;
    text-decoration: none;
  }
  .linktext a{
    text-decoration: none;
  }
  .linktext a:hover{
    text-decoration: underline;
  }

}
.sp-form{
  box-sizing:border-box;
  text-align: left;
  padding: 0 2em;
  margin: 0 auto;
.sp-input{
    padding-left: 10%;
    height: 45px;
    width: 100%;
    border: 0;
    margin: 10px 0 15px 0;
    background:#f3f3f3;
    clear: both;
    border-radius: 5px;
  }
.user{
    background:url("/images/user-icon.png") no-repeat #f3f3f3 10px;
  }
.pwd{
    background:url("/images/pwd-icon.png") no-repeat #f3f3f3 10px;
  }
.f-pwd{
    background:url("/images/first-pwd-icon.png") no-repeat #f3f3f3 10px;
  }
.email{
    background:url("/images/mail-icon.png") no-repeat #f3f3f3 10px;
}

.des{
    width: 100%;
    clear: both;
    padding: 10px 0;
    text-align: left;
  }
  .left{
      text-align: left !important;
      float: left;
    }
  .right{
      float: right;
  }
  .center{
    text-align: center;
  }

}

button{
  padding: 0 20px 0 20px;
  clear: both;
  width: 196px;
  border-radius:20px;
  height: 40px;
  line-height: 40px;
  color: #ffffff;
  margin-top:10px;
  background:#00ABD8;
}


.smalltext{
  font-size:12px;
}

/* jpu添加参数结束*/


/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}

/* Custom page footer */
.footer {
  background: #f3f3f3;
  margin-top:40px;
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
  span{
    padding-left:10px;
  }
}

.container-narrow > hr {
  margin: 30px 0;
}

