// 此CSS服务的页面为所有二级页面，域名空间为sp
.sp-box{
  max-width: 980px;
  margin: 0 auto;
}
.container{
  padding:0;
  height: 100vh;
  // min-height: 100%;
  width: 100%;
  position: relative;
  margin:0;
  background: -moz-linear-gradient(top, #044b58 0%, #a3a3a3 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#044b58), color-stop(100%,#a3a3a3)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #044b58 0%,#a3a3a3 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #044b58 0%,#a3a3a3 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #044b58 0%,#a3a3a3 100%); /* IE10+ */
  background: linear-gradient(to bottom, #044b58 0%,#a3a3a3 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#044b58', endColorstr='#a3a3a3',GradientType=0 ); 
}

$navbar-height:50px;
$pager-height:30px;

.sp-navbar{
  margin: 30px 0 40px 0;
  .sp-navbar-list{
  display: inline-block;
  text-align: right;
  ul{
  line-height: $navbar-height;
  margin: 0;
  font-size: 14px;
  color: white;
  }
  ul li{
  height: $navbar-height;
  display: inline-block;
  padding: 0 1.5em;

  &.color-light{
    border-bottom: 4px solid #4DA1B0;
    }
  }
  a {
    cursor: pointer;
    text-decoration:none;
    color: white;
  }
  a:hover{
    opacity: 0.9;
  }
  }
}

.sp-sider-nav{
  min-height: auto;
  text-align: center;
  margin: 0 auto;
  background: #f8f8f8;
  border-radius: 5px 0 0 5px;
  ul{
    margin: 20px auto;
    padding: 0;
    width: 90%;
    font-size: 16px;
  }
  ul li{
    margin: 30px 10px;
    padding-left:10px;
    list-style: none;
    line-height: 50px;
    &.sp-news{
      background: url('/images/sn-news.svg') 20px 15px no-repeat;
      &.active{
        background: url('/images/sn-news-a.svg') 20px 15px  #4DA1B0 no-repeat;
        border-radius: 5px;
        color: white;
      }
    }
    &.sp-event{
      background: url('/images/sn-event.svg') 20px 15px no-repeat;
            &.active{
        background: url('/images/sn-event-a.svg') 20px 15px  #4DA1B0 no-repeat;
        border-radius: 5px;
        color: white;
      }
    }
    &.sp-shop{
      background: url('/images/sn-shop.svg') 20px 15px no-repeat;
            &.active{
        background: url('/images/sn-shop-a.svg') 20px 15px  #4DA1B0 no-repeat;
        border-radius: 5px;
        color: white;
      }
    }
  }
}

.sp-article{
  position: relative;
  background-color:white;
  border-radius:0 5px 5px 0;
  min-height: 60vh;
  padding:20px 30px;
  .sp-article-header{
    margin-top: 20px;
    line-height: 1.5em;
    font-size: 1.5em;
  }
  .sp-article-time{
    text-align: right;
    font-size: 14px;
    color: #999999;
    padding-top: 10px;
    line-height: 1.5em;
  }
  .sp-article-content{
    line-height: 24px;
    margin-top: 30px;
  }
  .sp-article-list{
    line-height: 40px;
    font-size: 14px;
  }
  .right{
    text-align: right;
  }
}


.sp-pager{
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  clear: both;
  
  ul{
    line-height: 30px ;
    margin: 0;
    font-size:14px;
    color: white;
  }
  ul li{
    color: #000;
    padding: 0 1.5em;
    line-height: 30px;
    display: inline-block;
  }
}


// 新闻和登录注册框
.news-box{
  min-height: 300px;
  clear: both;
  background: #ffffff;
  padding: 0 10px 10px 10px;
  height: 100%;
  border-radius: 10px;
  .red-flag{
    text-align: center;
    font: 12px;
    line-height: 32px;
    color: #ffffff;
    width: 97px;
    height: 32px;
    background: #E84B4B;
    clear: both;
    margin: 0 auto;
  }
  .pr-header{
    text-align: center;
    clear: both;
    font-size: 32px;
    padding:10%;
    box-sizing: border-box;

    ul{
      margin: 0;
      padding: 0;
      list-style: none;
      li{
        float: left;
        width: 100%;
        display: block;
        position: relative;
        text-align: center; /* ensures the image is always in the h-middle */
        overflow: hidden; /* hide the cropped portion */
      }
    }
  }
  .pr-btn{
    font-size: 16px;
    text-align:center;
    clear: both;
    border: 1px #E84B4B solid;
    border-radius:17px;
    height: 34px;
    line-height: 34px;
    width: 195px;
    color: #E84B4B;
    margin: 0 auto;
    margin-top: 36px;
  }
  &.index{
    border-radius: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }


}

.sp-formheader{
  margin: 1em 2em 0 2em;
  clear: both;
  height: 30px;
  line-height: 30px;
  .headline {
    width: 40%;
    float: left;
    font-size:18px;
    color: #666666;
  }
  .linktext {
    text-align: right;
    width: 40%;
    float: right;
    font-size:14px;
    text-decoration: none;
  }
  .linktext a{
    text-decoration: none;
  }
  .linktext a:hover{
    text-decoration: underline;
  }

}

label{
  padding-left:8px;
}
.sp-form{
  box-sizing:border-box;
  text-align: left;
  padding: 0 2em;
  margin: 0 auto;
.sp-input{
    padding-left: 10%;
    height: 45px;
    width: 100%;
    border: 0;
    margin: 10px 0 15px 0;
    background:#f3f3f3;
    clear: both;
    border-radius: 5px;
    box-sizing:border-box;
  }
.user{
    background:url("/images/user-icon.png") no-repeat #f3f3f3 10px;
  }
.pwd{
    background:url("/images/pwd-icon.png") no-repeat #f3f3f3 10px;
  }
.f-pwd{
    background:url("/images/first-pwd-icon.png") no-repeat #f3f3f3 10px;
  }
.email{
    background:url("/images/mail-icon.png") no-repeat #f3f3f3 10px;
}

.des{
    width: 100%;
    clear: both;
    height: auto;
    padding: 10px 0;
    text-align: left;
  }
  .left{
    width: 50%;
      text-align: left;
      float: left;
    }
  .right{
      float: right;
  }
  .center{
    text-align: center;
  }
.tips{
  color: white;
  border-radius:5px;
  padding:5px;
  margin: 10px 0;
  background:#E24545;
  text-align: center;
  }
.dismiss{
  display: none;
}

}

button{
  padding: 0 20px 0 20px;
  clear: both;
  width: 100%;
  border-radius: 20px;
  height: 40px;
  line-height: 40px;
  color: #ffffff;
  margin-top:10px;
  background:#00ABD8;
}


.smalltext{
  font-size:12px;
}

/* jpu添加参数结束*/


/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}

/* Custom page footer */
.footer {
    // position: absolute;
  width: 100%;
  background: #f3f3f3;
  margin-top:40px !important;
  color: #777;
  padding:40px 0 30px 0;
  border-top: 1px solid #e5e5e5;
  box-sizing:border-box;
  span{
    padding-left:10px;
  }
  &.sp-footer{
    position: absolute;
 left: 0;
  bottom:0;
        
  }
}


.container-narrow > hr {
  margin: 30px 0;
}

