$icon-font-path: '../fonts/';

// bower:scss
// @import "bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "/bower_components/normalize/normalize.min.css";
@import "/bower_components/pure/pure-min.css";
@import "/bower_components/pure/grids-responsive-min.css";
// endbower


//Utils
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@import "landing-page.scss";
@import "login.scss";



.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.button-success,
.button-error,
.button-warning,
.button-secondary {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
    background: #57BA1E; /* this is a green */
}

.button-error {
    background: rgb(202, 60, 60); /* this is a maroon */
}

.button-warning {
    background: rgb(223, 117, 20); /* this is an orange */
}

.button-secondary {
    background: rgb(66, 184, 221); /* this is a light blue */
}

/* em pure-hidden values */

@media (min-width:980px){
    .pure-visible-phone{display:none}
    .pure-visible-tablet{display:none}
    .pure-hidden-desktop{display:none}
}
@media (max-width:767px){
    .pure-hidden-phone{display:none}
    .pure-visible-desktop{display:none}
}
@media (min-width:768px) and (max-width:979px){
    .pure-hidden-tablet{display:none}
    .pure-visible-desktop{display:none}
}




