$icon-font-path: '../fonts/';

// bower:scss
// @import "bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "/bower_components/pure/pure-min.css";
@import "/bower_components/pure/grids-responsive-min.css";
// endbower

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}


/* jpu添加参数 */
// 添加宽带限制 -jpu

.l-box{
  max-width: 980px;
  margin: 0 auto;
}

.pure-menu-link{
  color: #ffffff;
}



// 新闻和登录注册框
.news-box{
  clear: both;
  background: #ffffff;
  padding: 0 10px 10px 10px;
  height: 100%;
  border-radius: 10px;
  .red-flag{
    text-align: center;
    font: 12px;
    line-height: 32px;
    color: #ffffff;
    width: 97px;
    height: 32px;
    background: #E84B4B;
    clear: both;
    margin: 0 auto;
  }
  .pr-header{
    text-align: center;
    clear: both;
    font-size: 32px;
    padding:10%;
    width: 80%;
  }
  .pr-btn{
    text-align:center;
    clear: both;
    border: 1px #E84B4B solid;
    border-radius:17px;
    height: 34px;
    line-height: 34px;
    width: 195px;
    color: #E84B4B;
    margin: 0 auto;
  }


}

.custom-formheader{
  margin: 20px 5% 0 5%;
  clear: both;
  height: 30px;
  line-height: 30px;
  h2{
    font-size: 18px;
    line-height: 30px;
  }

}
.custom-form{
  text-align: center;
  padding: 5%;
  margin: 0 auto;
  input{
    padding-left: 10%;
    height: 45px;
    width: 90%;
    border: 0;
    margin: 10px 0 15px 0;
    background:#f3f3f3;
    clear: both;
    border-radius: 5px;
  }
  .user{
    background:url("../img/user-icon.png") no-repeat #f3f3f3 10px;
  }
  .pwd{
    background:url("../img/pwd-icon.png") no-repeat #f3f3f3 10px;
  }

  button{
    padding: 0 20px 0 20px;
    clear: both;
    width: 196px;
    border-radius:20px;
    height: 40px;
    line-height: 40px;
    color: #ffffff;
    margin-top:10px;
    background:#00ABD8;
  }
}

.smalltext{
  font-size:12px;
}

/* jpu添加参数结束*/


/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  background: #f3f3f3;
  margin-top:40px;
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
  span{
    padding-left:10px;
  }
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
