$icon-font-path: '../fonts/';

// bower:scss
// @import "bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "/bower_components/normalize/normalize.min.css";
@import "/bower_components/pure/pure-min.css";
@import "/bower_components/pure/grids-responsive-min.css";
// endbower



.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.button-success,
.button-error,
.button-warning,
.button-secondary {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
    background: #57BA1E; /* this is a green */
}

.button-error {
    background: rgb(202, 60, 60); /* this is a maroon */
}

.button-warning {
    background: rgb(223, 117, 20); /* this is an orange */
}

.button-secondary {
    background: rgb(66, 184, 221); /* this is a light blue */
}

/* em pure-hidden values */

@media (min-width:980px){
    .pure-visible-phone{display:none}
    .pure-visible-tablet{display:none}
    .pure-hidden-desktop{display:none}
}
@media (max-width:767px){
    .pure-hidden-phone{display:none}
    .pure-visible-desktop{display:none}
}
@media (min-width:768px) and (max-width:979px){
    .pure-hidden-tablet{display:none}
    .pure-visible-desktop{display:none}
}



/* jpu添加参数 */
// 添加宽带限制 -jpu

.l-box{
  max-width: 980px;
  margin: 0 auto;
}

.pure-menu-link{
  color: #ffffff;
}



// 新闻和登录注册框
.news-box{
  clear: both;
  background: #ffffff;
  padding: 0 10px 10px 10px;
  height: 100%;
  border-radius: 10px;
  .red-flag{
    text-align: center;
    font: 12px;
    line-height: 32px;
    color: #ffffff;
    width: 97px;
    height: 32px;
    background: #E84B4B;
    clear: both;
    margin: 0 auto;
  }
  .pr-header{
    text-align: center;
    clear: both;
    font-size: 32px;
    padding:10%;
    width: 80%;
  }
  .pr-btn{
    text-align:center;
    clear: both;
    border: 1px #E84B4B solid;
    border-radius:17px;
    height: 34px;
    line-height: 34px;
    width: 195px;
    color: #E84B4B;
    margin: 0 auto;
  }
  &.index{
    border-radius: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }


}

.custom-formheader{
  margin: 20px 5% 0 5%;
  clear: both;
  height: 30px;
  line-height: 30px;
  h2{
    font-size: 18px;
    line-height: 30px;
  }

}
.custom-form{
  text-align: center;
  padding: 5%;
  margin: 0 auto;
  input{
    padding-left: 10%;
    height: 45px;
    width: 90%;
    border: 0;
    margin: 10px 0 15px 0;
    background:#f3f3f3;
    clear: both;
    border-radius: 5px;
  }
  .user{
    background:url("../img/user-icon.png") no-repeat #f3f3f3 10px;
  }
  .pwd{
    background:url("../img/pwd-icon.png") no-repeat #f3f3f3 10px;
  }

  button{
    padding: 0 20px 0 20px;
    clear: both;
    width: 196px;
    border-radius:20px;
    height: 40px;
    line-height: 40px;
    color: #ffffff;
    margin-top:10px;
    background:#00ABD8;
  }
}

.smalltext{
  font-size:12px;
}

/* jpu添加参数结束*/


/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}

/* Custom page footer */
.footer {
  background: #f3f3f3;
  margin-top:40px;
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
  span{
    padding-left:10px;
  }
}

.container-narrow > hr {
  margin: 30px 0;
}


// Kaijun


//Colors
$main-button-color: #5579B9;

//Utils
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

// Landing Page
// 首页顶栏
.navbar{
  $navbar-height: 50px;
  height: $navbar-height;
  background-color: #3F3F3F;
  @include clearfix;

  .logo{
    float: left;
    line-height: 32px;
    padding-left: 50px;
    margin: 9px 0 9px 30px; 
    background: url(/images/logo.png) no-repeat left center;
    background-size: contain; 
    color: rgba(255, 0, 0, 0);
    font-size: 22px;
  }

  ul{
    float: right;
    line-height: $navbar-height;
    margin: 0;
    font-size: 14px;
    color: white;
  }
  ul li{
    height: $navbar-height;
    display: inline-block;
    padding: 0 1.5em;

    &.color-light{
      background-color: $main-button-color;
    }
  }
}



//JpBanner 图片
.lp-banner{
  max-height: 670px;
  img{
    width: 100%;
  }
}




// 首页各种块
.lp-section-bg{
  padding: 4.5em 0 0 0;
  &.bg1{
    background: #037286;
    background: linear-gradient(to bottom, #037286 0%,#57ec96 100%); 
  }
  &.bg2{
    background: #4784c9; /* Old browsers */
    background: linear-gradient(to bottom, #4784c9 0%,#7ec9e9 100%);
  }
}
.lp-section-wrapper{
  margin: 0 auto;
  max-width: 980px;
  text-align: center;
  &.reverse{
    color: white;
  }
}
// 首页分三小块的信息
.lp-section-grid-wrapper{
  padding: 3em 0 6em 0;
  .lp-section-grid{
    padding-top: 2em;
    box-sizing: border-box;
    border-right: solid 1px #CCCCCC; 
    &:last-child{
      border-right: 0; 
    }
    &.reverse{
      color: white;
      border-right: solid 1px white; 
    }
    img{
      max-height: 3em;
      margin-bottom: 2em;
    }
  }
}
// 首页General信息 (购物袋 转运介绍)
.lp-shopping-img{

  box-sizing: border-box;
  padding: 0 2em;

  img{
    width: 100%
  }
}
.lp-shopping-intro{
  color: white;
  text-align: left;
  box-sizing: border-box;
  padding: 1em 4em;
}

.lg-shopping-notice{
  box-sizing: border-box;
  padding: 2em 0 0 2em;
  text-align: left;
  h1{
    margin-top: 1em
  }
  ul{
    padding: 0;
    list-style: none;
    li{
      padding: 0.3em 0;
    }
  }
}
// 首页底栏
.lp-footer{

}

