
<div class="ah-list">
  <div class="ah-main-header">
    <div class="left">
      <span class="title">物流线路管理</span>
    </div>
  </div>


    <div class="list">
      <table class="pure-table pure-table-horizontal ah-list-table">
        <thead>
          <tr>
            <th width="25px;"><input type="checkbox"></th>
            <th>线路名称</th>
            <th>线路描述</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><input type="checkbox"></td>
            <td>DHL特别线路</td>
            <td>适用于最新的活动</td>
            <td>修改｜删除</td>
          </tr>
        </tbody>
      </table>
    </div>
  <div class="ah-action-btns"> 
    <div class="left">
      <a  ng-if="pageInfo.prev_page_url" ng-click="requestPage(pageInfo.prev_page_url)" >上一页</a>
      <a  ng-if="pageInfo.next_page_url" ng-click="requestPage(pageInfo.next_page_url)" >下一页</a>
    </div>
    <div class="right">
      <a  ng-click="" class="pure-button red horizon">批量删除</a>
      <a  ui-sref="logisticManage" ng-click="" class="pure-button blue horizon">添加新线路</a>
    </div>
  </div>
  
</div>