
// bower:scss
// @import "bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// @import "/bower_components/normalize/normalize.min.css";
// @import "/bower_components/pure/pure-min.css";
// @import "/bower_components/pure/grids-responsive-min.css";

//Utils
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

// endbower
// 前缀uh user-home
$topnavheight:30px;
$navheight:50px;
body{
    height: 100%;
    background: #0a2d58 no-repeat fixed;
    background: linear-gradient(to bottom, #0a2d58 0%, #dafde2 100%) no-repeat fixed;
}

input[type="text"], select{
    height: 30px !important;
    background-color: #F8F8F8 !important;
}
textarea{
    background-color: #F8F8F8 !important;
}


.uh-box{
    width:980px;
    margin:0 auto; 
}
// 顶部黑色导航条
.uh-topnav{
    background:#2c2c2c;
    font-size: 12px;
    color: white;
    padding:0 1.5em;
    line-height: $topnavheight;
    text-align: left;
    .uh-topnav-list{
        text-align: right;
    ul{
        line-height: $topnavheight;
        margin:0; 
    }
    ul li{
        list-style: none;
        padding: 0 1.5em;
        display: inline-block;
        height: $topnavheight;
    }

    }
   
}


.uh-nav{
    background:#3F4348;
    line-height: $navheight;
    color: white;
    font-size: 18px;
    img{
        vertical-align: middle;
        line-height: $navheight;
        display: inline-block;
        padding-right:1em;
    }
    .uh-nav-list{
        text-align: right;
    ul{
        line-height: $navheight;
        margin:0; 
        font-size: 14px;
    }
    ul li{
        list-style: none;
        padding: 0 1.5em;
        display: inline-block;
        height: $navheight;
        &.selected{
            background:url('/images/uh-indicator.png') no-repeat bottom center; 
        }
    }


    }
}

.uh-siderbar{
    margin: 0 auto;
    padding: 1.5em 0;
    .uh-siderbar-avater{
        width: 150px;
        height: 150px;
        background:white;
        border-radius: 5px;
        img{
            margin: 0 auto;
            padding:2px;
        }
    }
    .uh-siderbar-info{
        font-size: 16px;
        color: white;
        ul{
            line-height: $topnavheight;
            margin: 0;
            padding: 0;
            font-size: 14px;
        }
        ul li{
            padding:0;
            line-height: $topnavheight;
            list-style:none;
        }
        .addmoney{
                background:#FF8250;
                line-height: 15px;
                border-radius:5px;
                font-size: 12px;
                padding:5px 10px;
                margin-left: 5px;
        }
        .addmoney:hover{
            background:#F06127;
        }
    }
    .uh-siderbar-fastopt{
        margin-top:20px; 
        ul{
            line-height: 34px;
            margin:0;
            padding:0;
            font-size: 14px;
            color: white;
        }
        ul li{
            width: 110px;
            margin-top: 10px;
            border-radius:17px;
            background:#4A90E2;
            padding-left:40px;
            line-height: 34px;
            list-style: none;
            &.prestock{
                background:url('/images/uh-btn-prestock.png') no-repeat #4A90E2 10% 50%;
            }
            &.movestock{
                background:url('/images/uh-btn-movestock.png') no-repeat #4A90E2 10% 50%;
            }
            &.sendstock{
                background:url('/images/uh-btn-sendstock.png') no-repeat #4A90E2 10% 50%;
            }

            a{
                color: inherit;
                text-decoration: none;
            }
        }
    }

}

.uh-main{
    background:white;
    padding: 24px;
}


.uh-main-header{
    @include clearfix;
    padding-bottom: 10px;
    border-bottom: solid 3px #D1D1D1;
    .left{
        float: left;
        .title{
            display: inline-block;
            font-size: 18px;
            line-height: 18px;
            padding: 10px ;
            border-left: solid 5px #E65F5F;
            &.blue{
                border-left: solid 5px #147DE0;
            }
        }
    }
    .right{
        margin-top: 12px;
        float: right;
    }
}

.uh-main-body{
    padding-top: 24px;
}
.uh-divider{
    margin: 20px 0;
    border-bottom: solid 1px #D1D1D1;
    &.thick{
        border-bottom: solid 2px #D1D1D1;
    }
}

.uh-list{
    .uh-list-body{
        .tab{
            padding: 20px 0;                
            border-bottom: solid 3px #D1D1D1;
            .pure-button{
                &:hover{
                    background-color: #91C1FA;
                    color: white;
                }
                &.active{
                    color: white;
                    background-color: #91C1FA;
                }
                color: #4A7FB2;
                background: transparent;
                margin-right: 64px;
            }
        }
        .list{
            padding: 18px 0;


        }
    }
}

// 最好切换到uh-line-talbe
.uh-custom-table{
    table-layout: fixed;
    width: 100%;
    border: none;
    thead{
        background: none;
        th{
            display: table-cell !important;
            padding: 8px 0;
        }
    }

    tbody{
        tr{
            border-bottom: solid 1px #D1D1D1;
        }
        td{
            padding: 16px 8px 16px 0;
        }
    }
}


.uh-stock-submit{
    .item-list{
        .uh-custom-table tbody tr{
            border: none;
        }
        .uh-custom-table tbody td {
          padding: 5px 8px 5px 0; 
          border: none;
        }
        .options{  
            margin-top: 12px;
            text-align: center;
        }
        .item-delete-icon{
            display: inline-block;
            width: 24px;
            height: 24px;
            background: url(../images/uh-item-delete.png) no-repeat center center;
            cursor: pointer;
        }
    }

    .pic-upload{
        padding: 16px 0;
    }

    .action-btns{
        padding-top: 48px;
        @include clearfix;
        .left{
            float: left;
        }
        .right{
            float: right;
        }
    }

    .entry{
          margin: 16px 0;
        .title{
            line-height: 30px;
            font-size: 16px;
        }
        .desc{
            font-size: 12px;
            color: #969696;
            padding: 5px 0 5px 24px;
            background: url(../images/uh-help-desc.png) no-repeat left center;
        }
    }

    .radio-group{
        margin-bottom: 8px;
        input[type="radio"]{
            margin-right: 5px;
        }
        label{
            margin-right: 12px;
            display: inline-block;
        }
    }
}






//Widgets

// 此为每一个section的标题
.uh-section{
    line-height: 20px;
    font-size: 18px;
    color: #666666;
    padding:10px 0;
    margin-top: 10px;
    &.first-child{
        margin: 0;
        padding-top: 0;
    }

}
// 此定义无边框的表格
.uh-small-table{
    table-layout: fixed;
    width: 100%;
    border: none;
    thead{
        background: none;
        th{
            display: table-cell !important;
        }
    }

    tbody{
        tr{
            border:0;
        }
        td{
            border: 0;
            font-size: 14px;
            line-height: 18px;
            padding-left: 8px;
        }
    }
}

// 重新写的表格样式，最好切换到此标签
.uh-line-table{
    font-size: 14px;
    table-layout: fixed;
    width: 100%;
    border: none;
    thead{
        background: none;
        th{
            border-top: solid 1px #D1D1D1;
            display: table-cell !important;
            padding: 8px 0 8px 8px;
        }
    }

    tbody{
        tr{
            border-bottom: 0;
        }
        td{
            padding: 8px 0px 8px 8px;
            border: 0;
        }
        tr:last-of-type{
            border-bottom: solid 1px #D1D1D1;
            &.sum{
                  border-top:solid 1px #D1D1D1;
                 font-weight: bold; 
                }
        }
    }

}


.pure-button{
    width: 80px;
    font-size: 14px;
    padding:10px 0 10px 10px;
    &.radius{
        border-radius: 2px;
    }

    &.lightblue{
        color: white;
        background-color: #91C1FA
    }
    &.back{
        color: white;
        background: url(../images/btn-back.png) no-repeat 10px center #4A90E2;
    }

    &.edit{
        color: white;
        background: url(../images/btn-edit.png) no-repeat 10px center#05B30C;
    }

    &.delete{
        color: white;
        background: url(../images/btn-delete.png) no-repeat 10px center #E2574A;
    }
    &.left{
        margin-left:10px; 
    }
    &.left:first-of-type{
        margin-left: 0;
    }
    &.right{
        float:right;
        margin-right:10px; 
    }
    &.right:first-of-type{
        margin-right: 0;
    }

}
.pure-button a{
    color: white;
    text-decoration: none;
}

.ng-table-counts{
    display: none;
}
.ng-table-pagination{
    padding-left: 8px;
    li{
        display: inline;
        list-style-type: none;
        padding-right: 5px;
        a{
          font-family: inherit;
          font-size: 100%;
          padding: .5em 1em;
          color: #444;
          color: rgba(0,0,0,.8);
          border: 1px solid #999;
          border: 0 rgba(0,0,0,0);
          background-color: #E6E6E6;
          text-decoration: none;
          border-radius: 2px;
        }
        &.active{
            a{
                box-shadow: 0 0 0 1px rgba(0,0,0,.15) inset,0 0 6px rgba(0,0,0,.2) inset;
                border-color: #000\9;
            }
        }
    }
}