
// bower:scss
// @import "bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// @import "/bower_components/normalize/normalize.min.css";
// @import "/bower_components/pure/pure-min.css";
// @import "/bower_components/pure/grids-responsive-min.css";

//Utils
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

input.invalid-input{
    border-color: red;
}
input.valid-input{
    border-color: green;
}

label.invalid-label{
    color: red;
}


.clickable:hover{
  cursor: pointer;
}
// endbower
// 前缀uh user-home
$topnavheight:30px;
$navheight:50px;
body{
    min-height: 100vh;
    height: 100%;
    background: #0a2d58 no-repeat;
    background: linear-gradient(to bottom, #0B4285 0%, #3E947C 100%) no-repeat;
}

// input[type="text"], select{
//     height: 30px !important;
//     background-color: #F8F8F8 !important;
// }
textarea{
    background-color: #F8F8F8 !important;
}


.uh-box{
    width:980px;
    margin:0 auto;
}
// 顶部黑色导航条
.uh-topnav{
    background:#2c2c2c;
    font-size: 12px;
    color: white;
    padding:0 1.5em;
    line-height: $topnavheight;
    text-align: left;
    .uh-topnav-list{
        text-align: right;
    ul{
        line-height: $topnavheight;
        margin:0;
    }
    ul li{
        list-style: none;
        padding: 0 1.5em;
        display: inline-block;
        height: $topnavheight;
        a{
            color: white;
            text-decoration: none;
        }
    }

    }


}


.uh-nav{
    background:#3F4348;
    line-height: $navheight;
    color: white;
    font-size: 18px;
    img{
        vertical-align: middle;
        line-height: $navheight;
        display: inline-block;
        padding-right:1em;
    }
    a{
        text-decoration: none;
        color: white;
    }

}

.uh-nav-list{
      // display: inline; // not working in firefox
  margin: 0;
    position:relative;
        text-align: right;
    ul{
        line-height: $navheight;
        margin:0;
        font-size: 14px;
    }
    ul li{
        list-style: none;
        padding: 0 1.5em;
        display: inline-block;
        height: $navheight;
        &.selected{
            background:url('/images/uh-indicator.png') no-repeat bottom center;
        }
    }
    ul li:hover{
        cursor: pointer;
        background:#000;
    }
    ul li:hover ul {
        display: block;
        opacity: 1;
        visibility: visible;
    }

    ul ul {
        z-index: 99;
      padding: 0;
      position: absolute;
      top: 50px;
      right: 73px;
      width: 150px;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      display: none;
    }
    ul ul li {
        text-align: center;
      background: #555;
      display: block;
      color: #fff;
      text-shadow: 0 -1px 0 #000;
    }
    ul ul li:hover {
        cursor: pointer;
        background: #666; }

}




.uh-siderbar{
    margin: 0 auto;
    padding: 1.5em 0;
    .uh-siderbar-avater{
        width: 150px;
        height: 150px;
        background:white;
        border-radius: 5px;
        img{
            margin: 0 auto;
            padding:2px;
        }
    }
    .uh-siderbar-info{
        font-size: 16px;
        color: white;
        ul{
            line-height: $topnavheight;
            margin: 0;
            padding: 0;
            font-size: 14px;
        }
        ul li{
            padding:0;
            line-height: $topnavheight;
            list-style:none;
        }
    }

        .addmoney{
                width: 150px;
                height: 38px;
                background:#FF8250;
                line-height: 38px;
                border-radius:20px;
                font-size: 14px;

                text-align: center;
                margin:10px 0;
                text-decoration: none;
                color: white;
        }
        .addmoney:hover{
            color: white;
            background:#F06127;
        }
        .addmoney a{
            text-decoration: none;
            color: white;
        }
    .uh-siderbar-fastopt{
        margin-top:20px;
        ul{
            line-height: 34px;
            margin:0;
            padding:0;
            font-size: 14px;
            color: white;
        }
        ul li{
            width: 110px;
            margin-top: 10px;
            background:#4A90E2;
            padding-left:40px;
            line-height: 34px;
            list-style: none;
            border-bottom: 1px solid white;
            &.prestock{
                background:url('../images/uh-btn-prestock.svg') no-repeat  10% 50%;
            }
            &.transstock{
                background:url('../images/uh-btn-sendstock.svg') no-repeat  10% 50%;
            }
            &.sendstock{
                background:url('../images/uh-btn-movestock.svg') no-repeat 10% 50%;
            }
            &.vorkasse{
                background:url('../images/uh-btn-vorkasse.svg') no-repeat 10% 50%;
            }

            a{
                color: inherit;
                text-decoration: none;
            }
        }
    }

}

.uh-main{
    // background:white;
    // padding: 24px;
    opacity: 1;

    &.ng-enter {
      transition:0.2s linear all;
      opacity:0;
    }
    &.ng-enter.ng-enter-active {
      opacity:1;
    }

    &.ng-leave {
      // transition:0.5s linear all;
      opacity:1;
    }
    &.ng-leave.ng-leave-active {
      opacity:0;
    }
}


.uh-main-header{
    @include clearfix;
    padding-bottom: 10px;
    margin-top: 20px;
    border-bottom: solid 1px #D1D1D1;

    &:first-of-type{

        margin-top:0;
    }
    .left{
        float: left;
        .title{
            display: inline-block;
            font-size: 16px;
            line-height: 18px;
            padding: 5px 10px;
            border-left: solid 5px #E65F5F;
            &.blue{
                border-left: solid 5px #147DE0;
            }
            &.green{
                border-left: solid 5px #6CBB10;
            }
        }
    }
    .right{
        margin-top: 12px;
        float: right;
    }
}

.uh-main-body{
    padding-top: 24px;
}

.uh-main-section{
    padding: 18px 24px;
    background:white;
    border-radius:0 0 5px 5px;
    box-shadow: 0 2px 4px #333;
    &:last-of-type{
        margin-bottom: 20px;
    }
    &.first{
        border-radius: 0;
    }
    &.message{
        background:#F8F8F8;
    }
    &.first-list{
        border-radius: 0 0 5px 5px;
        padding: 18px 24px 0 24px;
    }
    &.addition{
        background: #F9F9F9;
        border-radius: 0 0 5px 5px;
    }
    &.middle{
        border-radius: 5px;
        margin-top: 10px;
    }
    &.last{
        margin-top: 10px;
        border-radius: 5px 5px 0 0;
    }
    &.index{
        margin-bottom: 20px;
    }
    .desc{
    font-size: 12px;
    color: #969696;
    padding: 5px 0 5px 24px;
    background: url(../images/uh-help-desc.svg) no-repeat left center;
    }

}
.uh-main-tab{
    width: 100%;
    height: 40px;
    .left{
        width: 80%;
        float: left;
    }
    .right{
        text-align: right;
        width: 20%;
        float: right;
    }
    a {
        text-decoration: none;
        color: #000;
        &.active{
            border-bottom: 5px solid red;
            padding: 7px 0;
        }
    }

}

.uh-header-tab{
    font-size: 14px;
    line-height: 40px;
    margin-right: 30px;
    margin-bottom: 1px;
    .active{
        border-bottom: 1px solid #000;
    }
    &.function{
        margin-right: 0;
        color: #fff;
        padding:5px 10px;
        border-radius:99px;
        background:#4A90E2;
    }
}

.uh-main-headbar{
    height: 40px;
    margin-top: 20px;
    font-size: 14px;
    margin-bottom: 20px;
}

.uh-main-action{
    background: #3A6FAD;
     box-shadow: 0 2px 4px #333;
     border-radius: 0 0 5px 5px;
     margin-bottom: 20px;
     text-align: center;
     height: 50px;
     color: white;
     // padding: 5px 10px;
     line-height: 50px;
     a {
        margin-top:0;
        color: white;
     }
     a:hover{
        cursor: pointer;
     }
     .left{
        float: left;
        margin: 5px 15px;
        background: #376191;
        border-radius: 5px;
        width: 40px;
        height: 40px;
       &.withtext{
            width: 80px;
        }
        &:hover{
            cursor: pointer;
        }
     }
     .right{
        float: right;
        margin: 5px 15px;
        width: 40px;
        height: 40px;
        &.withtext{
            width: auto;
            height: 40px;
        }
        &:hover{
            cursor: pointer;
        }
     }
     .btn-back{
        background: url('../images/btn-back.png') #376191 no-repeat center;
     }
     .btn-pwd{
            font-size: 12px;
            line-height: 40px;
            padding-left: 10px;
         background: url('../images/btn-pwd.svg') #376191 no-repeat 8px 12px;
         background-size: 15px 15px;
     }
     .btn-confirm{
        background: url('../images/btn-confirm.svg') no-repeat center;
        background-size: 20px 20px;
        &:hover{
            background: url('../images/btn-confirm.svg') #376191 no-repeat center;
            border-radius:5px;
            background-size: 20px 20px;
        }

     }
     .btn-msg-send{
        background: url('../images/msg-send.svg') no-repeat center;
        background-size: 20px 20px;
     }
     .btn-edit{
        background: url('../images/btn-edit.svg') #376191 no-repeat center;
        background-size: 18px 18px;
        &:hover{
            background: url('../images/btn-edit.svg') #306191 no-repeat center;
        }
     }
     .btn-pay{
        background: url('../images/btn-pay.svg') #376191 no-repeat center;
        background-size: 18px 18px;
        &:hover{
            background: url('../images/btn-pay.svg') #306191 no-repeat center;
        }
     }
     .btn-delete{
        background: url('../images/btn-delete.svg') no-repeat center;
        &:hover{
            background: url('../images/btn-delete.svg') #E24545 no-repeat center;
        }
     }

}

.uh-divider{
    margin: 20px 0;
    border-bottom: solid 1px #D1D1D1;
    &.thick{
        border-bottom: solid 2px #D1D1D1;
    }
}

.uh-list{
    .uh-list-body{
        .tab{
            padding: 20px 0;
            border-bottom: solid 3px #D1D1D1;
            .pure-button{
                &:hover{
                    background-color: #91C1FA;
                    color: white;
                }
                &.active{
                    color: white;
                    background-color: #91C1FA;
                }
                color: #4A7FB2;
                background: transparent;
                margin-right: 64px;
            }
        }
        .list{
            padding: 18px 0;


        }
    }
}

//首页行条bar
.uh-index-horizon{
    margin-top: 20px;
    background: #f8f8f8;
    box-sizing:border-box;
    border-radius:5px 5px 0 0;
    box-shadow: 0 0 2px #333;
    height: 100px;
    padding: 27px 25px;
    width: 100%;
    .cell{
        text-align: center;
        float: left;
        width: 18%;
        font-size: 14px;
        padding-bottom:10px;
        &.active{
            padding-bottom: 5px;
            border-bottom: 5px solid #4A90E2;
        }
        span{
            line-height: 30px;
        }
    }
    .cell-divider{
        height: 50px;
        width: 1px;
        float: left;
        background: #D1D1D1;
        margin-left: 4%;
        margin-right: 4%;
    }

}


// 最好切换到uh-line-talbe
.uh-custom-table{
    table-layout: fixed;
    width: 100%;
    border: none;
    thead{
        background: none;
        th{
            display: table-cell !important;
            padding: 8px 0;
        }
    }

    tbody{
        tr{
            border-bottom: solid 1px #D1D1D1;
        }
        td{
            padding: 16px 8px 16px 0;
        }
    }
}


.uh-submit{
    .item-list{
        .uh-custom-table tbody tr{
            border: none;
        }
        .uh-custom-table tbody td {
          padding: 5px 8px 5px 0;
          border: none;
        }
        .options{
            margin-top: 12px;
            text-align: center;
        }
        .item-delete-icon{
            display: inline-block;
            width: 24px;
            height: 24px;
            background: url(../images/uh-item-delete.png) no-repeat center center;
            cursor: pointer;
        }
        .span{
            margin-left:5px;
        }
    }

    .pic-upload{
        padding: 16px 0;
    }

    .action-btns{
        padding-top: 48px;
        @include clearfix;
        .left{
            float: left;
        }
        .right{
            float: right;
        }
    }

    .entry{
          margin: 16px 0;
        .title{
            font-size: 16px;
            width: 50%;
            float: left;
        }
        .desc{
            font-size: 12px;
            color: #969696;
            padding: 5px 0 5px 24px;
            background: url(../images/uh-help-desc.svg) no-repeat left center;
        }
        .right{
            width: 50%;
            float: right;
        }
    }

    .radio-group{
        margin-bottom: 8px;
        input[type="radio"]{
            margin-right: 5px;
        }
        label{
            margin-right: 12px;
            display: inline-block;
        }
    }
}

//发货Order页面 每行package
.uh-order-item-package{
    padding: 10px 0;
    border-bottom: solid 1px #D1D1D1;
    &:last-of-type{
        border-bottom: none;
    }
    .toggle{
        padding-right: 24px;
        box-sizing: border-box;
        text-align: right;
    }
}
//发货Order页面 缩进的Table
.uh-order-item-table{
    th{
        border: none;
    }
    th:first-child{
        padding-left: 24px;
    }
    td:first-child{
        padding-left: 24px;
    }
}
//发货Order页面 支付方式
.uh-order-pay-method{
    input{
        margin-right: 8px;
        margin-bottom: 12px;
    }
}


//Widgets

// 此为每一个section的标题
.uh-section{
    line-height: 20px;
    font-size: 16px;
    color: #333333;
    padding:10px 0;
    margin-top: 10px;
    &.first-child{
        margin: 0;
        padding-top: 0;
    }
    &.title{
        width: 400px;
        float: left;
    }
    &.desc{
        color: #666;
        margin: 0 0 5px 0;
        font-size: 12px;
        padding:0 24px;
        background:url(../images/uh-help-desc.svg) left center no-repeat;
    }
    .right {
        background: #000;
        float: right;
        width: 200px;
    }

}
// 此定义无边框的表格
.uh-small-table{
    table-layout: fixed;
    width: 100%;
    border: none;
    thead{
        background: none;
        th{
            display: table-cell !important;
        }
    }

    tbody{
        tr{
            border:0;
        }
        td{
            border: 0;
            font-size: 14px;
            line-height: 18px;
            padding-left: 8px;
        }
    }
}


// 这个样式的表格用于单行需操作的地方，如管理地址，管理订单列表

.uh-list-header{
    font-size:14px;
    border-bottom: 1px solid #D1D1D1;
    padding: 12px 0 12px 8px;
    &:first-of-type{
        border-top: 1px solid #D1D1D1;
    }
    &.active{
        background:#f6f6f6;
    }
}

.uh-list-table{
    font-size: 14px;
    text-layout:fixed;
    width: 100%;
    border: none;
    //margin-bottom:20px;
    thead{
        background: none;
        th{
            display: table-cell !important;
            padding: 12px 0 12px 8px;
            &:last-of-type{
                text-align: center;
            }
        }
    }

    tbody{
        tr{
            border-bottom: 1px solid #D1D1D1;
        }
        td{
            color: #333333;
            padding: 12px 0px 12px 8px;
            border: 0;
          &:last-of-type{
            text-align: center;
           }
        }
    }
}



// 重新写的表格样式，最好切换到此标签
.uh-line-table{
    font-size: 14px;
    table-layout: fixed;
    width: 100%;
    border: none;
    thead{
        background: none;
        th{
            // border-top: solid 1px #D1D1D1;
            display: table-cell !important;
            padding: 10px 0 10px 8px;
            &:first-of-type{
                text-align: left;
            }
            text-align: center;
        }
    }

    tbody{
        tr{
            border-bottom: 0;
        }
        td{
            text-align: center;
            padding: 8px 0px 8px 8px;
            border: 0;
            &:first-of-type{
                text-align: left;
            }
        }
        tr:last-of-type{
            border-bottom: solid 1px #D1D1D1;
            &.sum{
                  border-top:solid 1px #D1D1D1;
                  font-weight: bold;
                }
        }
    }
    input{
        background: #fff;
    }

}

// 表单每行的设定

// 表单的输入框，经过重新定义了
input{
    box-sizing: border-box;
    border-radius:2px;
    background:#f6f6f6;
    padding:5px 8px;
    line-height: 20px;
    color: #333;
    width: 100%;
    border:1px solid #D1D1D1;
}
input[type="radio"]{
    width: auto;
}
input[type="checkbox"]{
    width: auto;
    margin-right:5px;
}



//表单选择框
select{
    box-sizing: border-box;
    -webkit-appearance: none;
    width: 100%;
    line-height: 20px;
    padding:5px 8px;
    color: #333;
    border:1px solid #D1D1D1;
    border-radius:2px;
    background:url(../images/form-dropdown.png) right 10px center no-repeat #f6f6f6;
}
textarea{
    box-sizing: border-box;
    width: 100%;
    background:#f6f6f6;
    padding:5px 8px;
    line-height: 20px;
    color: #333;
    border:1px solid #D1D1D1;
    border-radius:2px;
}




/* 表单 checkbox 自定义样式
.uh-form-section input[type="checkbox"] {
    display:none;
}

.uh-form-section input[type="checkbox"] + label span {
    display:inline-block;
    width:22px;
    height:22px;
    margin: 8px 5px;
    vertical-align:middle;
    background:url(../images/form-checkbox-bg.png) left top no-repeat;
    cursor:pointer;
}
.uh-form-section input[type="checkbox"]:checked + label span {
    background:url(../images/form-checkbox-bg.png) left top -22px no-repeat;
}*/

.id-pic-uploader{
    opacity: 0;
    width: 96px;
    height: 60px;
    cursor: pointer;
}
.ip-pic-front{
    background: url(../images/id-front-pic.png) no-repeat;
    width: 96px;
    height: 60px;
    cursor: pointer;
}

.ip-pic-back{
    margin-left:20px;
    background: url(../images/id-back-pic.png) no-repeat;
    width: 96px;
    height: 60px;
    cursor: pointer;
}

.uh-form-desc{
        font-size: 12px;
        color: #666;
        padding: 5px 0;
        line-height: 20px;
        &.inline-desc{
            padding-left: 8px;
        }
}
.uh-form-label{
    font-size: 14px;
    line-height: 30px;
    padding:10px 8px;
    box-sizing:border-box;
}
.uh-form-section{
    font-size:14px;
    line-height: 30px;
    padding:10px 8px;
    box-sizing: border-box;
    .label{
        padding-left:8px;
    }
    // border-bottom: 1px solid #D1D1D1;
    .inline-button{
        padding:5px;
        line-height: 12px;
    }
    .desc{
            font-size: 12px;
            color: #969696;
            padding: 5px 0 0 24px;
            background: url(../images/uh-help-desc.svg) no-repeat left center;
        }
}

/* List - Div */

.uh-list-wapper{
    margin-bottom:20px;

}
.uh-list-row{
        line-height: 30px;
        padding: 8px 8px;
        // border-bottom: 1px solid #efefef;;
}

.uh-list-cell{
        font-size: 14px;
        &.last{
            text-align: right;
        }
        &.input-area{
            line-height: 40px;
        }
}

//用于最底部控制栏的上下间距
.uh-btm-controller{
    margin-top: 20px;
}
.pure-button{
    font-size: 14px;
    cursor: pointer;

    &.radius{
        border-radius: 2px;
    }

    &.blue{
        color: white;
         padding:10px;
        background-color: #4A90E2
    }
    &.lightblue{
        color: white;
        background-color: #91C1FA
    }
    &.back{
        padding:10px 10px 10px 30px;
        color: white;
        background: url(../images/btn-back.png) no-repeat 10px center #4A90E2;
    }

    &.edit{
        padding:10px 10px 10px 30px;
        color: white;
        background: url(../images/btn-edit.png) no-repeat 10px center#05B30C;
    }

    &.delete{
        padding:10px 10px 10px 30px;
        color: white;
        background: url(../images/btn-delete.png) no-repeat 10px center #E2574A;
    }
    &.confirm{
        padding:10px 10px 10px 30px;
        color: white;
        background: url(../images/btn-confirm.png) no-repeat 10px center #4A90E2;
    }
    &.left{
        margin-left:10px;
    }
    &.left:first-of-type{
        margin-left: 0;
    }
    &.right{
        float:right;
        margin-right:10px;
    }
    &.right:first-of-type{
        margin-right: 0;
    }
}
.opt-radius-btn{
    display: inline-block;
    width: 24px;
    height: 24px;
    cursor: pointer;
    &.delete{
        background: url(../images/opt-delete-radius-btn.png) no-repeat center;
    }
    &.edit{
        background: url(../images/opt-edit-radius-btn.png) no-repeat center;
    }
    &.trans-order{
        background: url(../images/opt-transorder-radius-btn.png) no-repeat center;
    }
    &.ship-order{
        background: url(../images/opt-shiporder-radius-btn.png) no-repeat center;
    }
    &.check{
        background: url(../images/opt-check-radius-btn.png) no-repeat center;
    }
}


.pure-button a{
    color: white;
    text-decoration: none;
}

.ng-table-counts{
    display: none;
}
.ng-table-pagination{
    margin-top:20px;
    padding-left: 8px;
    text-align: right;
    li{
        display: inline;
        list-style-type: none;
        padding-right: 5px;
        a{
          font-family: inherit;
          font-size: 100%;
          padding: .5em 1em;
          color: #444;
          color: rgba(0,0,0,.8);
          border: 1px solid #999;
          border: 0 rgba(0,0,0,0);
          background-color: #E6E6E6;
          text-decoration: none;
          border-radius: 2px;
        }
        &.active{
            a{
                box-shadow: 0 0 0 1px rgba(0,0,0,.15) inset,0 0 6px rgba(0,0,0,.2) inset;
                border-color: #000\9;
            }
        }
    }
}

.uh-no-notification{
    position: relative;
    top: -6px;
    left: -6px;
    z-index: 99;
    width: 20px;
    height: 20px;
    padding:4px 8px;
    border-radius:15px;
    background: red;
    font-size: 12px;
}

.uh-conversation-box{
    min-height: 400px;
}
.uh-conversation{
    height: auto;
    margin: 10px 0;
    line-height: 40px;
    font-size: 14px;
    clear: both;
   .message{
    padding: 0 20px;
    max-width: 75%;
    clear: both;
          border-radius: 999px;
   }
    .send{
        clear: both;
        float: right;
        text-align: right;
        color: white;
        box-shadow: 0 1px 2px #D1D1D1;
        background: #4B88CF;
    }
    .receive{
        float: left;
        clear: both;
        text-align: left;
        background: white;
        box-shadow: 0 1px 2px #D1D1D1;

    }
    .s-time{
        clear: both;
        float: right;
        font-size: 10px;
        color: #999;
        margin-right: 24px;
    }
        .r-time{
        clear: both;
        float: left;
            font-size: 10px;
            color: #999;
            margin-left: 24px;
    }
}

.uh-message{
    font-size: 14px;
    padding: 20px;

    border-bottom: 1px solid #efefef;
    &:last-of-type{
        margin-bottom: 50px;
    }
    .icon{
        position: relative;
        top: 50%;
        transform: translateY(25%);
    }
    .title{
        font-size: 16px;
        line-height: 20px;
        font-weight: bold;
        padding-bottom:10px;
    }
    .content{
        color: #333;
        line-height: 30px;
    }
    .info{
        padding-top:10px;
        width: 100%;
        font-size: 12px;
        color: #666;
    }
    .time{
        float: left;
    }
    .control{
        text-align: right;
        float: right;
    }
    .info a{
        text-decoration: none;
        color: #3A6FAD;
    }
    &:hover{
        background:#efefef;
        cursor: pointer;
    }
}
.uh-box-empty{
    min-height:300px;
    margin-top:120px;
    text-align: center;
}


.uh-index-btns{
    margin-top:10px;
    width: 22%;
    float: left;
    margin-left: 4%;
    padding: 10px 0 10px 65px;
    line-height: 24px;
    box-sizing:border-box;
    font-size: 14px;
    border-radius:30px;
    &.pbm-btn{
        margin-left: 0;
        color: white;
        background:url("../images/icon-pbm.png") 14px 10px no-repeat #4A90E2;
        &:hover{
            background:url("../images/icon-pbm.png") 14px 10px no-repeat #1F78E0;
        }

    }
    &.stock-btn{
        background:url("../images/icon-stock.png") 20px 10px no-repeat #f2f2f2;
        &:hover{
            background:url("../images/icon-stock.png") 20px 10px no-repeat #DBDBDB;
        }
    }
    &.pay-btn{
        background:url("../images/icon-pay.png") 20px 10px no-repeat #f2f2f2;
          &:hover{
            background:url("../images/icon-pay.png") 20px 10px no-repeat #DBDBDB;
        }
    }
        &.shipped-btn{
            float: right;
        background:url("../images/icon-shipped.png") 20px 12px no-repeat #f2f2f2;
          &:hover{
            background:url("../images/icon-shipped.png") 20px 12px no-repeat #DBDBDB;
        }
    }
}
.uh-index-tips{
        color: #666;
        font-size: 14px;
        padding:10px 24px;
        text-align: right;
        a{
            text-decoration: none;
            color: #4A90E2;
        }
        a:hover{
            text-decoration: underline;
        }
}

.uh-index-empty{
    height: 120px;
    padding:60px 0;
    color: #333;
    line-height: 40px;
    text-align:center;
    font-weight: bold;
}

//附加服务hover显示
.uh-tooltip {
    outline:none;
    position: relative;
    float:left;

    &:hover {
        text-decoration:none;
        span {
            font-size:12px;
            display:inline;
            position:absolute;
            color:#fff;
            background:#4A90E2;
        }
    }
    span {
        position:absolute;
        z-index:10;
        display:none;
        padding:8px 10px;
        top: 30px;
        left: 10%;
        min-width:100px;
        max-width:200px;
        line-height:16px;
    }
    .arrow-up {
        top:-5px;
        position: absolute;
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 5px solid #4A90E2;
    }
}
//city select
.city-select:hover{
    cursor: pointer;
    .city-select-drop{
         display: block;
    }

}

dt{
    display: none;
}
.city-select-tab{
    background:#3A6FAD;
    padding-left:15px;
    border-radius:5px 5px 0 0;

    .col-xs-4{
        padding:5px 20px;
        color: #F8F8F8;
    }

    .mb{
        &.first-of-type{
            padding-left:0;
        }
        padding-left:15px;
    }
    .active{
        border-radius:5px;
        color: #fff;
        background:#376191;
    }
}
.city-select-panel{
    // padding: 5px;
    a{
        padding-left:10px;
    }
    dl{
        margin-left:-20px;
    }
}

.city-select-drop{
    position:absolute;
    width: 400px;
    box-shadow: 0 0 4px #999;
    background:#F8F8F8;
    border-radius:5px;
    a {
        text-decoration: none;
        color: #333;
    }
    display: none;

}

.ah-addmoney{
        // width: 150px;
        height: 80px;
        // padding-bottom: 10px;
        // // background:#FF8250;
        // line-height: 40px;
        // padding: 20px;
        // font-size: 14px;
        //
        // text-decoration: none;
        label{
          padding: 20px 0;
          font-size: 18px;
          color: #ff3535;
        }
        button{
          // box-sizing: border-box;
          width: 140px;
          border: 0;
          padding: 10px 0;
          text-align: center;
          margin:10px 0;
          color: white;
          background:#FF8250;
          line-height: 20px;
          border-radius:100px;
        }
}


.input-label{
    padding-left:8px;
}

// 用于修改自动填充颜色
// ::-webkit-input-placeholder { color:#999; }
// ::-moz-placeholder { color:#666; } firefox 19+
// :-ms-input-placeholder { color:#666; } /* ie */
// input:-moz-placeholder { color:#666; }
