<div class="uh-main-section first-list">
  <div class="uh-main-header">
    <div class="left">
      <span class="title">积分管理</span>
    </div>
  </div>
  <div class="pure-g uh-main-headbar">
    <div class="pure-u-1-4">可用积分:50元</div>
    <div class="pure-u-1-4">100积分可抵用1元</div>
  </div>
</div>  

<div class="uh-main-section middle">
  <div class="uh-main-header">
    <div class="left">
      <span class="title">积分消费记录</span>
    </div>
  </div>
      <table ng-table="tableParams" class="pure-table pure-table-horizontal uh-line-table">
          <tr ng-repeat="stock in $data">
              <td data-title="'消费日期'">
                  {{stock.updatedTime}}
              </td>
              <td data-title="'相关订单号'">
                  {{stock.ship_info}}
              </td>
              <td data-title="'消费金额'">
                  {{stock.desc}}
              </td>
          </tr>
      </table>
</div>
