<div class="uh-main-section first-list">
  <div class="uh-main-header">
    <div class="left">
      <span class="title">积分管理</span>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1-4">账户余额:50元</div>
    <div class="pure-u-1-4">充值</div>
    <div class="pure-u-1-4">退款</div>
  </div>
</div>  

<div class="uh-main-section middle">
<div class="uh-section">
  消费记录
</div>
      <table ng-table="tableParams" class="pure-table pure-table-horizontal uh-line-table">
          <tr ng-repeat="stock in $data">
              <td data-title="'消费日期'">
                  {{stock.updatedTime}}
              </td>
              <td data-title="'相关订单号'">
                  {{stock.ship_info}}
              </td>
              <td data-title="'消费金额'">
                  {{stock.desc}}
              </td>
          </tr>
      </table>
</div>
