<div class="uh-main-section first-list">
  <div class="uh-main-header">
    <div class="left">
      <span class="title">财务管理</span>
    </div>
  </div>
  <div class="pure-g uh-main-headbar" style="padding:10px 0 20px 0;">
    <div class="pure-u-3-4" style="line-height:40px; font-size:16px; color:#ff3535">账户余额:{{userInfo.remain}}元</div>
    <div  class="pure-u-1-4 blue pure-button " ui-sref="refill">充值</div>
  </div>
</div>

<div class="uh-main-section middle">
  <div class="uh-main-header">
    <div class="left">
      <span class="title">消费记录</span>
    </div>
  </div>
      <table class="pure-table pure-table-horizontal uh-line-table">

        <thead>
          <tr>
            <th width="30%">消费日期</th>
            <th  width="20%">消费金额</th>
            <th  width="50%">消费说明</th>
          </tr>
        </thead>
        <tbody>
          <!-- <tr ng-repeat=""> -->
          <tr ng-repeat="record in records" >
            <td>{{record.created_at}}</td>
            <td>{{record.amount}}元</td>
            <td>{{record.trans_content}}</td>
          </tr>
        </tbody>



      </table>
</div>
