<div class="uh-main-section first-list">
  <div class="uh-main-header">
    <div class="left">
      <span class="title">财务管理</span>
    </div>
  </div>
  <div class="pure-g uh-main-headbar">
    <div class="pure-u-1-4">账户余额:{{userInfo.remain}}元</div>
    <div class="pure-u-1-4" ui-sref="refill"><a href="">充值</a></div>
    <div class="pure-u-1-4" ui-sref="refund"><a href="">退款</a></div>
  </div>
</div>  

<div class="uh-main-section middle">
  <div class="uh-main-header">
    <div class="left">
      <span class="title">消费记录</span>
    </div>
  </div>
      <table class="pure-table pure-table-horizontal uh-line-table">

        <thead>
          <tr>
            <th width="30%">消费日期</th>
            <th  width="20%">消费金额</th>
            <th  width="50%">消费说明</th>
          </tr>
        </thead>
        <tbody>
          <!-- <tr ng-repeat=""> -->
          <tr ng-repeat="record in records" >
            <td>{{record.created_at}}</td>
            <td>{{record.amount}}元</td>
            <td>{{record.trans_content}}</td>
          </tr>
        </tbody>



      </table>
</div>
