
<div>

<div class="uh-main-header">
      <div class="left">
        <span class="title blue">退款列表</span>
      </div>
</div> 

<table class="pure-table pure-table-horizontal uh-line-table">
        <thead>
          <tr>
            <th class="pure-u-1-8">申请日期</th>
            <th class="pure-u-1-4">流水号</th>
            <th class="pure-u-1-4">退款备注</th>
            <th class="pure-u-1-8">退款金额</th>
            <th class="pure-u-1-8">状态</th>
          </tr>
        </thead>
        <tbody>
        <!-- TODO: 这里请使用AS生产动态数据 -->
          <tr>
            <td>2010－3－31</td>
            <td>FN3203233</td>
            <td>无意识退款</td>
            <td>100元</td>
            <td>退款成功</td>
          </tr>
        </tbody>
</table>

  <div class="uh-main-header">
      <div class="left">
        <span class="title blue">申请退款</span>
      </div>
  </div> 
  <!-- 头部标题结束 -->
  <!-- 主体开始 -->

  
    <!-- section 1 表格开始 -->
      <div class="pure-g uh-form-section">
          <div class="pure-u-3-24">退款金额</div>
          <div class="pure-u-8-24"><input></div>
      </div>


<!-- section 4 开始 -->
  <div class="pure-g uh-form-section">
          <div class="pure-u-3-24">退款备注</div>
          <div class="pure-u-3-4">
          <textarea></textarea>
          <div class="pure-u-3-4 uh-form-desc">
            <p>*若您的充值时间在两个月内，将可按充值原路退回。否则，退款将通过“付款”形式退还，系统将收取4%手续费。</p>
<p>*若您在退款时仍有订单或包裹未支付，未避免您重新充值产生手续费，我们可能会终止您的申请。</p>

<p>*如果参加充值返利，则不可以退款。</p>
        </div>
          </div>
      </div>

<!-- 底部操作按钮开始 -->
<div class="pure-g uh-btm-controller">
  <div class="pure-u-1-2 left">
    <!-- <div class="pure-button back left"><a href="">返回</a></div> -->
  </div>
  <div class="pure-u-1-2 right">
    <div class="pure-button confirm right"><a href="">提交</a></div>
    <div class="pure-button delete right"><a href="">取消</a></div>
  </div>

</div>
</div>

