<div class="uh-main-section">
  <div class="uh-main-header">
      <div class="left">
        <span class="title blue">申请退款</span>
      </div>
  </div> 
  <!-- 头部标题结束 -->
  <!-- 主体开始 -->

  
    <!-- section 1 表格开始 -->
      <div class="pure-g uh-form-section">
          <div class="pure-u-3-24">退款金额</div>
          <div class="pure-u-8-24"><input></div>
      </div>

</div>
<div class="uh-main-section last">
  <div class="pure-g uh-form-section">
          <div class="pure-u-3-24">退款备注</div>
          <div class="pure-u-21-24">
          <textarea></textarea>
          <div class="pure-u-3-4 uh-form-desc">
            <p>*若您的充值时间在两个月内，将可按充值原路退回。否则，退款将通过“付款”形式退还，系统将收取4%手续费。</p>
<p>*若您在退款时仍有订单或包裹未支付，未避免您重新充值产生手续费，我们可能会终止您的申请。</p>

<p>*如果参加充值返利，则不可以退款。</p>
        </div>
          </div>
      </div>
</div>
<!-- 底部操作按钮开始 -->
<div class="uh-main-action">

    <div class="btn-back left"></div>
    <div class="btn-msg-send right"></div>


</div>


