

  <div class="ah-list">
      <table class="pure-table pure-table-horizontal ah-list-table">
        <thead>
          <tr>
            <th width="30px"><input type="checkbox"></th>
            <th>用户组名称</th>
            <th>VIP用户</th>
            <th>后台管理</th>
            <th>财务管理</th>
            <th>运维管理</th>
            <th>业务管理</th>
            <th>系统管理</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody ng-repeat="role in roles">
        <td><input type="checkbox"></td>
        <td>{{role.role_name}}</td>
        <td>{{role.is_vip?'有': '无'}}</td>
        <td>{{role.is_backend?'有': '无'}}</td>
        <td>{{role.accountancy?'有': '无'}}</td>
        <td>{{role.ship_manage?'有': '无'}}</td>
        <td>{{role.stock_manage?'有': '无'}}</td>
        <td>{{role.is_adminstrator?'有': '无'}}</td>
        <td> <a ng-click="deleteRole(role.id)">删除</a></td>
        </tbody>
        
      </table>
  </div>
  <div class="ah-action-btns"> 
    <div class="left">
      <a  ng-if="pageInfo.prev_page_url" ng-click="requestPage(pageInfo.prev_page_url)" >上一页</a>
      <a  ng-if="pageInfo.next_page_url" ng-click="requestPage(pageInfo.next_page_url)" >下一页</a>
    </div>
    <div class="right">
       <a  class="pure-button red horizon">批量删除</a>
      <a ui-sref="roleManage"  class="pure-button blue horizon" ui-sref="roleManage">添加用户组</a>
    </div>
  </div>
  