
<div class="ah-list">
  <div class="ah-main-header">
    <div class="left">
      <span class="title">用户列表</span>
    </div>

    <div class="right">
    <span><input type="search" placeholder ="搜索" ></span>
   
    </div>
  </div>

  <div class="ah-list">
      <table class="pure-table pure-table-horizontal ah-list-table">
        <thead>
          <tr>
            <th width="30px"><input type="checkbox"></th>
            <th>客户ID</th>
            <th>入库码</th>
            <th>库位号</th>
            <th>Email</th>
            <th>积分</th>
            <th>余额</th>
            <th>用户组</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody ng-repeat="user in users">
        <td><input type="checkbox"></td>
        <td>{{user.name}}</td>
        <td>{{user.stock_number}}</td>
        <td>{{user.stock_position}}</td>
        <td>{{user.email}}</td>
        <td>{{user.score}}</td>
        <td>{{user.remain}}</td>
        <td>{{user.role.role_name}}</td>
        <td> <a ng-click="editUser(user.id)">修改</a></td>
        </tbody>
      </table>
  </div>
  <div class="ah-action-btns"> 
    <div class="left">
      <a  ng-if="pageInfo.prev_page_url" ng-click="requestPage(pageInfo.prev_page_url)" >上一页</a>
      <a  ng-if="pageInfo.next_page_url" ng-click="requestPage(pageInfo.next_page_url)" >下一页</a>
    </div>
    <div class="right">
      <!-- <a  class="pure-button blue horizon" ui-sref="userManage">添加用户</a> -->
    </div>
  </div>
  
</div>