// 列表使用 ah-list-table


//Utils
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}


html,body { height:100%; position: relative; }

.ah-login-background{
  width: 100%;
  height:100vh;
  background: #6C6C6C;
  position:absolute;
  margin: 0;
}
.ah-login{
  
  border-box:box-sizing;
  padding: 40px;
  margin: 0 auto;
  width: 300px;
  height: auto;
  position:relative;
  top: 50%;
  transform:      translateY(-50%);
  background: #fff;
  font-size:14px;
  border-top: 30px #FF5A5A solid;
  border-radius:10px;
  box-shadow: 0 0px 2px #000; 
  .title{
    font-size: 20px;
    margin: 5px;
    line-height: 30px;
    text-align: center;
  }

  input{
    margin: 10px 0;
    border-radius:5px;
    line-height: 35px;
  }
  input[type="checkbox"]{
      text-align: left;
  }
  button{
    border-radius:5px;
    height: 45px;
    width: 100%;
  }
  
}

.ah-body-wrapper{
  min-width: 1280px;
}

// 前缀ah admin-home
$navbar-height: 32px;
.ah-nav{
  height: $navbar-height;
  background: black;
  color: #E6E6E6;
  font-size:12px;

  .title{
    line-height: $navbar-height;
    margin-left: 24px;
  }

  .ah-nav-list{
    display: inline-block;
    text-align: right;
    ul{
      line-height: 32px;
      margin: 0;
      font-size: 14px;

      li{
        height: $navbar-height;
        display: inline-block;
        padding: 0 1.5em;
      }
    }
    a{
      cursor: pointer;
      color: #fff;
      text-decoration: none;
    }
  }
}
$sub-navbar-height: 64px;
.ah-sub-nav{
  height: $sub-navbar-height;
  background: #3F4348;
  color: #FFFFFF;

  .logo{
    line-height: $sub-navbar-height;
    margin-left: 32px;
    font-size: 20px;
    display: flex;
    align-items: center;
    span{
      margin-left: 12px;
    }
  }

  .ah-sub-nav-list{
    display: inline-block;
    text-align: right;
    ul{
      line-height: $sub-navbar-height;
      margin: 0;
      font-size: 16px;

      li{
        height: $navbar-height;
        display: inline-block;
        padding: 0 1.5em;
      }
    }
  }
}
.ah-sidebar{
  margin: 0 auto;
  background-color: #6E6E6E;
  color: #FDFDFD;
  padding: 12px 30px ;
  height: 100vh;

  .list-wrapper{
    margin-bottom: 32px;
    .title{
      font-size: 18px;
      color: #ddd;
      margin: 12px 0;
    }
    .list{
      font-size: 14px;
      list-style: none;
      padding: 0;
      li{
        cursor: pointer;
        padding: 3px 0;
      }
      li:hover{
        text-decoration: underline;
      }

    }
  }
}





.ah-main{
    background:white;
    padding: 24px;
}


.ah-main-header{
    @include clearfix;
    padding-bottom: 10px;
    // border-bottom:1px solid #ddd;
    .left{
        float: left;
        .title{
            display: inline-block;
            font-size: 18px;
            padding: 5px;
            border-left: solid 5px #E65F5F;
            &.blue{
                border-left: solid 5px #147DE0;
            }
        }
    }
    .right{
        font-size:12px;
        margin-top: 5px;
        float: right;
    }
}

.ah-divider{
    margin: 20px 0 0 0;
    border-bottom: solid 1px #D1D1D1;
    &.thick{
        border-bottom: solid 2px #D1D1D1;
    }
}


.ah-list-table{
    font-size: 14px;
    table-layout: fixed;
    width: 100%;
    margin-top: -5px;
    // border-radius:5px;
    border: none;
    thead{
        background: #efefef;
        th{

            border-top: solid 1px #D1D1D1;
            display: table-cell !important;
            line-height: 30px;
            // padding: 8px 8px;
             &:last-of-type{
          text-align: right;
        }
        }
       
    }

    tbody{
        tr{
            border-bottom: solid 1px #D1D1D1;
        }
        tr:hover{
          background:#eeeeee;
        }
        td{
            // padding: 16px 8px 16px 8px;
            line-height: 30px;
                &:last-of-type{
          text-align: right;
        }
        }
    
    }
    a{
    cursor: pointer;
    color: #333;
    text-decoration: underline;
  }
}




.ah-stock-detail{


    .ah-main-header .right{
      margin-top: 0;
    }
    .item-list{
        .uh-custom-table tbody tr{
            border: none;
        }
        .uh-custom-table tbody td {
          padding: 5px 8px 5px 0; 
          border: none;
        }
        .options{  
            margin-top: 12px;
            text-align: center;
        }
        .item-delete-icon{
            display: inline-block;
            width: 24px;
            height: 24px;
            background: url(../images/uh-item-delete.png) no-repeat center center;
            cursor: pointer;
        }
    }

    .pic-upload{
        padding: 16px 0;
    }

    .action-btns{
        padding-top: 48px;
        @include clearfix;
        .left{
            float: left;
        }
        .right{
            float: right;
        }
    }

    .entry{
          margin: 16px 0;
        .title{
            line-height: 30px;
            font-size: 16px;
        }
        .desc{
            font-size: 12px;
            color: #969696;
            padding: 5px 0 5px 24px;
            background: url(../images/uh-help-desc.png) no-repeat left center;
        }
    }

    .radio-group{
        margin-bottom: 8px;
        input[type="radio"]{
            margin-right: 5px;
        }
        label{
            margin-right: 12px;
        }
    }
}



//Widgets

// 定义button的位置
.right{
  text-align: right;
}
//小段标题栏
.ah-section{
  width: 100%;
  // float: left;
  height: 40px;
  color: #666666;
  font-size: 16px;
  padding: 8px 0;
  clear: both;
  // border-bottom: 1px solid #333;
  line-height: 40px;
  .add{
    text-align: right;
    float: right;
  }

}
//自定义所有无边框的小表格
.ah-small-table{
  width: 100%;
  border:0;
  text-align: left;
  font-size: 14px;
  th{
    color: #666666;
    border:0;
  }
  td{
    border:0;
    &:first-child{
      color: #666;
    }
  }
  tr{
    border:0;
  }
}

/* 只有头尾线条的表格 */
.ah-line-table{
    font-size: 14px;
    table-layout: fixed;
    width: 100%;
    border: none;
    thead{
        background: #efefef;
        th{
            border-top: solid 1px #D1D1D1;
            display: table-cell !important;
            padding: 10px 0 10px 8px;
            &:last-of-type{
              text-align: center;
            }
        }
    }

    tbody{
        tr{
            border-bottom: 0;
        }
        td{
            padding: 10px 0px 10px 8px;
            border: 0;
            &:last-of-type{
              text-align: center;
            }
        }
        tr:last-of-type{
            border-bottom: solid 1px #D1D1D1;
            &.sum{
                  border-top:solid 1px #D1D1D1;
                 font-weight: bold; 
                }
        }
    }

}

.ah-form-line{
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 40px;
  width: 100%;

}

.input-label{
   text-align: center;
   box-sizing:border-box;
   line-height: 40px;
   &:first-child{
    text-align: left;
   }
   &.none-edit{
    text-align: left;
    color: #666;

   }
}

.ah-tips{
  line-height: 30px;
  font-size: 12px;
  color: #666;

}

//底部按键区域
.ah-action-btns{
  margin-top: 20px;
       .left{
            float: left;
        }
        .right{
            float: right;
        }
}

.pure-button{
    width: 140px;
    color: white;
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
    padding: 10px 0;
    border-radius: 2px;
    &.radius{
        border-radius: 20px;
    }

    &.lightblue{
        background-color: #91C1FA
    }
    &.blue{
        background-color: #4A90E2;
    }

    &.green{
        background-color: #05B30C;
    }

    &.red{
        background-color: #E2574A;
    }
    &.small{
      margin-top:5px;
      padding: 5px 10px;
      width: auto;
    }
    &.flag{
      border: solid 1px #F54623;
      color: #F54623;
      background-color: none;
      background: url(../images/flag_red.png) no-repeat 10px center;
      padding: 10px 10px 10px 30px;
    }
    &.enter{
      background: url(../images/btn_enter.png) no-repeat 10px center #4A90E2;
      padding: 10px 16px 10px 40px;
    }
    &.back{
      background: url(../images/btn-back.png) no-repeat 10px center #666;
      padding: 10px 16px 10px 20px;
    }
    &.disable{
      cursor: not-allowed;
      color: #333;
      background-color: grey;
    }
    &.view{
      background: url(../images/btn-view.png) no-repeat 10px center #F5A623;
      padding: 10px 16px 10px 40px;
    }
    &.horizon-small{
      width: 60px;
      margin-right: 5px; 
      &:last-of-type{
        margin-right:0; 
      }
    }
    &.horizon{
      margin-top: 0;
    }

}

/* 输入框样式重新定义 */

// 表单的输入框，经过重新定义了
input{
    box-sizing: border-box;
    width: 100%;
    background:#f6f6f6;
    padding:5px 8px;
    line-height: 20px;
    color: #333;
    border:1px solid #D1D1D1;
    border-radius:0; 
}
textarea{
    box-sizing: border-box;
    width: 100%;
    background:#f6f6f6;
    padding:5px 8px;
    line-height: 20px;
    color: #333;
    border:1px solid #D1D1D1;
    border-radius:0; 
}

input[type="search"]{
  width: 150px;
  background:url(../images/search-icon.png) left 5px center no-repeat #f6f6f6;
  padding-left:30px;
  font-size: 12px;
}
input[type="checkbox"]{
  width: auto;
  margin-right:5px;
}

//表单选择框
select{
    box-sizing: border-box;
    -webkit-appearance: none;
    width: 100%;
    line-height: 20px;
    padding:5px 8px;
    color: #333;
    border:1px solid #D1D1D1;
    border-radius:0;
    background:url(../images/form-dropdown.png) right 10px center no-repeat #f6f6f6;
}


/* pop-up Box */
  .hide{
    display: none; //pop－up默认hide
  }
.pop-up-wapper{
  position: absolute; 
  top: 20%; 
  left: 30%;
  z-index: 999;
  width: 500px;
  height: auto;
  font-size: 14px;
  // border-radius:5px;
  line-height: 40px;
  background: white;
  box-shadow: 0 0px 5px grey;
  box-sizing: border-box;

}
.pop-up-title{
  width: 100%;
  height: 40px;
  padding: 5px 10px;
  background: #4A90E2;
  line-height: 30px;
  color: #fff;
  box-sizing: border-box;
  text-align: left;
}

.pop-up-body{
  width: 100%;
  box-sizing: border-box;
  padding:15px 20px;
}

.pop-up-section{
  padding: 10px 0;
  &:first-child{
    padding-top:0;
  }
}

.pop-up-opt{
  padding: 0 20px;
  width: 100%;
  margin-bottom:10px; 
  height: 40px;
  text-align: right;
  box-sizing: border-box;
  .right{
    float: right;
    text-align: right;
  }
  .left{
    text-align: left;
    float: left;
  }
  .pure-button{
    margin-top: 0px;
  }
}

.pop-up-tips{
    text-align: left;
    line-height: 40px;
}
.ah-message{
  clear: both;
  width: 100%;
  height: auto;
    margin-bottom: 20px;
  
}
.ah-message-avatar{
  margin-top: 10px;
  line-height: 20px;
  text-align: center;
  float: left;
  width: 20px;
  height: 20px;
  font-size: 10px;
  color: #fff;
  border-radius:10px;
  background:#D1D1D1;
  &.reply{
    float: right;
  }
}
.ah-message-text{
  float: left;
  max-width: 60%;
  margin-left: 20px;
  box-sizing:border-box;
  height: auto;
  border-radius:999px;
  padding: 10px 20px;
  background:#efefef;
  border: 1px solid #efefef;
  &.reply{
    margin-right: 20px;
    float: right;
    color: #fff;
    background:#4A90E2;
  }

}
.ah-message-timestamp{
  margin-top: 10px;
  clear: both;
  float: left;
  padding-left:50px;
  color: #666;
  font-size: 12px;
  &.reply{
    float: right;
    padding-right: 50px;
  }
}

//用于大的搜索框
.ah-scan-space{
  padding:20px 0 ;
  border-radius:5px;
  background: #f8f8f8;
}
.ah-big-search{
  width: 800px;
  // background:#000;
  height: 40px;
  margin:20px auto;
  text-align: center;
  input{
    height: 40px;
    width: 600px;
    background:url("../images/scan.png") #ffffff no-repeat left;
    border-radius:5px 0 0 5px;
    padding-left: 120px;
  }
  button{
    width: 120px;
    border-radius: 0 5px 5px 0;
    font-size: 12px;
    color: white;
    background: #4A90E2;
    border:0;
  }
}





//用于空白上传

.ah-space{
  height:300px;

  .upload{
    // background:#000;
    width: 382px;
    margin: auto;
    text-align: center;
  }
  .file-select{
    position:relative;
    float: left;
    line-height: 38px;
    width: 240px;
    height: 38px;
    border-radius: 5px 0 0 5px;
    border: 1px #4A90E2 solid;
  }
  input{
    position:absolute;
    top:0;
    left: 0;
    height: 38px;
    z-index: 99;
    border-radius:5px 0 0 5px;
    // opacity: 0;
    // background:#000;
    width: 240px;
  } 
  button{
    border-radius: 0 5px 5px 0;
    float: left;
  }

}

// 用于修改自动填充颜色
::-webkit-input-placeholder { color:#333; }
::-moz-placeholder { color:#333; } /* firefox 19+ */
:-ms-input-placeholder { color:#333; } /* ie */
input:-moz-placeholder { color:#333; }