//Utils
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}


html,body { height:100%; position: relative; }

a{
    cursor: pointer;
    color: blue;
}

.ah-body-wrapper{
  min-width: 1280px;
}

// 前缀ah admin-home
$navbar-height: 32px;
.ah-nav{
  height: $navbar-height;
  background: black;
  color: #E6E6E6;

  .title{
    line-height: $navbar-height;
    margin-left: 24px;
  }

  .ah-nav-list{
    display: inline-block;
    text-align: right;
    ul{
      line-height: $navbar-height;
      margin: 0;
      font-size: 14px;

      li{
        height: $navbar-height;
        display: inline-block;
        padding: 0 1.5em;
      }
    }
  }
}
$sub-navbar-height: 64px;
.ah-sub-nav{
  height: $sub-navbar-height;
  background: #3F4348;
  color: #FFFFFF;

  .logo{
    line-height: $sub-navbar-height;
    margin-left: 32px;
    font-size: 20px;
    display: flex;
    align-items: center;
    span{
      margin-left: 12px;
    }
  }

  .ah-sub-nav-list{
    display: inline-block;
    text-align: right;
    ul{
      line-height: $sub-navbar-height;
      margin: 0;
      font-size: 16px;

      li{
        height: $navbar-height;
        display: inline-block;
        padding: 0 1.5em;
      }
    }
  }
}
.ah-sidebar{
  margin: 0 auto;
  background-color: #6E6E6E;
  color: #FDFDFD;
  padding: 12px 42px ;

  .list-wrapper{
    margin-bottom: 32px;
    .title{
      font-size: 18px;
      margin: 12px 0;
    }
    .list{
      font-style: 14px;
      list-style: none;
      padding: 0;
      li{
        cursor: pointer;
        padding: 3px 0;
      }

    }
  }
}





.ah-main{
    background:white;
    padding: 24px;
}


.ah-main-header{
    @include clearfix;
    padding-bottom: 10px;
    border-bottom:1px solid #ddd;
    .left{
        float: left;
        .title{
            display: inline-block;
            font-size: 18px;
            padding: 5px;
            border-left: solid 5px #E65F5F;
            &.blue{
                border-left: solid 5px #147DE0;
            }
        }
    }
    .right{
        margin-top: 5px;
        float: right;
    }
}

.ah-divider{
    margin: 20px 0 0 0;
    border-bottom: solid 1px #D1D1D1;
    &.thick{
        border-bottom: solid 2px #D1D1D1;
    }
}

.ah-list{
    .ah-list-body{
        .tab{
            padding: 20px 0;                
            border-bottom: solid 3px #D1D1D1;
            .pure-button{
                &:hover{
                    background-color: #91C1FA;
                    color: white;
                }
                &.active{
                    color: white;
                    background-color: #91C1FA;
                }
                color: #4A7FB2;
                background: transparent;
                margin-right: 64px;
            }
        }
        .list{
        }
    }

    .action-btns{
        @include clearfix;
        .left{
            float: left;
        }
        .right{
            float: right;
        }
    }
}

.ah-custom-table{
    table-layout: fixed;
    width: 100%;
    border: none;
    thead{
        background: none;
        th{
            display: table-cell !important;
            line-height: 30px;
            border-top: 1px solid #D1D1D1;
            // padding: 8px 8px;
        }
    }

    tbody{
        tr{
            border-bottom: solid 1px #D1D1D1;
        }
        td{
            // padding: 16px 8px 16px 8px;
            line-height: 30px;
        }
    }
}




.ah-stock-detail{


    .ah-main-header .right{
      margin-top: 0;
    }
    .item-list{
        .uh-custom-table tbody tr{
            border: none;
        }
        .uh-custom-table tbody td {
          padding: 5px 8px 5px 0; 
          border: none;
        }
        .options{  
            margin-top: 12px;
            text-align: center;
        }
        .item-delete-icon{
            display: inline-block;
            width: 24px;
            height: 24px;
            background: url(../images/uh-item-delete.png) no-repeat center center;
            cursor: pointer;
        }
    }

    .pic-upload{
        padding: 16px 0;
    }

    .action-btns{
        padding-top: 48px;
        @include clearfix;
        .left{
            float: left;
        }
        .right{
            float: right;
        }
    }

    .entry{
          margin: 16px 0;
        .title{
            line-height: 30px;
            font-size: 16px;
        }
        .desc{
            font-size: 12px;
            color: #969696;
            padding: 5px 0 5px 24px;
            background: url(../images/uh-help-desc.png) no-repeat left center;
        }
    }

    .radio-group{
        margin-bottom: 8px;
        input[type="radio"]{
            margin-right: 5px;
        }
        label{
            margin-right: 12px;
        }
    }
}



//Widgets

// 定义button的位置
.right{
  text-align: right;
}
//小段标题栏
.ah-section{
  width: 100%;
  height: 40px;
  color: #666666;
  font-size: 16px;
  padding: 8px 0;
  clear: both;
  line-height: 40px;
  .add{
    text-align: right;
    float: right;
  }

}
//自定义所有无边框的小表格
.ah-small-table{
  width: 100%;
  border:0;
  text-align: left;
  font-size: 14px;
  th{
    color: #666666;
    border:0;
  }
  td{
    border:0;
    &:first-child{
      color: #666;
    }
  }
  tr{
    border:0;
  }
}

/* 只有头尾线条的表格 */
.ah-line-table{
    font-size: 14px;
    table-layout: fixed;
    width: 100%;
    border: none;
    thead{
        background: none;
        th{
            border-top: solid 1px #D1D1D1;
            display: table-cell !important;
            padding: 10px 0 10px 8px;
        }
    }

    tbody{
        tr{
            border-bottom: 0;
        }
        td{
            padding: 10px 0px 10px 8px;
            border: 0;
        }
        tr:last-of-type{
            border-bottom: solid 1px #D1D1D1;
            &.sum{
                  border-top:solid 1px #D1D1D1;
                 font-weight: bold; 
                }
        }
    }

}

.ah-form-line{
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 40px;
  width: 100%;

}

.input-label{
   text-align: center;
   box-sizing:border-box;
   line-height: 40px;
   &:first-child{
    text-align: left;
   }
}

.pure-button{
    width: 140px;
    color: white;
    font-size: 14px;
    text-align: center;
    padding: 10px 0;
    border-radius: 2px;
    &.radius{
        border-radius: 20px;
    }

    &.lightblue{
        background-color: #91C1FA
    }
    &.blue{
        background-color: #4A90E2;
    }

    &.green{
        background-color: #05B30C;
    }

    &.red{
        background-color: #E2574A;
    }
    &.flag{
      border: solid 1px #F54623;
      color: #F54623;
      background-color: none;
      background: url(../images/flag_red.png) no-repeat 10px center;
      padding: 10px 10px 10px 30px;
    }
    &.enter{
      background: url(../images/btn_enter.png) no-repeat 10px center #4A90E2;
      padding: 10px 16px 10px 40px;
    }
    &.back{
      background: url(../images/btn-back.png) no-repeat 10px center #333;
      padding: 10px 16px 10px 20px;
    }
    &.disable{
      cursor: not-allowed;
      color: #333;
      background-color: grey;
    }
    &.view{
      background: url(../images/btn-view.png) no-repeat 10px center #F5A623;
      padding: 10px 16px 10px 40px;
    }
    &.divide{
      margin-top: 10px;
    }
    &.horizon-small{
      width: 60px;
      margin-right: 5px; 
      &:last-of-type{
        margin-right:0; 
      }
    }

}

/* 输入框样式重新定义 */

// 表单的输入框，经过重新定义了
input{
    box-sizing: border-box;
    width: 100%;
    background:#f6f6f6;
    padding:5px 8px;
    line-height: 20px;
    color: #333;
    border:1px solid #D1D1D1;
    border-radius:0; 
}

//表单选择框
select{
    box-sizing: border-box;
    -webkit-appearance: none;
    width: 100%;
    line-height: 20px;
    padding:5px 8px;
    color: #333;
    border:1px solid #D1D1D1;
    border-radius:0;
    background:url(../images/form-dropdown.png) right 10px center no-repeat #f6f6f6;
}


/* pop-up Box */
  .hide{
    display: none; //pop－up默认hide
  }
.pop-up-wapper{
  position: absolute; 
  top: 50%; 
  left: 30%;
  z-index: 999;
  width: 500px;
  height: auto;
  font-size: 14px;
  border-radius:5px;
  line-height: 40px;
  background: white;
  box-shadow: 0 0px 5px grey;
  box-sizing: border-box;

}
.pop-up-title{
  width: 100%;
  height: 40px;
  padding: 5px 10px;
  background: #D8D8D8;
  line-height: 30px;
  color: black;
  box-sizing: border-box;
}

.pop-up-body{
  width: 100%;
  box-sizing: border-box;
  padding:15px 10px;
}

.pop-up-section{
  padding: 10px 0;
  &:first-child{
    padding-top:0;
  }
}

.pop-up-opt{
  padding: 0 10px;
  width: 100%;
  margin-bottom:10px; 
  height: 40px;
  text-align: right;
  box-sizing: border-box;
}

.pop-up-tips{
    text-align: left;
    line-height: 40px;
}