//Utils
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}


html,body { height:100%; position: relative; }

.ah-body-wrapper{
  min-width: 1280px;
}

// 前缀ah admin-home
$navbar-height: 32px;
.ah-nav{
  height: $navbar-height;
  background: black;
  color: #E6E6E6;

  .title{
    line-height: $navbar-height;
    margin-left: 24px;
  }

  .ah-nav-list{
    display: inline-block;
    text-align: right;
    ul{
      line-height: $navbar-height;
      margin: 0;
      font-size: 14px;

      li{
        height: $navbar-height;
        display: inline-block;
        padding: 0 1.5em;
      }
    }
  }
}
$sub-navbar-height: 64px;
.ah-sub-nav{
  height: $sub-navbar-height;
  background: #3F4348;
  color: #FFFFFF;

  .logo{
    line-height: $sub-navbar-height;
    margin-left: 32px;
    font-size: 20px;
    display: flex;
    align-items: center;
    span{
      margin-left: 12px;
    }
  }

  .ah-sub-nav-list{
    display: inline-block;
    text-align: right;
    ul{
      line-height: $sub-navbar-height;
      margin: 0;
      font-size: 16px;

      li{
        height: $navbar-height;
        display: inline-block;
        padding: 0 1.5em;
      }
    }
  }
}
.ah-sidebar{
  margin: 0 auto;
  background-color: #6E6E6E;
  color: #FDFDFD;
  padding: 12px 42px ;

  .list-wrapper{
    margin-bottom: 32px;
    .title{
      font-size: 18px;
      margin: 12px 0;
    }
    .list{
      font-style: 14px;
      list-style: none;
      padding: 0;
      li{
        cursor: pointer;
        padding: 3px 0;
      }

    }
  }
}





.ah-main{
    background:white;
    padding: 24px;
}


.ah-main-header{
    @include clearfix;
    padding-bottom: 10px;
    border-bottom: solid 2px #D1D1D1;
    .left{
        float: left;
        .title{
            display: inline-block;
            font-size: 18px;
            padding: 5px;
            border-left: solid 5px #E65F5F;
            &.blue{
                border-left: solid 5px #147DE0;
            }
        }
    }
    .right{
        margin-top: 5px;
        float: right;
    }
}

.ah-main-body{
    padding-top: 24px;
}
.ah-divider{
    margin: 20px 0 0 0;
    border-bottom: solid 1px #D1D1D1;
    &.thick{
        border-bottom: solid 2px #D1D1D1;
    }
}

.ah-list{
    .ah-list-body{
        .tab{
            padding: 20px 0;                
            border-bottom: solid 3px #D1D1D1;
            .pure-button{
                &:hover{
                    background-color: #91C1FA;
                    color: white;
                }
                &.active{
                    color: white;
                    background-color: #91C1FA;
                }
                color: #4A7FB2;
                background: transparent;
                margin-right: 64px;
            }
        }
        .list{
            padding: 18px 0;


        }
    }

    .action-btns{
        @include clearfix;
        .left{
            float: left;
        }
        .right{
            float: right;
        }
    }
}

.ah-custom-table{
    table-layout: fixed;
    width: 100%;
    border: none;
    thead{
        background: none;
        th{
            display: table-cell !important;
            line-height: 30px;
            border-top: 1px solid #D1D1D1;
            // padding: 8px 8px;
        }
    }

    tbody{
        tr{
            border-bottom: solid 1px #D1D1D1;
        }
        td{
            // padding: 16px 8px 16px 8px;
            line-height: 30px;
        }
    }
}




.ah-stock-detail{


    .ah-main-header .right{
      margin-top: 0;
    }
    .item-list{
        .uh-custom-table tbody tr{
            border: none;
        }
        .uh-custom-table tbody td {
          padding: 5px 8px 5px 0; 
          border: none;
        }
        .options{  
            margin-top: 12px;
            text-align: center;
        }
        .item-delete-icon{
            display: inline-block;
            width: 24px;
            height: 24px;
            background: url(../images/uh-item-delete.png) no-repeat center center;
            cursor: pointer;
        }
    }

    .pic-upload{
        padding: 16px 0;
    }

    .action-btns{
        padding-top: 48px;
        @include clearfix;
        .left{
            float: left;
        }
        .right{
            float: right;
        }
    }

    .entry{
          margin: 16px 0;
        .title{
            line-height: 30px;
            font-size: 16px;
        }
        .desc{
            font-size: 12px;
            color: #969696;
            padding: 5px 0 5px 24px;
            background: url(../images/uh-help-desc.png) no-repeat left center;
        }
    }

    .radio-group{
        margin-bottom: 8px;
        input[type="radio"]{
            margin-right: 5px;
        }
        label{
            margin-right: 12px;
        }
    }
}



//Widgets

// 定义button的位置
.right{
  text-align: right;
}
//小段标题栏
.ah-section{
  height: 40px;
  color: #666666;
  font-size: 18px;
  padding: 8px 0;
  line-height: 40px;
  &.first-child{
    margin-top:0;
    padding-top: 0;
  }

}
//自定义所有无边框的小表格
.ah-small-table{
  width: 100%;
  border:0;
  text-align: left;
  font-size: 14px;
  th{
    color: #666666;
    border:0;
  }
  td{
    border:0;
    &:first-child{
      color: #666;
    }
  }
  tr{
    border:0;
  }
}

/* 只有头尾线条的表格 */
.ah-line-table{
    font-size: 14px;
    table-layout: fixed;
    width: 100%;
    border: none;
    thead{
        background: none;
        th{
            border-top: solid 1px #D1D1D1;
            display: table-cell !important;
            padding: 8px 0 8px 8px;
        }
    }

    tbody{
        tr{
            border-bottom: 0;
        }
        td{
            padding: 8px 0px 8px 8px;
            border: 0;
        }
        tr:last-of-type{
            border-bottom: solid 1px #D1D1D1;
            &.sum{
                  border-top:solid 1px #D1D1D1;
                 font-weight: bold; 
                }
        }
    }

}


.pure-button{
    &.radius{
        border-radius: 20px;
    }

    &.lightblue{
        color: white;
        background-color: #91C1FA
    }
    &.blue{
        width: 140px;
        color: white;
        background-color: #4A90E2;
        text-align: center;
        padding: 10px 0;
        border-radius: 2px;
    }

    &.green{
        width: 140px;
        padding:10px 0;
        color: white;
        background-color: #05B30C;
    }

    &.red{
        width: 140px;
        border-radius: 2px;
        color: white;
        padding: 10px 0;
        text-align: center;
        background-color: #E2574A;
    }
    &.flag{
      width: 140px;
      border: solid 1px #F54623;
      color: #F54623;
      border-radius: 2px;
      background-color: none;
      background: url(../images/flag_red.png) no-repeat 10px center;
      padding: 10px 10px 10px 30px;
    }
    &.enter{
      width: 140px;
      border-radius: 2px;
      background: url(../images/btn_enter.png) no-repeat 10px center #4A90E2;
      padding: 10px 16px 10px 40px;
      color:white;
    }
    &.back{
      width: 140px;
      border-radius: 2px;
      background: url(../images/btn-back.png) no-repeat 10px center #333;
      padding: 10px 16px 10px 30px;
      color:white;
    }
    &.view{
      width: 140px;
      border-radius: 2px;
      background: url(../images/btn-view.png) no-repeat 10px center #F5A623;
      padding: 10px 16px 10px 40px;
      color: white; 
    }
    &.divide{
      margin-top: 20px;
    }

}