
<div class="ah-list">
  <div class="pure-g ah-filter">
    <div class="pure-u-1-24 label">客户ID</div>
    <div class="pure-u-2-24"><input></div>
    <div class="pure-u-1-24 label">最近</div>
    <div class="pure-u-2-24">
        <select>
          <option value="1">1个月</option>
          <option value="1">3个月</option>
        </select>
    </div>
    <div class="pure-u-18-24 button"><a>筛选</a></div>
  </div>


    <div class="list">
      <table class="pure-table pure-table-horizontal ah-list-table">
        <thead>
          <tr>
            <th width="2%"><input type="checkbox"></th>
            <!-- <th width="10%">交易流水号</th> -->
            <th  width="10%">交易时间</th>
            <!-- <th  width="8%">分类</th> -->
            <th  width="10%">客户ID</th>
            <th  width="10%">交易金额</th>
            <th  width="20%">交易说明</th>
            <!-- <th  width="20%">相关订单号</th> -->
            <th  width="10%">操作员</th>
          </tr>
        </thead>
        <tbody>
          <!-- <tr ng-repeat=""> -->
          <tr ng-repeat="record in records" >
          <td width="25px;"><input type="checkbox"></td>
            <!-- <td>TS01921321</td> -->
            <td>{{record.created_at}}</td>
            <!-- <td >代刷</td> -->
            <td>{{record.customer_name}}</td>
            <td>{{record.amount}}元</td>
            <td>{{record.trans_content}}</td>
            <!-- <td>-</td> -->
            <td>{{record.handler_name}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  <div class="ah-action-btns"> 
    <div class="left ">
            <div class="ah-pager"  ng-if="pageInfo.prev_page_url" ng-click="requestPage(pageInfo.prev_page_url)" ><</div>
             <div class="ah-pager" ng-if="pageInfo.next_page_url" ng-click="requestPage(pageInfo.next_page_url)" >></div>
    </div>
    <div class="right">
      <a  ng-click="" class="pure-button blue horizon export">批量导出</a>
    </div>
  </div>
  
</div>