<div class="pure-u-1-2">
<form name="refillForm">
<div class=" ah-section"> 充值信息 </div>
<!-- 表单第一行开始 -->
<div class="pure-g ah-form-line">
  <div class="pure-u-4-24 input-label">用户Email</div>
  <div class="pure-u-14-24">
    <input 
      name="chargeEmail"
      type="text" 
      ng-model="chargeEmail"
      validator="required, email">
  </div>
</div>
<!-- 第一行结束结束 -->
<!-- 表单第二行 -->
<div class="pure-g ah-form-line">
  <div class="pure-u-4-24 input-label">用户库存码</div>
  <div class="pure-u-14-24">
    <input 
      ng-model="chargeStockNum"
      ng-change="chargeStockNum = chargeStockNum.toUpperCase();"
      name="chargeStockNum"
      type="text" 
      validator="required">
  </div>
</div>
<!-- 第2行结束结束 -->
<!-- 表单第三行开始 -->
<div class="pure-g ah-form-line">
  <div class="pure-u-4-24 input-label">充值金额</div>
  <div class="pure-u-10-24">
    <input 
      ng-model="chargeAmount"
      name="chargeAmount"
      type="text" 
      validator="required, number">
  </div>
</div>
<!-- 表单第三行结束 -->
<div class="ah-section">附加信息</div>
<div class="ah-form-line">
  <textarea rows="5" class="pure-u-1" ></textarea>
  <p class="ah-tips">提示：确认添加后如有错误请使用退款处理，但系统会继续存档交易记录</p>
</div>
<div class="pure-g ah-action-btns">
  <div class="pure-u-1 right">
    <a  ng-click="goBack()" class="pure-button red">取消</a>
    <a validation-submit="refillForm" ng-click="charge()" class="pure-button blue">确认</a>
  </div>
</div>
</div>
</form>