<div class="pure-g">

<div class="pure-u-5-6">
      <div class=" ah-section">代刷单号 {{vorkasse.reference_code}}</div>

      <div class="pure-g">
      <div class="pure-u-1-2">
        <table class="pure-table pure-table-horizontal ah-small-table">
        
          <tr><td style="width:80px">客户ID</td><td>{{vorkasse.customer.name}}</td></tr>
           <tr><td >联系方式</td><td> QQ: {{vorkasse.customer.QQ || "空"}} <br> Email: {{vorkasse.customer.email || "空"}}</td></tr>

        </table>
      </div>
      <div class="pure-u-1-2">
        <table class="pure-table pure-table-horizontal ah-small-table" >
        <tr><td style="width:20%">状态</td><td>{{vorkasse.statusStr}}</td></tr>
          <tr><td>金额</td><td>{{vorkasse.amount}} 元</td></tr>
          <tr><td>欧元</td><td>{{vorkasse.amount_foreign}} 欧元</td></tr>
        </table>
        </div>
      </div>



     <div class=" ah-section">购物信息</div>

           <div class="pure-g ah-form-line">
      <div class="pure-u-4-24 input-label">代刷网站</div> 
      <div class="pure-u-10-24 inpu-label">{{vorkasse.reference_website}}</div>
     </div>
                <div class="pure-g ah-form-line">
      <div class="pure-u-4-24 input-label">代刷网站订单号</div> 
      <div class="pure-u-10-24 inpu-label">{{vorkasse.order_number}}</div>
     </div>
      <div class="pure-g ah-form-line">
      <div class="pure-u-4-24 input-label">购物凭证</div> 
      <div class="pure-u-10-24 inpu-label">
        <a ng-repeat="img in vorkasse.proof_files_paths" ng-href="{{imageUrlPrefix + img}}" target="_blank" >查看</a>
      </div>
     </div>
      <div class="pure-g ah-form-line">
      <div class="pure-u-4-24 input-label">留言</div> 
      <div class="pure-u-10-24 inpu-label">{{vorkasse.description}}</div>
     </div>
</div>




    <div class="pure-u-1-6  right">
    <a ng-if="vorkasse.status==1" ng-click="changeStatus(2, '审核成功')" class="pure-button blue">审核通过</a>
    <a ng-if="vorkasse.proof_files_paths.length>0" ng-click="downloadAttachments()" class="pure-button blue">下载附件</a>
    <a ng-if="vorkasse.status==2" ng-click="changeStatus(3, '确认付款成功')" class="pure-button blue">确认付款</a>
     <a ng-if="vorkasse.status==1" ng-click="changeStatus(4, '拒绝成功')" class="pure-button red">申请拒绝</a>
      <a  ui-sref="vorkasseList" class="pure-button back">返回</a>
    </div>


</div> 
</div>