<form name="rateForm">
<div class=" ah-section">更改汇率</div>
<div class="pure-g ah-form-line">
  <div class="pure-u-2-24 input-label">当前汇率</div>
  <div class="pure-u-6-24 inpu-label"> 1欧元 ＝ {{currentRate}}人民币</div>
</div>
<!-- 表单第一行开始 -->
<div class="pure-g ah-form-line">
  <div class="pure-u-2-24 input-label">调整</div>
  <div class="pure-u-6-24">
    <input 
      name="rate"
      ng-model="rate"
      type="text"
      validator="required, number">
  </div>
</div>
<!-- 第一行结束结束 -->
<div class="pure-g ah-action-btns">
  <div class="pure-u-1 right">
    <a  ng-click="cancle()" class="pure-button red">取消</a>
    <a validation-submit="rateForm" ng-click="confirmEdit()" class="pure-button blue">确认</a>
  </div>
</div>
</div>
</form>