
<div class="ah-list">
  <div class="pure-g ah-filter">
    <div class="pure-u-1-24 label">客户ID</div>
    <div class="pure-u-2-24"><input></div>
    <div class="pure-u-1-24 label">库存码</div>
    <div class="pure-u-2-24"><input></div>
    <div class="pure-u-1-24 label">状态</div>
    <div class="pure-u-2-24">
        <select>
          <option value="1">全部</option>
          <option value="1">用户组2</option>
        </select>
    </div>
    <div class="pure-u-1-24 label">最近</div>
    <div class="pure-u-2-24">
        <select>
          <option value="1">1个月</option>
          <option value="1">3个月</option>
        </select>
    </div>
    <div class="pure-u-12-24 button"><a>筛选</a></div>
  </div>


    <div class="list">
      <table class="pure-table pure-table-horizontal ah-list-table">
        <thead>
          <tr>
            <th width="25px;"><input type="checkbox"></th>
            <th width="8%">更新时间</th>
            <th width="10%">代刷订单号</th>
            <th>客户ID</th>
            <th>联系</th>
            <th>金额(人民币)</th>
            <th>金额(欧元)</th>
            <th>备注</th>
            <th width="8%">状态</th>
            <th width="5%">操作</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="vorkasse in vorkasses">
          <td width="25px;"><input type="checkbox"></td>
            <td>{{vorkasse.updated_at.substring(0,10)}}</td>
            <td>{{vorkasse.reference_code}}</td>
            <td>{{vorkasse.customer.name}}</td>
            <td>QQ: {{vorkasse.customer.QQ || "空"}} <br> Email: {{vorkasse.customer.email || "空"}}</td>
            <td>{{vorkasse.amount}}</td>
            <td>{{vorkasse.amount_foreign}}</td>
            <td>{{vorkasse.description}}</td>
            <td>{{vorkasse.statusStr}}</td>
            <td><a ng-click="goToDetail(vorkasse.id)">详情</a></td>

          </tr>
        </tbody>
      </table>
    </div>
  <div class="ah-action-btns">
    <div class="left ">
            <div class="ah-pager"  ng-if="pageInfo.prev_page_url" ng-click="requestPage(pageInfo.prev_page_url)" ><</div>
             <div class="ah-pager" ng-if="pageInfo.next_page_url" ng-click="requestPage(pageInfo.next_page_url)" >></div>
    </div>
    <div class="right">
      <!-- <a  ng-click="" class="pure-button blue horizon">批量下载附件</a> -->
    </div>
  </div>

</div>
