
<div class="ah-list">
  <div class="ah-main-header">
    <div class="left">
      <span class="title">问题件列表</span>
    </div>

    <div class="right pure-u-1-8">

    <select ng-model="type">
      <!-- <option value="0">预报问题件</option> -->
      <option value="3">库存问题件</option>
      <option value="1">订单问题件</option>
      <option value="2">移库问题件</option>
    </select>
    </div>
  </div>

  <div class="ah-list">
      <table class="pure-table pure-table-horizontal ah-list-table">
        <thead>
          <tr>
            <th width="2%"><input type="checkbox"></th>
            <th>更新时间</th>
            <th>跟踪号</th>
            <th>客户ID</th>
            <th>入库码</th>
            <th>库位号</th>
            <!-- <th>分类</th> -->
            <th>状态</th>
            <th width="8%">操作</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="p in problemPkgs">
            <td><input type="checkbox"></td>
            <td>{{p.updated_at}}</td>
            <td>{{p.reference_code}}</td>
            <td>{{p.package_owner.name}}</td>
            <td>{{p.package_owner.stock_number}}</td>
            <td>{{p.package_owner.stock_position}}</td>
            
            <!-- <td>订单问题件</td> -->
            <td><span ng-if="type==0">预报问题件</span><span ng-if="type==1">订单问题件</span><span ng-if="type==2">移库问题件</span><span ng-if="type==3">库存问题件</span></td>
            <td><a ng-click="goToDetail(p)">查看</a></td>
          </tr>
        </tbody>
      </table>
  </div>
  <div class="ah-action-btns"> 
    <div class="left">
      <a  ng-if="pageInfo.prev_page_url" ng-click="requestPage(pageInfo.prev_page_url)" >上一页</a>
      <a  ng-if="pageInfo.next_page_url" ng-click="requestPage(pageInfo.next_page_url)" >下一页</a>
    </div>
    <div class="right">
      <a  ng-click="" class="pure-button red horizon">批量存档</a>
      <a  ng-click="" class="pure-button blue horizon">批量导出</a>
    </div>
  </div>
  
</div>