
<div class="ah-list">
 <div class="pure-g ah-filter">
  <!-- <div class="pure-u-1-24 label">搜索</div> -->
    <div class="pure-u-2-24 label">问题件类型</div>
    <div class="pure-u-4-24"><select ng-model="type">
      <!-- <option value="0">预报问题件</option> -->
      <option value="3">库存问题件</option>
      <option value="1">订单问题件</option>
      <option value="2">移库问题件</option>
    </select></div>

    <div class="pure-u-1-24 label">库存码</div>
    <div class="pure-u-2-24"><input></div>
       <div class="pure-u-1-24 label">客户ID</div>
    <div class="pure-u-2-24"><input></div>
    <div class="pure-u-1-24 label">时间</div>
    <div class="pure-u-2-24"><input placeholder="yyyy-mm-dd"></div>
    <div class="pure-u-1-24 label">-</div>
    <div class="pure-u-2-24"><input placeholder="yyyy-mm-dd"></div>
    <div class="pure-u-6-24 button"><a>筛选</a></div>

  </div>



  <div class="ah-list">
      <table class="pure-table pure-table-horizontal ah-list-table">
        <thead>
          <tr>
            <th width="2%"><input type="checkbox"></th>
            <th>更新时间</th>
            <th>跟踪号</th>
            <th>客户ID</th>
            <th>库存码</th>
            <th>库位号</th>
            <!-- <th>分类</th> -->
            <th>状态</th>
            <th width="8%">操作</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="p in problemPkgs">
            <td><input type="checkbox"></td>
            <td>{{p.updated_at}}</td>
            <td>{{p.reference_code}}</td>
            <td>{{p.package_owner.name}}</td>
            <td>{{p.package_owner.stock_number}}</td>
            <td>{{p.package_owner.stock_position}}</td>
            
            <!-- <td>订单问题件</td> -->
            <td><span ng-if="type==0">预报问题件</span><span ng-if="type==1">订单问题件</span><span ng-if="type==2">移库问题件</span><span ng-if="type==3">库存问题件</span></td>
            <td><a ng-click="goToDetail(p)">查看</a></td>
          </tr>
        </tbody>
      </table>
  </div>
  <!-- <div class="ah-empty-holder"></div> -->
  <!-- 为空holder -->
  <div class="ah-action-btns"> 
  <!--  为空情况下不显示 -->
    <div class="left ">
            <div class="ah-pager"  ng-if="pageInfo.prev_page_url" ng-click="requestPage(pageInfo.prev_page_url)" ><</div>
             <div class="ah-pager" ng-if="pageInfo.next_page_url" ng-click="requestPage(pageInfo.next_page_url)" >></div>
    </div>
    <div class="right">
      <!-- <a  ng-click="" class="pure-button red horizon">批量存档</a> -->
      <!-- <a  ng-click="" class="pure-button blue horizon">批量导出</a> -->
    </div>
  </div>
  
</div>