

<div class="ah-body-wrapper" ng-controller="Shell">
  <nav class="ah-nav pure-g">
    <div class="pure-u-1-3">
      <div class="title">大口袋转运</div>
    </div>
    <div class="pure-u-2-3 ah-nav-list">
      <ul>
        <li>用户名 TODO</li>
        <li><a href="/auth/logout">退出</a></li>
      </ul>
    </div>
  </nav>
  <nav class="ah-sub-nav pure-g">
    <div class="pure-u-1-3">
    <!-- <img src="images/ah-logo.png"> -->
      <div class="logo">大口袋后台管理</div>
    </div>
    <div class="pure-u-2-3 ah-sub-nav-list">
      <ul>
        <li ui-sref="stockList">业务</li>
        <li ui-sref="articleList">运维</li>
        <li ui-sref="refill">财务</li>
        <li ui-sref="userList">系统</li>
      </ul>
    </div>
  </nav>
  <div class="pure-g main">
    <div class="pure-u-2-24">

      <div ng-show="$state.includes('business')" class="ah-sidebar">
        <div class="list-wrapper">
          <div class="title">库存</div>
          <ul class="list" >
            <!-- <li ui-sref="stockList" ui-sref-active="active">库存列表</li> -->
            <li ui-sref="stockList({stockStatus: ''})" ng-class="{active: $state.current.name=='stockList'&&!$stateParams.stockStatus}">库存列表</li>
            <li ui-sref="stockList({stockStatus: 1})" ng-class="{active: $state.current.name=='stockList'&&$stateParams.stockStatus==1}">已登记</li>
            <li ui-sref="stockList({stockStatus: 2})" ng-class="{active: $state.current.name=='stockList'&&$stateParams.stockStatus==2}">待入库</li>
            <li ui-sref="stockQuick" ui-sref-active="active">快速入库</li>
            <li ui-sref="stockBatch" ui-sref-active="active">批量入库</li>
            <li ui-sref="transList" ui-sref-active="active">移库列表</li>
          </ul>
        </div>
        <div class="list-wrapper">
          <div class="title">订单</div>
          <ul class="list" >
            <li ui-sref="orderList({orderStatus: ''})" ng-class="{active: $state.current.name=='orderList'&&!$stateParams.orderStatus}">订单列表</li>
            <li ui-sref="orderList({orderStatus: 1})" ng-class="{active: $state.current.name=='orderList'&&$stateParams.orderStatus==1}">未处理</li>
            <li ui-sref="orderList({orderStatus: 7})" ng-class="{active: $state.current.name=='orderList'&&$stateParams.orderStatus==7}">打包中</li>
            <li ui-sref="orderList({orderStatus: 2})" ng-class="{active: $state.current.name=='orderList'&&$stateParams.orderStatus==2}">待付款</li>
             <li ui-sref="orderList({orderStatus: 3})" ng-class="{active: $state.current.name=='orderList'&&$stateParams.orderStatus==3}">已付款</li>
            <li ui-sref="orderList({orderStatus: 4})" ng-class="{active: $state.current.name=='orderList'&&$stateParams.orderStatus==4}">待发货</li>
            <li ui-sref="orderQuick" ui-sref-active="active">快速处理</li>
            <li ui-sref="orderTrack" ui-sref-active="active">订单跟踪</li>
          </ul>
        </div>
        <div class="list-wrapper">
          <div class="title">问题件</div>
          <ul class="list" >
            <li ui-sref="problemList" ui-sref-active="active">问题件列表</li>
            <!-- <li ui-sref="problemDetail">已存档问题件</li> -->
          </ul>
        </div>
        <!-- <div class="list-wrapper">
          <div class="title">搜索</div>
          <ul class="list" >
            <li ui-sref="search">搜索</li>
          </ul>
        </div> -->
        
        
      </div>

      <div ng-show="$state.includes('finance')"  class="ah-sidebar">
        <div class="list-wrapper">
          <div class="title">财务</div>
          <ul class="list">
            <li ui-sref="refill" ui-sref-active="active">账户充值</li>
            <li ui-sref="refund" ui-sref-active="active">账户退款</li>
            <!-- <li>财务统计</li> -->
            <li ui-sref="financialRecord" ui-sref-active="active">交易记录</li>
        </div>
         <div class="list-wrapper">
          <div class="title">代刷</div>
          <ul class="list">
            <li ui-sref="vorkasseList" ui-sref-active="active">代刷列表</li>
            <li ui-sref="vorkasseRate" ui-sref-active="active">代刷汇率管理</li>
          </ul>
        </div>
<!--         <div class="list-wrapper">
          <div class="title">积分</div>
          <ul class="list">
            <li>积分规则调整</li>
            <li>积分消费记录</li>
            </ul>
        </div> -->
      </div>

      <div  ng-show="$state.includes('maintenance')"  class="ah-sidebar">
        <div class="list-wrapper">
          <div class="title">消息</div>
          <ul class="list">
          <li ui-sref="messageList" ui-sref-active="active">消息列表</li>
            <li ui-sref="groupMessageList" ui-sref-active="active">群发消息</li>
            <li ui-sref="ticketList" ui-sref-active="active">工单管理</li>
            </ul>
        </div>
       
<!--          <div class="list-wrapper">
          <div class="title">优惠码</div>
          <ul class="list">
            <li>优惠码管理</li>
            </ul>
        </div> -->
                <div class="list-wrapper">
          <div class="title">文档</div>
          <ul class="list">
          <!-- <li ui-sref="bannerList" >横幅管理</li> -->
            <li ui-sref="articleList"  ui-sref-active="active">文章管理</li>
            </ul>
        </div>

      </div>

      <div ng-show="$state.includes('system')"  class="ah-sidebar">
      <div class="list-wrapper">
          <div class="title">物流</div>
          <ul class="list">
            <li ui-sref="logisticList" ui-sref-active="active">物流线路管理</li>
            <li ui-sref="logisticType" ui-sref-active="active">发货类型管理</li>
            <li ui-sref="logisticTrack" ui-sref-active="active">跟踪状态管理</li>
            </ul>
        </div>
        <div class="list-wrapper">
          <div class="title">附加服务</div>
          <ul class="list">
            <li ui-sref="extraSrvList" ui-sref-active="active">附加服务管理</li>
            </ul>
        </div>
 

        <div class="list-wrapper">
          <div class="title">用户</div>
          <ul class="list">
            <li ui-sref="userList" ui-sref-active="active">用户管理</li>
            <li ui-sref="roleList" ui-sref-active="active">用户组管理</li>
            </ul>
        </div>
<!--              <div class="list-wrapper">
          <div class="title">数据库</div>
          <ul class="list">
            <li>数据库备份</li>
            <li>数据库导出</li>
            </ul>
        </div> -->

      </div>
      
    </div>
    <div class="pure-u-22-24">
      <div class="ah-main" ui-view></div>
    </div>
  </div>
</div>