<div class="ah-body-wrapper" ng-controller="Shell">
  <nav class="ah-nav pure-g">
    <div class="pure-u-1-3">
      <div class="title">大口袋转运</div>
    </div>
    <div class="pure-u-2-3 ah-nav-list">
      <ul>
        <li>用户名</li>
        <li>消息 (2)</li>
        <li>退出</li>
      </ul>
    </div>
  </nav>
  <nav class="ah-sub-nav pure-g">
    <div class="pure-u-1-3">
      <div class="logo"><img src="images/ah-logo.png"> <span>后台管理</span></div>
    </div>
    <div class="pure-u-2-3 ah-sub-nav-list">
      <ul>
        <li ui-sref="stockList">业务</li>
        <li ui-sref="articleList">运维</li>
        <li ui-sref="refill">财务</li>
        <li ui-sref="userList">系统</li>
      </ul>
    </div>
  </nav>
  <div class="pure-g main">
    <div class="pure-u-3-24">

      <div ng-show="$state.includes('business')" class="ah-sidebar">
        <div class="list-wrapper">
          <div class="title">库存</div>
          <ul class="list" >
            <li ui-sref="stockList">预报列表</li>
            <li ui-sref="stockList">库存列表</li>
            <li ui-sref="stockQuick">快速入库</li>
            <li ui-sref="stockBatch">批量入库</li>
            <li ui-sref="transList">移库列表</li>
          </ul>
        </div>
        <div class="list-wrapper">
          <div class="title">订单</div>
          <ul class="list" >
            <li ui-sref="orderList">订单列表</li>
            <li ui-sref="orderQuick">快速处理</li>
            <li ui-sref="orderTrack">订单跟踪</li>
          </ul>
        </div>
        <div class="list-wrapper">
          <div class="title">问题件</div>
          <ul class="list" >
            <li ui-sref="problemList">问题件列表</li>
            <li ui-sref="problemDetail">已存档问题件</li>
          </ul>
        </div>
        <div class="list-wrapper">
          <div class="title">搜索</div>
          <ul class="list" >
            <li ui-sref="search">搜索</li>
          </ul>
        </div>
        
        
      </div>

      <div ng-show="$state.includes('financial')"  class="ah-sidebar">
        <div class="list-wrapper">
          <div class="title">财务</div>
          <ul class="list">
            <li ui-sref="refill">账户充值</li>
            <li ui-sref="refund">账户退款</li>
            <li>财务统计</li>
            <li>交易记录</li>
        </div>
         <div class="list-wrapper">
          <div class="title">代刷</div>
          <ul class="list">
            <li>代刷列表</li>
            <li>代刷汇率管理</li>
          </ul>
        </div>
        <div class="list-wrapper">
          <div class="title">积分</div>
          <ul class="list">
            <li>积分规则调整</li>
            <li>积分消费记录</li>
            </ul>
        </div>
      </div>

      <div  ng-show="$state.includes('maintenance')"  class="ah-sidebar">
        <div class="list-wrapper">
          <div class="title">消息</div>
          <ul class="list">
          <li ui-sref="messageList">消息列表</li>
            <li ui-sref="groupMessageList">群发消息</li>
            <li ui-sref="ticketList">工单管理</li>
            </ul>
        </div>
       
         <div class="list-wrapper">
          <div class="title">优惠码</div>
          <ul class="list">
            <li>优惠码管理</li>
            </ul>
        </div>
                <div class="list-wrapper">
          <div class="title">文档</div>
          <ul class="list">
          <li ui-sref="bannerList" >横幅管理</li>
            <li ui-sref="articleList" >文章管理</li>
            </ul>
        </div>

      </div>

      <div ng-show="$state.includes('system')"  class="ah-sidebar">
      <div class="list-wrapper">
          <div class="title">物流</div>
          <ul class="list">
            <li ui-sref="logisticList">物流线路管理</li>
            <li ui-sref="logisticType">发货类型管理</li>
            <li ui-sref="logisticTrack">跟踪状态管理</li>
            </ul>
        </div>
        <div class="list-wrapper">
          <div class="title">附加服务</div>
          <ul class="list">
            <li ui-sref="extraSrvList">附加服务管理</li>
            </ul>
        </div>
 

        <div class="list-wrapper">
          <div class="title">用户</div>
          <ul class="list">
            <li ui-sref="userList">用户管理</li>
            <li ui-sref="userManage">用户组管理</li>
            </ul>
        </div>
             <div class="list-wrapper">
          <div class="title">数据库</div>
          <ul class="list">
            <li>数据库备份</li>
            <li>数据库导出</li>
            </ul>
        </div>

      </div>
      
    </div>
    <div class="pure-u-21-24">
      <div class="ah-main" ui-view></div>
    </div>
  </div>
</div>