
<div class="ah-list">
  <div class="ah-main-header">
    <div class="left">
      <span class="title">批量入库</span>
    </div>
  </div>

  <div class="ah-list">
      <table class="pure-table pure-table-horizontal ah-list-table">
        <thead>
          <tr>
            <th width="30px"><input type="checkbox"></th>
            <th>入库跟踪号</th>
            <th>客户ID</th>
            <th>入库码</th>
            <th>库位号</th>
            <th>联系</th>
            <th>包裹描述</th>
            <th>客户备注</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="stock in stocks">
            <td><input ng-model="stock.selected" ng-click="stockSelected(stock)" type="checkbox"></td>
            <td>{{stock.reference_code}}</td>
            <td>{{stock.user_name}}</td>
            <td>{{stock.stock_position}}</td>
            <td>{{stock.stock_number}}</td>
            <td>QQ:{{stock.user_qq? stock.user_qq: "空"}}  - Email: {{stock.user_email}}</td>
            <td>{{stock.description}}</td>
            <td>{{stock.message}}</td>
          </tr>
        </tbody>
      </table>
  </div>
  <div class="ah-action-btns"> 
    <input file-model="fileToUpload" type="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"/> <button ng-click="upload()">上传</button>

    <div class="right">
      <a ng-if="selectedStocks.length>0"  ng-click="submitBatch()" class="pure-button blue horizon">批量入库</a>
    </div>
  </div>
  
</div>