<div class="pure-g">
    <div class="pure-u-5-6">
    <div class="pure-g pure-u-1"><div class="ah-section">跟踪号码 - {{stock.reference_code}}</div></div>
    <!-- 并列表格开始 -->
    <div class="pure-g">
      <div class="pure-u-1-2">
        <table class="pure-table pure-table-horizontal ah-small-table">
          <tr>
            <td style="width:80px">收件仓库</td>
            <td>{{stock.warehouseName}}</td>
          </tr>
          <tr>
            <td>包裹备注</td>
            <td>{{stock.desc?stock.desc:"暂无"}}</td>
          </tr>
          <tr>
            <td>快递信息</td>
            <td>{{stock.reference_code}}</td>
          </tr>
          <tr>
            <td>客户ID</td>
            <td>{{stock.user.name}}</td>
          </tr>
          <tr>
            <td>需验证</td>
            <td>
              <span>{{stock.need_check?"是":"否"}}</span>
            </td>
          </tr>
        </table>
      </div>
      <div class="pure-u-1-2">
        <table class="pure-table pure-table-horizontal ah-small-table" >
          <tr>
            <td  style="width:80px">状态</td>
            <td>{{stock.statusStr}}</td>
          </tr>
          <tr>
            <td>库位号</td>
            <td>{{stock.user.stock_position}}</td>
          </tr>
          <tr>
            <td>预报时间</td>
            <td>{{stock.created_at}}</td>
          </tr>
          <tr>
            <td>入库时间</td>
            <td>{{stock.updated_at}}</td></tr>
          </table>
        </div>
      </div>
      <!-- 并列表格结束 -->
      <div class="ah-section">附加信息</div>
      <table class="pure-table pure-table-horizontal ah-small-table">
         <tr>
          <td style="width:80px">附加服务</td>
          <td ng-repeat="es in stock.extra_services">{{es.service_name}}</td>
          <td ng-if="stock.extra_services.length==0&&stock.status==1">等待用户选择</td>
          <td ng-if="stock.extra_services.length==0&&stock.status==2">用户未选择</td>
        </tr>
        <tr>
          <td>用户留言</td>
          <td>{{stock.message?stock.message:"空"}}</td>
        </tr>
        <tr>
          <td>附件信息</td>
          <td ng-if="(!stock.image_1)&&(!stock.image_2)&&(!stock.image_3)"> 未上传 </td>
          <td ng-if="stock.image_1 || stock.image_2 || stock.image_3">
            <a ng-if="stock.image_1" ng-href="{{imageUrlPrefix + stock.image_1}}" target="_blank" >查看</a>
            <a ng-if="stock.image_2" ng-href="{{imageUrlPrefix + stock.image_2}}" target="_blank" >查看</a>
            <a ng-if="stock.image_3" ng-href="{{imageUrlPrefix + stock.image_3}}" target="_blank" >查看</a>
          </td>
        </tr>
      </table>


      <div class="ah-section"> <input  ng-model="stock.isStockCheck" type="checkbox" > 入库清点 {{isStockCheck}}</div>

      <div ng-if="stock.isStockCheck" >

        <table class="pure-table pure-table-horizontal ah-line-table">
          <thead>
            <tr>
              <th class="pure-u-1-4">物品名称</th>
              <th class="pure-u-1-4">类型</th>
              <th class="pure-u-1-8">数量</th>
              <th class="pure-u-1-8">单价(元)</th>
              <th class="pure-u-1-8">单件重量(KG)</th>
              <th class="pure-u-1-8">操作</th>
            </tr>
          </thead>
              <tbody>
                <tr ng-repeat="item in stock.items" >
                  <td><input ng-model="item.item_name" class="pure-u-1"  type="text"></td>
                  <td>
                    <select ng-model="item.typeOption" ng-options="opt.type_name for opt in optionTypes" ng-init="item.type=item.typeOption.id; item.typeName=item.typeOption.type_name;" ng-change="item.type=item.typeOption.id; item.typeName=item.typeOption.type_name;">
                  </td>
                  <td><input ng-model="item.quantity" class="pure-u-1" type="text"></td>
                  <td><input ng-model="item.unit_price" class="pure-u-1" type="text"></td>
                  <td><input ng-model="item.unit_weight" class="pure-u-1" type="text"></td>
                  <td><a ng-click="deleteItem($index)" class="item-delete-icon">删除</a></td>
                </tr>
            </tbody>
        </table>

          <!-- TODO: 获取条形码后自动填入商品名称和重量，提示框样式使用 ah-feedback 相同功能在 stockQuick.html 一样 -->
          <div class="ah-feedback">未找到条形码对应的商品</div>

          <div class="pure-g ah-barcode-add">

            <div class=" pure-u-2-3"><input ng-model="$parent.eanCode" type="text" placeholder="扫描商品条形码自动添加"></div>
            <div class="pure-u-1-6 ">
              <button ng-click="autoAddEanItem()" class="">获取信息</button>
            </div>

            <div class="pure-u-1-6" ng-click="addItem()"><button class="s_button">手动增加</button></div>
          </div>
      </div>
      <div ng-show="!stock.isStockCheck">
        <table class="pure-table pure-table-horizontal ah-line-table">
          <thead>
            <tr>
              <th class="pure-u-1-4">物品名称</th>
              <th class="pure-u-1-4">类型</th>
              <th class="pure-u-1-8">数量</th>
              <th class="pure-u-1-8">单价(元)</th>
              <th class="pure-u-1-8">单件重量(KG)</th>
            </tr>
          </thead>
              <tbody>
                <tr >
                  <td>整箱发货</td>
                  <td>{{optionTypes[0].type_name}}</td>
                  <td>1</td>
                  <td>无</td>
                  <td>{{stock.weight}}</td>
                </tr>
            </tbody>
        </table>
      </div>


    </div>
    <!-- 右侧功能键开始 -->
    <div class="pure-u-1-6 right">
       <div problem-pkg-btn package-id="{{$stateParams.stockId}}" type="3" current-status="stock.status"></div>
<!-- TODO: 打印入库面单 -->
      <div><a ng-click="printStock()" class="pure-button list blue ">打印入库面单</div>
      <div><a ng-click="enterStock()" ng-if="stock.status==2" class="pure-button blue divide">确认入库</a></div>
      <div><a ng-click="enterStock()" ng-if="stock.status==4" class="pure-button blue divide">修改入库</a></div>
      <div><a ng-click="goBack()" class="pure-button back divide">返回继续</a></div>
      </div> <!-- 右侧功能键结束 Div -->
</div>
