<div class="ah-scan-space">
  <div class="pure-g ah-big-search">
    <div><input ng-model="serachText" type="text" ></div>
    <button ng-click="search()" class="">回车确认</button>
  </div>
</div>

<!-- <div ng-if="stock" class="pure-g"> -->
<div ng-if="isRequested&&isStockFound" class="pure-g">
    <div class="pure-u-7-8">
    <div class="pure-g pure-u-1"><div class="ah-section">找到匹配：跟踪号码 - {{stock.reference_code}}</div></div>
    <!-- 并列表格开始 -->
    <div class="pure-g">
      <div class="pure-u-1-2">
        <table class="pure-table pure-table-horizontal ah-small-table">
          <tr>
            <td style="width:80px">收件仓库</td>
            <td>{{stock.warehouseName}}</td>
          </tr>
          <tr>
            <!-- <td>包裹备注</td> -->
            <td>{{stock.desc}}</td>
          </tr>
          <tr>
            <td>快递信息</td>
            <td>{{stock.reference_code}}</td>
          </tr>
          <tr>
            <td>客户ID</td>
            <td>{{stock.user.name}}</td>
          </tr>
          <tr>
            <td>需验证</td>
            <td>
              <span>{{stock.need_check?"是":"否"}}</span>
            </td>
          </tr>
        </table>
      </div>
      <div class="pure-u-1-2">
        <table class="pure-table pure-table-horizontal ah-small-table" >
          <tr>
            <td  style="width:80px">状态</td>
            <td>{{stock.statusStr}}</td>
          </tr>
          <tr>
            <td>库位号</td>
            <td>{{stock.user.stock_position}}</td>
          </tr>
          <tr>
            <td>预报时间</td>
            <td>{{stock.created_at}}</td>
          </tr>
          <tr>
            <td>入库时间</td>
            <td>{{stock.updated_at}}</td></tr>
          </table>
        </div>
      </div>
      <!-- 并列表格结束 -->
      <div class="ah-section">附加信息</div>
      <table class="pure-table pure-table-horizontal ah-small-table">
         <tr>
          <td style="width:80px">附加服务</td>
          <td ng-repeat="es in stock.extra_services">{{es.service_name}}</td>
          <td ng-if="stock.extra_services.length==0">无</td>
        </tr>
        <tr>
          <td>用户留言</td>
          <td>{{stock.message?stock.message:"空"}}</td>
        </tr>
        <tr>
          <td>附件信息</td>
          <td ng-if="(!stock.image_1)&&(!stock.image_2)&&(!stock.image_3)"> 未上传 </td>
          <td ng-if="stock.image_1 || stock.image_2 || stock.image_3">
            <a ng-if="stock.image_1" ng-href="{{imageUrlPrefix + stock.image_1}}" target="_blank" >查看</a>
            <a ng-if="stock.image_2" ng-href="{{imageUrlPrefix + stock.image_2}}" target="_blank" >查看</a>
            <a ng-if="stock.image_3" ng-href="{{imageUrlPrefix + stock.image_3}}" target="_blank" >查看</a>
          </td>
        </tr>
      </table>


      <div class="ah-section"> <input  ng-model="stock.isStockCheck" type="checkbox" > 入库清点 {{isStockCheck}}</div>
      <div ng-show="stock.isStockCheck" >
        <table class="pure-table pure-table-horizontal ah-line-table">
          <thead>
            <tr>
              <th class="pure-u-1-4">物品名称</th>
              <th class="pure-u-1-4">类型</th>
              <th class="pure-u-1-8">数量</th>
              <th class="pure-u-1-8">单价(元)</th>
              <th class="pure-u-1-8">单件重量(KG)</th>
              <th class="pure-u-1-8">操作</th>
            </tr>
          </thead>
              <tbody>
                <tr ng-repeat="item in stock.items" >
                  <td><input ng-model="item.item_name" class="pure-u-1"  type="text"></td>
                  <td>
                    <select ng-model="item.typeOption" ng-options="opt.type_name for opt in optionTypes" ng-init="item.type=item.typeOption.id; item.typeName=item.typeOption.type_name;" ng-change="item.type=item.typeOption.id; item.typeName=item.typeOption.type_name;">
                  </td>
                  <td><input ng-model="item.quantity" class="pure-u-1" type="text"></td>
                  <td><input ng-model="item.unit_price" class="pure-u-1" type="text"></td>
                  <td><input ng-model="item.unit_weight" class="pure-u-1" type="text"></td>
                  <td><a ng-click="deleteItem($index)" class="item-delete-icon">删除</a></td>
                </tr>
            </tbody>
        </table>

        <div class="center"> 
          <a ng-click="addItem()" class="pure-button radius blue">新增一项</a>
          <!-- <a class="pure-button radius blue">批量上传</a> -->
        </div>
      </div>      
      <div ng-show="!stock.isStockCheck">
        <table class="pure-table pure-table-horizontal ah-line-table">
          <thead>
            <tr>
              <th class="pure-u-1-4">物品名称</th>
              <th class="pure-u-1-4">类型</th>
              <th class="pure-u-1-8">数量</th>
              <th class="pure-u-1-8">单价(元)</th>
              <th class="pure-u-1-8">单件重量(KG)</th>
            </tr>
          </thead>
              <tbody>
                <tr >
                  <td>整箱发货</td>
                  <td>{{optionTypes[0].type_name}}</td>
                  <td>1</td>
                  <td>无</td>
                  <td>{{stock.weight}}</td>
                </tr>
            </tbody>
        </table>
      </div>


    </div>
    <!-- 右侧功能键开始 -->
    <div class="pure-u-1-8 right">
      <div><a class="pure-button flag divide">标记为问题件</a></div>
      <div><a ng-click="goToDetail()" class="pure-button view divide">查看详情</a></div>
      <div><a ng-if="stock.status==2" ng-click="enterStock()" class="pure-button blue divide">确认入库</a></div>
      <div><a ng-if="stock.status==4" ng-click="enterStock()" class="pure-button blue divide">修改入库</a></div>
      <div><a ng-click="goBack()" class="pure-button back divide">返回继续</a></div>
      </div> <!-- 右侧功能键结束 Div -->
</div>

<!-- 找到了信息 -->
      <!-- 未找到结果部分 -->
<div ng-if="isRequested&&(!isStockFound)" >
  <form name="stockForm">
        <div class="ah-section">未找到信息 － 新建库存</div>
        <div class="pure-g">
        <div class="pure-u-20-24">
          <div class="pure-g ah-form-line">
            <div class="pure-u-2-24 input-label">选择仓库</div>
            <div class="pure-u-4-24">
              <select ng-model="warehouseChosen" ng-options="wh.name for wh in warehouses">
              </select>
            </div>
<!--             <div class="pure-u-2-24 input-label">入库线路</div>
            <div class="pure-u-2-24">                  
              <select name="">
                <option value="">DHL</option>
                <option value="">EMS</option>
              </select>
            </div>
 -->            
          <div class="pure-u-2-24 input-label">包裹运单号</div>
            <div class="pure-u-1-4">
              <input 
                name="ref_code"
                ng-model="serachText" 
                placeholder="从扫描中获取"
                validator="required"
                type="text" 
              >
            </div>
            <div class="pure-u-2-24 input-label">入库重量</div>
            <div class="pure-u-2-24">
              <input 
                name="weight"
                ng-model="submitData.weight" 
                validator="required, number"
                type="text">
            </div>
            <div class="pure-u-1-24 input-label">KG</div>
          </div>
          <div class="pure-g ah-form-line">
                <div class="pure-u-2-24 input-label">入库码</div>
                <div class="pure-u-4-24">
                  <input 
                    name="stock_number"
                    ng-model="submitData.stock_number"
                    type="text">
                </div>
                <div class="pure-u-2-24 input-label">库位号:</div>
                <div class="pure-u-2-24">
                  <input ng-if="userFound" ng-model="userFound.stock_position" readonly>
                  <span ng-if="!userFound" >用户未找到</span>
                </div>
                <div class="pure-u-2-24 input-label">用户组:</div>
                <div class="pure-u-4-24">
                  <input ng-if="userFound"  ng-model="userFound.roleName" readonly>
                  <span ng-if="!userFound" >用户未找到</span>
                </div>
                <div class="pure-u-2-24 input-label">保证金:</div>
                <div class="pure-u-4-24">
                  <span ng-if="userFound">
                    <span ng-if="userFound.is_assured">已交</span>
                    <span ng-if="!userFound.is_assured">未交</span>
                  </span>
                  <span ng-if="!userFound" >用户未找到</span>
                </div>
          </div>
          <div class="ah-section">入库信息</div>
          <div class="ah-tips">如需用户提交购物凭证等信息，勾选[需要验证]；</div>
          <div class="pure-g ah-form-line">
            <div class="pure-u-2-24 input-label">需要验证</div>
            <div class="pure-u-1-24"><input ng-model="submitData.need_check" type="checkbox"></div>
<!--             <div class="pure-u-2-24">入库清点</div>
            <div class="pure-u-1-24"><input type="checkbox" ng-model=""></div>
 -->          
        </div>
          </div>






        <!-- 右边控制开始 -->
        <div class="pure-u-4-24 right">
            <div><a validation-submit="stockForm" ng-click="regStock()" class="pure-button blue ">登记包裹</a></div>
            <div><a class="pure-button print ">打印面单</a></div>
        </div>
    </div>
    </form>
</div>






    <script type="text/javascript">
    $("input:text:visible:first").focus();
    </script>