<div class="ah-list">
<!--   <div class="ah-main-header">
    <div class="left">
      <span ng-if="$state.current.name=='preStockList'" class="title">预报列表</span>
      <span ng-if="$state.current.name=='stockList'" class="title">库存列表</span>
    </div>

  </div> -->
  <div class="pure-g ah-filter">
  <!-- <div class="pure-u-1-24 label">搜索</div> -->
    <div class="pure-u-2-24 label">入库跟踪号</div>
    <div class="pure-u-4-24"><input></div>

    <div class="pure-u-1-24 label">入库码</div>
    <div class="pure-u-2-24"><input></div>
       <div class="pure-u-1-24 label">客户ID</div>
    <div class="pure-u-2-24"><input></div>
    <div class="pure-u-1-24 label">时间</div>
    <div class="pure-u-2-24"><input placeholder="yyyy-mm-dd"></div>
    <div class="pure-u-1-24 label">至</div>
    <div class="pure-u-2-24"><input placeholder="yyyy-mm-dd"></div>
    <div class="pure-u-6-24 button"><a>筛选</a></div>
  </div>



  <div class="ah-list">
      <table class="pure-table pure-table-horizontal ah-list-table">
        <thead>
          <tr>
            <th width="2%"><input type="checkbox"></th>
            <th width="5%">提交时间</th>
            <th width="10%">入库跟踪号</th>
            <th width="5%">客户ID</th>
            <th width="5%">入库码</th>
            <th width="4%">库位号</th>
            <th width="5%">联系</th>
            <th width="10%">包裹描述</th>
            <th width="10%">备注</th>
            <th width="5%">状态</th>
            <th width="5%">操作</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="stock in stocks">
            <td><input ng-model="stock.selected" ng-click="stockSelected(stock)" type="checkbox"></td>
            <td>TODo</td>
            <td>{{stock.reference_code}}</td>
            <td>{{stock.user_name}}</td>
            <td>{{stock.stock_number}}</td>
            <td>{{stock.stock_position}}</td>
            <td>QQ:{{stock.user_qq? stock.user_qq: "空"}}  - 
                <a href="mailto:{{stock.user_email}}" target="_top"><img src="images/contact-email.svg"></a></td>
            <td>{{stock.desc}}</td>
            <td>{{stock.message}}</td>
            <td>{{StockService.getStockStatusMapping(stock.status)}}</td>
            <td>                   
              <!-- <a ng-if="stock.status === 1 || stock.status === 2" ng-click="goToDetail(stock.id)"  title="编辑"></a> -->
              <a ng-if="stock.status === 1 || stock.status === 2" ng-click="enterStock(stock)" >入库</a>
              <a ng-click="goToDetail(stock)" >详情</a>
              <a ng-if="stock.status !== -1" ng-click="deleteStock(stock)" >删除</a>
            </td>
          </tr>
        </tbody>
      </table>
  </div>
  <div class="ah-action-btns"> 
    <div class="left">
      <a  ng-if="pageInfo.prev_page_url" ng-click="requestPage(pageInfo.prev_page_url)" >上一页</a>
      <a  ng-if="pageInfo.next_page_url" ng-click="requestPage(pageInfo.next_page_url)" >下一页</a>
    </div>
    <div class="right">
      <a  ng-click="" class="pure-button red horizon">批量存档</a>
      <a  ng-click="batchDownload()" class="pure-button blue horizon">批量导出</a>
    </div>
  </div>
  
</div>