<div class="ah-stock-detail">
  <div class="ah-main-header">
      <div class="left">
        <span class="title blue">库存列表 > 查看 </span>
      </div>
  </div>
  <div class="ah-main-body pure-form" >
    <div class="pure-g">
      <div class="pure-u-5-6">
          <div class="ah-section first-child"> 基本信息 </div>
        <!-- 并列表格开始 -->
    <div class="pure-g"> 


            <div class="pure-u-1-2">
          <table class="pure-table pure-table-horizontal ah-small-table">
  <tr><td>客户ID</td><td>CPJSTUDIO</td></tr>
  <tr>
    <td style="width:30%">收件仓库</td>
    <td>德国卡尔斯鲁尔仓库</td>

  </tr>
  <tr>
    <td>包裹备注</td>
    <td>【AJ备注】</td>

  </tr>
    <tr>
    <td>库位码</td>
    <td>NHDIWK</td>

  </tr>
  <tr>
    <td>入库跟踪码</td>
    <td>DHL1231321</td>

  </tr>

</table>
</div>

<div class="pure-u-1-2">
<table class="pure-table pure-table-horizontal ah-small-table" > 
    <tr>    
    <td  style="width:30%">状态</td>
    <td>未入库</td>
    </tr>
    <tr>
    <td>库位号</td>
    <td>1234</td>
    </tr>
    <tr>
    <td>预报时间</td>
    <td>12313</td>
    </tr>
    <tr>
    <td>入库时间</td>
    <td>--</td></tr>
</table>
</div>



</div>  
<!-- 并列表格结束 -->

<div class="ah-section"> 包裹物品信息 </div>

<table class="pure-table pure-table-horizontal ah-custom-table">
        <thead>
          <tr>
            <th class="pure-u-1-4">名称</th>
            <th class="pure-u-1-8">分类</th>
            <th class="pure-u-1-8">单价/总价</th>
            <th class="pure-u-1-8">单重/总重</th>
            <th class="pure-u-1-8">数量</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in stock.items" >
            <td>{{item.item_name}}</td>
            <td>{{item.type}}</td>
            <td>{{item.unit_price}} / {{item.unit_price*item.quantity}}</td>
            <td>{{item.unit_weight}} / {{item.unit_weight*item.quantity}}</td>
            <td>{{item.quantity}}</td>
          </tr>
        </tbody>
    </table>


<div class="ah-section">附加信息</div>
    <table class="pure-table pure-table-horizontal ah-small-table">
  <tr>
    <td style="width:15%">留言</td>
    <td>留什么</td>
  </tr>
    <tr>
    <td>附件信息</td>
    <td>$80</td>
  </tr>
  <tr>
    <td>入库清单</td>
    <td>$80</td>
  </tr>
</table>


      </div>
      <!-- 右侧功能键开始 -->
      <div class="pure-u-1-6 right">
           <div><a class="pure-button flag ">标记为问题件</a></div>
           <div><a class="pure-button blue divide">入库</a></div>
           <div><a class="pure-button red divide">存档</a></div>
           <div><a class="pure-button back divide">返回</a></div>
           
           
      </div> <!-- 右侧功能键结束 Div -->
    </div><!-- 中部信息栏结束 Div -->


  </div><!-- 主体部分结束 Div  -->
</div>