
<div class="ah-list">

  <div class="ah-list">
      <table class="pure-table pure-table-horizontal ah-list-table">
        <thead>
          <tr>
            <th width="30px"><input type="checkbox"></th>
            <th>入库跟踪号</th>
            <th>客户ID</th>
            <th>库存码</th>
            <th>库位号</th>
            <th>联系</th>
            <th>包裹描述</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="stock in stocks">
            <td><input ng-model="stock.selected" ng-click="stockSelected(stock)" type="checkbox"></td>
            <td>{{stock.reference_code}}</td>
            <td>{{stock.user.name}}</td>
            <td>{{stock.stock_position}}</td>
            <td>{{stock.stock_number}}</td>
            <td>QQ:{{stock.user_qq? stock.user_qq: "空"}}  - Email: {{stock.user_email}}</td>
            <td>{{stock.description}}</td>
          </tr>
        </tbody>
      </table>
  </div>

  <div class="pure-g ah-space">
    <div class="pure-u-1 upload">
      <div class="file-select">请选择Excel文件 <input file-model="fileToUpload" type="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"/> </div>
      <button class= "pure-button blue" ng-click="upload()">上传附件</button>
    </div>
  </div>


  <div class="ah-action-btns">

      <a ng-if="selectedStocks.length>0"  ng-click="submitBatch()" class="pure-button blue horizon">批量入库</a>
</div>

</div>
