<div class="ah-list">
  <div class="ah-main-header">
    <div class="left">
      <span class="title">文章编辑</span>
    </div>
  </div>
</div>
<div class="pure-g">
  <div class="pure-u-20-24">

    <div class="pure-g ah-form-line" style="margin-top:15px;">
      <div class="pure-u-22-24"><input ng-model="article.title" placeholder="文章标题"></div>
       
    </div>

<div class="pure-g ah-form-line">
<div class="pure-u-22-24"><textarea id="editor" rows="10"></textarea></div></div>
    <div class="pure-g ah-form-line">
      <div class="pure-u-2-24 input-label">选择分类</div>
      <div class="pure-u-6-24">
        <select ng-model="article.type">
          <option value="0">通知</option>
          <option value="1">活动</option>
          <option value="2">晒单</option>
        </select>
      </div>
    </div>

 

    </div>
  <div class="pure-u-4-24 right">
      <a  ng-click="saveArticle()" class="pure-button blue">保存</a>
      <a ng-if="isEdit" ng-click="deleteArticle()" class="pure-button red">删除</a>
      <a  ng-if="isEdit && article.unpublish" ng-click="publish(true)" class="pure-button blue">确认发布</a>
       <a ng-if="isEdit && !article.unpublish" ng-click="publish(false)" class="pure-button red">取消发布</a>
       <!-- 当状态为已发布时，按钮变成取消发布 -->
      <a  ng-click="" ui-sref="articleList" class="pure-button back" >返回</a>
    </div>
  </div>
</div>
</div>