  <div class="ah-list">
      <table class="pure-table pure-table-horizontal ah-list-table">
        <thead>
          <tr>
            <th width="2%"><input type="checkbox"></th>
            <th width="10%">发布时间</th>
            <th width="30%">文章标题</th>
            <th width="5%">分类</th>
            <th width="5%">撰写人</th>
            <th width="5%">发布状态</th>
            <th width="8%">操作</th>
          </tr>
        </thead>
        <tbody ng-repeat="article in articles">
        <td><input type="checkbox"></td>
        <td>{{article.updated_at}}</td>
        <td>{{article.title}}</td>
        <td>
          <span ng-if="article.type==0">通知</span>
          <span ng-if="article.type==1">活动</span>
          <span ng-if="article.type==2">拼单</span>
        </td>
        <td>{{article.author}}</td>
        
        <td>{{article.unpublish?'未发布':'已发布'}}</td>
        <td><a ng-click="editArticle(article.id)">修改</a> <a ng-click="deleteArticle(article.id)">删除</a></td>
      
        </tbody>
      </table>
  </div>
  <div class="ah-action-btns"> 
    <div class="left ">
            <div class="ah-pager"  ng-if="pageInfo.prev_page_url" ng-click="requestPage(pageInfo.prev_page_url)" ><</div>
             <div class="ah-pager" ng-if="pageInfo.next_page_url" ng-click="requestPage(pageInfo.next_page_url)" >></div>
    </div>
    <div class="right">
      <a  class="pure-button blue horizon" ui-sref="articleManage">添加新文章</a>
    </div>
  </div>
  
</div>