
<div ng-show="isPopupShown" class="pop-up-cover">
<div class="pop-up-wapper">
  <div class="pop-up-title">
    群发消息
  </div>
  <div class="pop-up-body">
    <div class="poo-up-section">
        <div>
          <input ng-model="select.sendByRole" type="radio" name="bulkMode" id="sendByRole" value="1" style="width: 5%"><label for="sendByRole" >根据用户组发送</label>
          <input ng-model="select.sendByRole" type="radio" name="bulkMode" id="sendByUser" value="0" style="width: 5%"><label for="sendByUser" >选择用户发送</label>
        </div>
        <select ng-if="select.sendByRole==1" ng-model="roleChosen" ng-options="role.role_name for role in roles">
        <input ng-if="select.sendByRole==0" type="text" id="user-tags">
    </div>   
    <div class="poo-up-section">
        <textarea ng-model="textContent" name="" rows="5"></textarea>
    </div>
  </div>
  <div class="pop-up-opt pure-g">
  <div class="pure-u-2-3 left">
  <input ng-model="isNotification" type="checkbox"> 通知
  <input ng-model="isEmail" type="checkbox"> 邮件
  <input ng-model="isSMS" type="checkbox">短信
</div>
    <div class="pure-u-1-3 right">
      <a ng-click="popupCancle()" class="pure-button red horizon-small">取消</a>
      <a ng-click="popupConfirm()" class="pure-button blue horizon-small">确认</a>
    </div>
  </div>
</div>
</div>


<div class="ah-list">
  <div class="ah-main-header">
    <div class="left">
      <span class="title">消息列表</span>
    </div>
  </div>


  <div class="ah-list">
      <table class="pure-table pure-table-horizontal ah-list-table">
        <thead>
          <tr>
            <th width="2%"><input type="checkbox"></th>
            <th width="30%">消息内容</th>
            <th width="5%">发件人</th>
            <th width="5%">发布时间</th>
          </tr>
        </thead>

        <tbody ng-repeat="bulk in bulkList">
          <td><input type="checkbox"></td>
          <td>{{bulk.content}}</td>
          <td>{{bulk.handler_name}}</td>
          <td>{{bulk.created_at}}</td>
        </tbody>
      </table>
  </div>
  <div class="ah-action-btns"> 
    <div class="left">
      <a  ng-if="pageInfo.prev_page_url" ng-click="requestPage(pageInfo.prev_page_url)" >上一页</a>
      <a  ng-if="pageInfo.next_page_url" ng-click="requestPage(pageInfo.next_page_url)" >下一页</a>
    </div>
    <div class="right">
      <a ng-click="isPopupShown=true;"  class="pure-button blue horizon">新建群消息</a>
    </div>
  </div>
  
</div>


