<div class="ah-stock-quick">

  <!-- 标题栏开始 -->
  <div class="ah-main-header">
    <div class="left">
      <span class="title blue">快速打包</span>
    </div>
  </div>
  <!-- 标题栏结束 -->

  <!-- 主体部分开始 -->
  <div class="ah-main-body pure-form" >
    <div class="pure-g">
      <div class="title pure-u-5-6">
        <span><img src="images/scan.png"></span>
        <span><input ng-model="serachText" type="text" ></span>
      </div>
      <div class="pure-u-1-6 right">
        <a ng-click="search()" class="pure-button enter">回车确认</a>
      </div>  


    </div> <!-- 顶部栏结束 Div -->
    <div class="ah-divider thick"></div>
    <div ng-if="stock" class="pure-g">

      <div class="pure-u-7-8">
        <div class="pure-g pure-u-1"><div class="ah-section">找到匹配：跟踪号码 - {{stock.ship_tracknumber}}</div></div>
        <!-- 并列表格开始 -->
        <div class="pure-g"> 
          <div class="pure-u-1-2">
            <table class="pure-table pure-table-horizontal ah-small-table">
              <tr>
                <th colspan="2">基本信息</th>

              </tr>
              <tr>
                <td style="width:30%">收件仓库</td>
                <td>{{stock.ship_company}}</td>

              </tr>
              <tr>
                <td>包裹备注</td>
                <td>{{stock.desc}}</td>

              </tr>
              <tr>
                <td>快递信息</td>
                <td>{{stock.ship_company}} {{stock.ship_tracknumber}}</td>

              </tr>
              <tr>
                <td>客户ID</td>
                <td>{{stock.owner_id}}</td>

              </tr>
            </table>
          </div>

          <div class="pure-u-1-2">
            <table class="pure-table pure-table-horizontal ah-small-table" > 
              <th colspan="2">库存信息</th>
              <tr>    
                <td  style="width:30%">状态</td>
                <td>{{stock.status}}</td>
              </tr>
              <tr>
                <td>库位号</td>
                <td>{{stock.weight}}</td>
              </tr>
              <tr>
                <td>预报时间</td>
                <td>{{stock.timeString}}</td>
              </tr>
              <tr>
                <td>入库时间</td>
                <td>--</td></tr>
              </table>
            </div>



          </div>  
          <!-- 并列表格结束 -->

          <div class="ah-section has-divider"> 包裹物品信息 </div>

          <table class="pure-table pure-table-horizontal ah-custom-table">
            <thead>
              <tr>
                <th class="pure-u-1-4">预报运单号</th>
                <th class="pure-u-1-4">名称</th>
                <th class="pure-u-1-8">分类</th>
                <th class="pure-u-1-8">单价/总价</th>
                <th class="pure-u-1-8">单重/总重</th>
                <th class="pure-u-1-8">数量</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="item in stock.items" >
                <td>--</td>
                <td>{{item.item_name}}</td>
                <td>{{item.type}}</td>
                <td>{{item.unit_price}} / {{item.unit_price*item.quantity}}</td>
                <td>{{item.unit_weight}} / {{item.unit_weight*item.quantity}}</td>
                <td>{{item.quantity}}</td>
              </tr>
            </tbody>
          </table>


          <div class="ah-section">附加信息</div>
          <table class="pure-table pure-table-horizontal ah-small-table">
            <tr>
              <td style="width:15%">留言</td>
              <td>留什么</td>
            </tr>
            <tr>
              <td>附件信息</td>
              <td>$80</td>
            </tr>
            <tr>
              <td>入库清单</td>
              <td>$80</td>
            </tr>
          </table>


        </div>
        <!-- 右侧功能键开始 -->
        <div class="pure-u-1-8 right">
         <div><a class="pure-button flag divide">标记为问题件</a></div>
         <div><a class="pure-button view divide">查看详情</a></div>
         <div><a class="pure-button blue divide">确认入库</a></div>
         <div><a class="pure-button back divide">返回继续</a></div>
       </div> <!-- 右侧功能键结束 Div -->
     </div><!-- 中部信息栏结束 Div -->


   </div><!-- 主体部分结束 Div  -->

   <div ng-if="!stock" > 未找到信息 - ...</div>
 </div>