
<div class="ah-list">
  <div class="ah-main-header">
    <div class="left">
      <span class="title">订单列表</span>
    </div>

    <div class="right">
      <span>筛选: </span>
      <span>按状态</span>
      <span> | </span>
      <span>按时间</span>
    </div>
  </div>

  <div>
      <table class="pure-table pure-table-horizontal ah-list-table">
        <thead>
          <tr>
            <th width="20px"><input type="checkbox"></th>
            <th>订单号</th>
            <th>客户ID</th>
            <th>收件人</th>
            <th>提交时间</th>
            <th>发货重量</th>
            <th>总价格</th>
            <th>状态</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="order in orders"  >
            <td><input ng-model="order.selected" ng-click="orderSelected(order)" type="checkbox"></td>
            <td>{{order.reference_code}}</td>
            <td>{{order.user_name}}</td>
            <td>{{order.post_info.receiver_name}}</td>
            <td>{{order.dateStr}}</td>
            <td>{{order.weight}}</td>
            <td>待生成</td>
            <td>{{order.statusStr}}</td>
            <td>
              <a ng-click="goToDetail(order.id)" >详情</a>
              <a ng-if="order.order_status !== -1" ng-click="deleteOrder(order)" >删除</a>
            </td>
          </tr>
        </tbody>
      </table>
  </div>
  <div class="ah-action-btns"> 
    <div class="left">
      <a  ng-if="pageInfo.prev_page_url" ng-click="requestPage(pageInfo.prev_page_url)" >上一页</a>
      <a  ng-if="pageInfo.next_page_url" ng-click="requestPage(pageInfo.next_page_url)" >下一页</a>
    </div>
    <div class="right">
      <a  ng-click="" class="pure-button red horizon">批量存档</a>
      <a  ng-click="batchDownload()" class="pure-button blue horizon">批量导出</a>
    </div>
  </div>
  
</div>