<div class="ah-list">
  <div class="ah-filter">
    <div class="pure-g">
      <div class="pure-u-1-24 label">订单号</div>
      <div class="pure-u-4-24">
        <input ng-model="filterOptions.reference_code">
      </div>
      <div class="pure-u-1-24 label">库存码</div>
      <div class="pure-u-2-24">
        <input ng-model="filterOptions.stock_number">
      </div>
      <div class="pure-u-1-24 label">客户ID</div>
      <div class="pure-u-2-24">
        <input ng-model="filterOptions.owner_name">
      </div>
      <div class="pure-u-1-24 label">时间</div>
      <div class="pure-u-3-24">
        <input type='date' ng-model="filterOptions.start">
      </div>
      <div class="pure-u-1-24 label">-</div>
      <div class="pure-u-3-24">
        <input type='date' ng-model="filterOptions.end">
      </div>
      <div class="pure-u-1-24 label">最近</div>
      <div class="pure-u-2-24">
          <select ng-model="filterOptions.date_type" ng-options="o.v as o.n for o in [{ n: '一个月', v: 1 }, { n: '三个月', v: 3 }]">
          </select>
      </div>
      <div class="pure-u-2-24 button" ><a ng-click="clearFilter() " style="background:#ff3535;">清除</a></div>

    </div>
    <div class="pure-g">
      <div class="pure-u-1-24 label">运单号</div>
      <div class="pure-u-4-24">
        <input ng-model="filterOptions.track_code">
      </div>
      <div class="pure-u-2-24 label">入库跟踪号</div>
      <div class="pure-u-4-24">
        <input>
      </div>
      <div class="pure-u-1-24 label">线路</div>
      <div class="pure-u-4-24">
        <select ng-model="filterOptions.logistic_path" ng-options="lp.id as lp.name for lp in allLogisticPaths"> </select>
      </div>

      <div class="pure-u-8-24 button"><a ng-click="filter()">筛选</a></div>

    </div>
  </div>
  <div>
    <table class="pure-table pure-table-horizontal ah-list-table">
      <thead>
        <tr>
          <th width="2%">
            <input type="checkbox" ng-model="isAllSelected" ng-click="selectAllItems()">
          </th>
          <th width="8%">更新时间</th>
          <th width="10%">订单号</th>
          <th width="8%">客户ID</th>
          <th width="8%">库存码</th>
          <th width="8%">收货人</th>
          <th width="5%">发货重量</th>
          <th width="5%">总价格</th>
          <th width="5%">状态</th>
          <th width="8%">操作</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="order in orders">
          <td>
            <input ng-model="order.selected" ng-click="orderSelected(order)" type="checkbox">
          </td>
          <td>{{order.updated_at}}</td>
          <td>{{order.package.reference_code}}</td>
          <td>{{order.package.user.name}}</td>
          <td>{{order.package.user.stock_number}}</td>
          <td>{{order.post_address.receiver_name}}</td>
          <td>{{order.weight | number:2 }}KG</td>
          <td>{{order.total_cost|number:2}}元</td>
          <td>{{order.statusStr}}</td>
          <td>
            <a ng-click="goToDetail(order.id)">详情</a>
            <a ng-if="order.order_status !== -1" ng-click="deleteOrder(order)">删除</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="ah-action-btns">
    <div class="left ">
      <div class="ah-pager" ng-if="pageInfo.prev_page_url" ng-click="requestPage(pageInfo.prev_page_url)">
        <</div>
          <div class="ah-pager" ng-if="pageInfo.next_page_url" ng-click="requestPage(pageInfo.next_page_url)">></div>
      </div>
      <div class="right">
        <!-- <a  ng-click="" class="pure-button red horizon">批量存档</a> -->
        <a ng-if="$stateParams.orderStatus==3||$stateParams.orderStatus==4" ng-click="batchDownloadEasylog()" class="pure-button download horizon">下载EasyLog</a>
        <a ng-click="batchPrintPostList()" class="pure-button print horizon">打印面单</a>
        <a ng-click="batchPrintPackList()" class="pure-button list horizon">打印配货单</a>
        <a ng-click="batchDownload()" class="pure-button export horizon">批量导出</a>
      </div>
    </div>

  </div>
