<div class="ah-scan-space">
  <div class="pure-g ah-big-search">
    <div>
      <input ng-model="serachText" type="text">
    </div>
    <button ng-click="search()" class="">回车确认</button>
  </div>
</div>

<div ng-show="isWeightPopupShown" class="pop-up-cover">
  <div class="pop-up-wapper">
    <div class="pop-up-title">
      称重打包
    </div>
    <div class="pop-up-body">
      <div class="pop-up-section">
        <!-- <input type="text" placeholder="请填写入库重量"> -->
        入库重量: {{order.claim_weight | number:2}}
      </div>
      <div class="poo-up-section">
        <input type="number" ng-model="weight" placeholder="请填写出库重量" required> </div>
    </div>
    <div class="pop-up-opt pure-g">
      <div class="pure-u-2-3 pop-up-tips">
        <a>提示：更新重量后状态将变为等待付款</a>
      </div>
      <div class="pure-u-1-3">
        <a ng-click="weightAndPackCancle()" class="pure-button red horizon-small">取消</a>
        <a ng-click="weightAndPackConfirm()" class="pure-button blue horizon-small">确认</a>
      </div>
    </div>
  </div>
</div>

<div ng-if="isRequested&&order" class="ah-main-body">
  <div class="pure-g">
    <div class="pure-u-18-24">
      <div class="ah-section first-child">订单号 {{order.package.reference_code}} </div>
      <!-- 并列表格开始 -->
      <div class="pure-g">

        <div class="pure-u-1-2">
          <table class="pure-table pure-table-horizontal ah-small-table">
            <tr>
              <td width="30%">客户ID</td>
              <td>{{order.package.user.name}}</td>
            </tr>
            <tr>
              <td>收件人</td>
              <td>{{order.post_address.receiver_name}}</td>
            </tr>
            <tr>
              <td>收货地址</td>
              <td>{{order.post_address.province}} {{order.post_address.city}} {{order.post_address.town}} {{order.post_address.street}} </td>
              <tr>
                <td>联系电话</td>
                <td>{{order.post_address.phone}}</td>
              </tr>
              <tr>
                <td>配送线路</td>
                <td>{{order.logisticPath.name}}</td>
              </tr>
              <tr>
                <td>物品所在仓库</td>
                <td>{{warehouse.name}}</td>
              </tr>
              <tr>
                <td>入库重量</td>
                <td>{{order.claim_weight|number:2}}KG</td>
              </tr>
              <tr>
                <td>按线路配重</td>
                <td> <span ng-init="isWeightEditShown=false" ng-hide="isWeightEditShown">{{order.weight|number:2}}KG</span>
                  <input ng-show="isWeightEditShown" ng-model="order.weight">
                </td>
              </tr>
          </table>
        </div>

        <div class="pure-u-1-2">
          <table class="pure-table pure-table-horizontal ah-small-table">
            <tr>
              <td style="width:30%">订单状态</td>
              <td>{{order.statusStr}}</td>
            </tr>
            <tr>
              <td>提交时间</td>
              <td>{{order.created_at}}</td>
            </tr>
            <tr>
              <td>更新时间</td>
              <td>{{order.updated_at}}</td>
            </tr>


            <tr ng-hide="order.logisticPath.ship_company_international==null">
                <td>{{order.logisticPath.ship_company_international}}运单号</td>
                <td ng-init="isTrackNumEditShown=false"  ng-hide="isTrackNumEditShown">{{order.track_code || "暂无"}}</td>
                <td ng-show="isTrackNumEditShown"><input ng-model="order.ship_tracknumber.International" style="width: auto;"></td>
            </tr>
            <tr ng-hide="order.logisticPath.ship_company_china==null">
                <td>{{order.logisticPath.ship_company_china}}运单号</td>
                <td ng-init="isTrackNumEditShown=false"  ng-hide="isTrackNumEditShown">{{order.track_code_2 || "暂无"}}</td>
                <td ng-show="isTrackNumEditShown"><input ng-model="order.ship_tracknumber.China"  style="width: auto;"></td>
            </tr>
          </table>
        </div>



      </div>
      <!-- 并列表格结束 -->

      <div class="ah-section"> 包裹物品信息 </div>

      <table class="pure-table pure-table-horizontal ah-line-table">
        <thead>
          <tr>
            <th class="pure-u-5-24">入库跟踪号</th>
            <th class="pure-u-4-24">名称</th>
            <th class="pure-u-1-8">分类</th>
            <th class="pure-u-1-8">单价/总价</th>
            <th class="pure-u-1-8">单重/总重</th>
            <th class="pure-u-1-8">数量</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in order.package.items">
            <td>{{item.source_ref}} </td>
            <td>{{item.item_name}}</td>
            <td>{{item.typeName}}</td>
            <td>{{item.unit_price|number:2}} / {{item.unit_price*item.quantity|number:2}}</td>
            <td>{{item.unit_weight|number:2}} / {{item.unit_weight*item.quantity|number:2}}</td>
            <td>{{item.quantity}}</td>
          </tr>
        </tbody>
      </table>

      <!-- 收费明细 -->

      <div class="ah-section">收费明细</div>
      <table class="pure-table pure-table-horizontal ah-line-table">
        <thead>
          <tr>
            <th class="pure-u-1-4">项目</th>
            <th class="pure-u-1-4">费用</th>
            <th class="pure-u-2-4">说明</th>
          </tr>
        </thead>
        <tbody>
          <!-- TODO: 这里请使用AS生产动态数据 -->
          <tr ng-repeat="es in order.extra_services">
            <td>{{es.service_name}}</td>
            <td>{{es.pivot.price|number:2}}</td>
            <td>{{es.description}}</td>
          </tr>
          <tr>
            <td>运费</td>
            <td>{{order.cost|number:2}}元</td>
            <td>-</td>
          </tr>
          <tr class="sum">
            <td>合计</td>
            <td>{{order.total_cost|number:2}}元</td>
            <td>{{order.auto_charge==0? "客服手动确认后支付" : "称重后自动结算（需有足够余额)"}}</td>
          </tr>
        </tbody>
      </table>


      <div class="ah-section">附加信息</div>
      <table class="pure-table pure-table-horizontal ah-small-table">
        <tr>
          <td style="width:15%">发货备注</td>
          <td>{{order.message}}</td>
        </tr>
      </table>
    </div>
    <!-- 左侧主题结束 -->


    <div class="pure-u-6-24 right">
      <!-- <div><a class="pure-button flag  ">标记为问题件</a></div> -->
      <div problem-pkg-btn package-id="{{order.id}}" type="1" current-status="order.order_status"></div>
      <div><a ng-if="order.order_status !=-1" ng-click="deleteOrder()" class="pure-button red ">删除</a></div>
      <div><a ng-click="printPackListconfirm()" class="pure-button list blue ">打印配货单</a></div>
      <div><a ng-click="printPostListconfirm()" class="pure-button print blue ">打印面单</a></div>
      <div ng-if="order.order_status<3 || order.order_status == 7"><a ng-click="weightAndPack()" class="pure-button scale ">称重打包</a></div>
      <div ng-if="order.order_status>2 && order.order_status != 7"><a ng-click="downloadEasyLog()" class="pure-button download blue ">下载Easylog</a></div>
      <div ng-if="(order.order_status==4) && order.order_status != -1"><a ng-hide="isTrackNumEditShown" ng-click="confirmShip()" class="pure-button ship ">提交发货</a></div>
      <div><a ng-show="isWeightEditShown || isShipStatusEditShown || isTrackNumEditShown" ng-click="editOrder()" class="pure-button green ">确认修改</a></div>
      <div><a ng-click="goBack()" class="pure-button back ">返回列表</a></div>
    </div>
    <!-- 右侧功能键结束 Div -->


  </div>
  <!-- 中部信息栏结束 Div -->
</div>


<div ng-if="isRequested&&!order"> 未找到信息 - ...</div>
</div>
<script type="text/javascript">
  $("input:text:visible:first").focus();
</script>
