<div class="ah-list">
  <div class="ah-filter">
    <div class="pure-g">
      <div class="pure-u-1-24 label">订单号</div>
      <div class="pure-u-4-24"><input></div>
      <div class="pure-u-1-24 label">入库码</div>
      <div class="pure-u-2-24"><input></div>
      <div class="pure-u-1-24 label">客户ID</div>
      <div class="pure-u-2-24"><input></div>
      <div class="pure-u-1-24 label">收货人</div>
      <div class="pure-u-2-24"><input></div>
      <div class="pure-u-1-24 label">时间</div>
      <div class="pure-u-2-24"><input placeholder="yyyy-mm-dd"></div>
      <div class="pure-u-1-24 label">-</div>
      <div class="pure-u-2-24"><input placeholder="yyyy-mm-dd"></div>
      <div class="pure-u-1-24 label">最近</div>
      <div class="pure-u-3-24">
        <select>
          <option value="">一个月</option>
          <option value="">三个月</option>
        </select>
      </div>
    </div>
    <div class="pure-g">
      <div class="pure-u-1-24 label">运单号</div>
      <div class="pure-u-4-24"><input></div>
      <div class="pure-u-1-24 label">线路</div>
      <div class="pure-u-2-24">
        <select>
          <option value="">1</option>
          <option value="">2</option>
        </select></div>
        <div class="pure-u-1-24 label">状态</div>
        <div class="pure-u-2-24">
          <select>
            <option value="">1</option>
            <option value="">2</option>
          </select></div>
          <div class="pure-u-1-24 label">服务</div>
          <div class="pure-u-2-24">
            <select>
              <option value="">1</option>
              <option value="">2</option>
            </select></div>
            <div class="pure-u-4-24 label">提示：尽量选择较少参数进行搜索</div>
            <div class="pure-u-6-24 button"><a>筛选</a></div>
          </div>
        </div>
        <div>
          <table class="pure-table pure-table-horizontal ah-list-table">
            <thead>
              <tr>
                <th width="2%"><input type="checkbox"></th>
                <th width="8%">提交时间</th>
                <th width="10%">订单号</th>
                <th width="8%">客户ID</th>
                <th width="8%">收货人</th>
                <th width="5%">发货重量</th>
                <th width="5%">总价格</th>
                <th width="5%">状态</th>
                <th width="8%">操作</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="order in orders"  >
                <td><input ng-model="order.selected" ng-click="orderSelected(order)" type="checkbox"></td>
                <td>{{order.dateStr}}</td>
                <td>{{order.reference_code}}</td>
                <td>{{order.user_name}}</td>
                <td>{{order.post_info.receiver_name}}</td>
                <td>{{order.weight | number:2 }}KG</td>
                <td>{{order.total_cost|number:2}}元</td>
                <td>{{order.statusStr}}</td>
                <td>
                  <a ng-click="goToDetail(order.id)" >详情</a>
                  <a ng-if="order.order_status !== -1" ng-click="deleteOrder(order)" >删除</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="ah-action-btns">
          <div class="left">
            <a  ng-if="pageInfo.prev_page_url" ng-click="requestPage(pageInfo.prev_page_url)" >上一页</a>
            <a  ng-if="pageInfo.next_page_url" ng-click="requestPage(pageInfo.next_page_url)" >下一页</a>
          </div>
          <div class="right">
            <a  ng-click="" class="pure-button red horizon">批量存档</a>
            <a  ng-click="" class="pure-button print horizon">打印配货单</a>
            <a  ng-click="batchDownload()" class="pure-button export horizon">批量导出</a>
          </div>
        </div>
        
      </div>