
<div ng-show="isPopupShown" class="pop-up-wapper">
  <div class="pop-up-title">
    添加新的服务
  </div>
  <div class="pop-up-body">
    <div class="pop-up-section pure-g">
      <div class="pure-u-1-5 input-label">填写范围</div>
      <div class="pure-u-1-5"><input ng-model="ladderFrom" disabled type="number"></div>
      <div class="pure-u-1-5 input-label">至</div>
      <div class="pure-u-1-5"><input ng-model="ladderTo" type="number"></div>
    </div>
    <div class="poo-up-section"><input type="number" ng-model="ladderPrice" placeholder="填写此范围的价格"> </div>
  </div>
  <div class="pop-up-opt pure-g">
    <div class="pure-u-2-3 pop-up-tips">
      <!-- 提示：更新重量后状态将变为等待付款 -->
    </div>
    <div class="pure-u-1-3">
      <a ng-click="popupCancle()" class="pure-button red horizon-small">取消</a>
      <a ng-click="popupConfirm()" class="pure-button blue horizon-small">确认</a>
    </div>
  </div>
</div>
<div class="pure-g">
<div class="pure-u-20-24">
  <form name="extraSrvForm">
  <div class=" ah-section"> 添加新的附加服务 </div>
  <!-- 表单第一行开始 -->
  <div class="pure-g ah-form-line">
    <div class="pure-u-2-24 input-label">服务名称</div>
    <div class="pure-u-1-4">
      <input
        ng-model="extraSrv.service_name"
        name="service_name"
        type="text"
        validator="required">
    </div>
    <div class="pure-u-2-24 input-label">适用路线</div>
    <div class="pure-u-1-4">
      <select ng-model="chosenLogisticPath" ng-options="lp.name for lp in allLogisticPaths"> </select>
    </div>
  </div>
  <!-- 第一行结束结束 -->
  <!-- 表单第三行开始 -->
  <div class="pure-g ah-form-line">
    <div class="pure-u-2-24 input-label">适用用户组</div>
    <!-- <div class="pure-u-6-24"><input ng-model="extraSrv.user_group"></div>    -->
    <div class="pure-u-6-24">
      <select ng-model="chosenRole" ng-options="r.role_name for r in allRoles"> </select>
<!--       <select ng-model="extraSrv.user_group">
        <option value="0">全部用户</option>
        <option value="1">普通用户</option>
        <option value="2">VIP用户</option>
      </select> -->
    </div>
    <div class="pure-u-2-24 input-label">适用类型</div>
    <div class="pure-u-6-24">
      <!-- <input ng-model="extraSrv.type"> -->
      <select ng-model="extraSrv.type">
        <option value="0">全部</option>
        <option value="1">入库</option>
        <option value="2">移库</option>
        <option value="3">发货</option>
      </select>
    </div>
  </div>
  <!-- 表单第三行结束 -->
  <!-- 表单第四行开始 -->
  <div class="pure-g ah-form-line">
    <div class="pure-u-2-24 input-label">收费基准</div>
    <div class="pure-u-6-24">
      <select ng-model="extraSrv.based_on">
        <option value="0">单件计算</option>
        <option value="1">按重量梯度计算</option>
        <option value="2">按价格计算</option>
      </select></div>
      <div class="pure-u-2-24 input-label">基准价格</div>
      <div class="pure-u-4-24">
        <input
          name="base_price"
          type="text"
          validator="required, number"
          ng-model="extraSrv.base_price"></div>
    </div>
    <!-- 第四行结束 -->
    <div ng-if="extraSrv.based_on == 1  ">
      <p class="ah-tips">计算公式为：基准价格＋梯度＊价格；示例：若基准价格为100元；0-1公斤，每公交为100元；1-5公斤，每公斤为20元，订单公斤数为4公斤;最终价格为：100+1*100+(4-1)*20;</p>
    <div class="ah-section" >价格梯度<span ng-click="addLadder()" class="add">+添加</span></div>
    <table class="pure-table pure-table-horizontal ah-line-table">
      <thead>
        <tr>
          <th class="pure-u-1-4">范围</th>
          <th class="pure-u-1-4">价格</th>
          <th class="pure-u-1-4">操作</th>
        </tr>
      </thead>
      <tbody>
        <!-- TODO: 这里请使用AS生产动态数据 -->
        <tr ng-repeat="ladder in ladders">
          <td>{{$first?"0":ladders[$index-1].upper_bound}}-{{ladder.upper_bound}}公斤</td>
          <td>{{ladder.unit_price}}元／公斤</td>
          <td><a ng-click="deleteLadder(ladder)">删除</a>｜<a ng-click="editLadder(ladder)">修改</a></td>
        </tr>
      </tbody>
    </table>
    </div>
    <div ng-if="extraSrv.based_on == 2  ">
      <p class="ah-tips">建议保费使用价格计算，计算公式为：基准价格＋梯队＊比例；示例：若基准价格为100；0-500元比例为1.2；500-9999元比例为0.8，订单价格为800;最终价格为：100+500*1.2+(800-500)*0.8;</p>
    <div class="ah-section" >价格梯度<span ng-click="addLadder()" class="add">+添加</span></div>
    <table class="pure-table pure-table-horizontal ah-line-table">
      <thead>
        <tr>
          <th class="pure-u-1-4">范围</th>
          <th class="pure-u-1-4">比例</th>
          <th class="pure-u-1-4">操作</th>
        </tr>
      </thead>
      <tbody>
        <!-- TODO: 这里请使用AS生产动态数据 -->
        <tr ng-repeat="ladder in ladders">
          <td>{{$first?"0":ladders[$index-1].upper_bound}}-{{ladder.upper_bound}}元</td>
          <td>{{ladder.unit_price}}</td>
          <td><a ng-click="deleteLadder(ladder)">删除</a>｜<a ng-click="editLadder(ladder)">修改</a></td>
        </tr>
      </tbody>
    </table>
    </div>
    <div class="ah-section">线路描述</div>
    <div>
      <textarea ng-model="extraSrv.description" type="text" rows="6"></textarea>
    </div>
  </div><!-- 左侧主题结束 -->
    <div class="pure-u-4-24 right">
    <a validation-submit="extraSrvForm" ng-click="submit()" class="pure-button blue">确认</a>
      <a  ng-click="" class="pure-button red">取消</a>
        <a  ng-click="goBack()" class="pure-button back">返回列表</a>


      </div>
      </form>
  </div>
