
<div class="ah-list">

    <div class="list">
      <table class="pure-table pure-table-horizontal ah-list-table">
        <thead>
          <tr>
            <th width="25px;"><input type="checkbox"></th>
            <th>附加服务名称</th>
            <th>附加服务描述</th>
            <th>附加服务类型</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="srv in extraSrvs">
            <td><input type="checkbox"></td>
            <td>{{srv.service_name}}</td>
            <td>{{srv.description}}</td>            
            <td>
              <span ng-if="srv.type==0">全部</span>
              <span ng-if="srv.type==1">入库</span>
              <span ng-if="srv.type==2">移库</span>
              <span ng-if="srv.type==3">发货</span>
            </td>
            <td>
            <a ng-click="editExtraSrv(srv)">修改</a>
            <!-- ｜ -->
            <a ng-click="deleteExtraSrv(srv)" ng-show="{{srv.is_deletable}}">删除</a>
            

            </td>
          </tr>
        </tbody>
      </table>
    </div>
  <div class="ah-action-btns"> 
    <div class="right">
      <a  ui-sref="extraSrvManage" ng-click="" class="pure-button blue horizon">添加新服务</a>
    </div>
  </div>
  
</div>