<div class="pure-g pure-u-1">

  <table class="pure-table pure-table-horizontal ah-list-table">
    <thead>
      <tr>
        <th>优惠码类型</th>
        <th>优惠码</th>
        <th>客户ID</th>
        <th>库位号</th>
        <th>有效起始时间</th>
        <th>有效截止时间</th>
        <th>只可本人使用</th>
        <th>优惠券状态</th>
        <th>使用时间</th>
        <th>使用订单号</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>默认类型</td>
        <td>DHHDIOY83</td>
        <td>xrwr</td>
        <td>IDHASD</td>
        <td>2016-2-2</td>
        <td>2016-2-5</td>
        <td>是</td>
        <td>已使用</td>
        <td>2016-2-4</td>
        <td>DKD1921321</td>
        <td>-</td>
      </tr>
      <tr>
        <td>默认类型</td>
        <td>DHHDIOY83</td>
        <td>xrwr</td>
        <td>IDHASD</td>
        <td>2016-2-2</td>
        <td>2016-2-5</td>
        <td>是</td>
        <td>已失效</td>
        <td>null</td>
        <td>null</td>
        <td>-</td>
      </tr>
      <tr>
        <td>默认类型</td>
        <td>DHHDIO983</td>
        <td>xrwr</td>
        <td>IDHASD</td>
        <td>2016-2-2</td>
        <td>2016-2-5</td>
        <td>是</td>
        <td>未使用</td>
        <td>null</td>
        <td>null</td>
        <td><a>失效</a></td>
      </tr>
    </tbody>
  </table>

  <div class="ah-action-btns">
    <div class="left ">
            <div class="ah-pager"  ng-if="pageInfo.prev_page_url" ng-click="requestPage(pageInfo.prev_page_url)" ><</div>
             <div class="ah-pager" ng-if="pageInfo.next_page_url" ng-click="requestPage(pageInfo.next_page_url)" >></div>
    </div>
  </div>



</div>
