<div class="pure-g">
<div class="pure-u-20-24">
  <div class=" ah-section"> 优惠码类型管理 </div>
  <div class="pure-g ah-form-line">
    <div class="pure-u-4-24 input-label">优惠码名称</div>
    <div class="pure-u-10-24"><input></div>
  </div>
  <div class="pure-g ah-form-line">
    <div class="pure-u-4-24 input-label">优惠比例</div>
    <div class="pure-u-2-24"><input></div>
    <div class="pure-u-10-24">（0-1）之间的数值</div>
  </div>
  <div class="pure-g ah-form-line">
    <div class="pure-u-4-24 input-label">优惠金额</div>
    <div class="pure-u-4-24"><input></div>
    <div class="pure-u-4-24">元</div>
  </div>
  <div class="pure-g ah-form-line">
    <div class="pure-u-4-24 input-label">最低消费金额</div>
    <div class="pure-u-4-24"><input></div>
    <div class="pure-u-14-24">元</div>
  </div>
  <div class="pure-g ah-form-line">
    <div class="pure-u-4-24 input-label">优惠码默认过期时间</div>
    <div class="pure-u-4-24"><input></div>
    <div class="pure-u-14-24">天</div>
  </div>
  <div class=" ah-section"> 可使用此类优惠码线路</div>
  <div class="pure-u-g">
  <input type="checkbox" name="chk_group" value="value1" />Value 1<br />
  <input type="checkbox" name="chk_group" value="value2" />Value 2<br />
  <input type="checkbox" name="chk_group" value="value3" />Value 3<br />
</div>


  </div>

<!-- 左侧主题结束 -->


<div class="pure-u-4-24 right">
    <a validation-submit="extraSrvForm" ng-click="submit()" class="pure-button blue">确认</a>
      <a  ng-click="" class="pure-button red">取消</a>
        <a  ng-click="goBack()" class="pure-button back">返回列表</a>
</div>
</div>
