<div class="uh-main-section">
    <div class="uh-main-header">
        <div class="left">
            <span class="title blue">最新动态</span>
        </div>
    </div>
    <div class="pure-g pure-u-1">
        <div class="uh-index-btns pbm-btn">问题件｜{{digits.digit_1}}</div>
        <div ui-sref="stockList({status:1})" class="uh-index-btns stock-btn clickable">已到货｜{{digits.digit_2}}</div>
        <div ui-sref="orderList({status:2})" class="uh-index-btns pay-btn clickable">待付款｜{{digits.digit_3}}</div>
        <div ui-sref="orderList({status:5})" class="uh-index-btns shipped-btn clickable">已发货｜{{digits.digit_4}}</div>
    </div>

</div>


<div class="uh-index-horizon">
        <div ng-click="toggleView(0)" ng-class="{'active': currentView===0}" class="cell active clickable"><img src="images/uh-horizon-address.svg" alt=""> <br/> <span>仓库地址</span></div>
        <div class="cell-divider"></div>
        <div ng-click="toggleView(1)" ng-class="{'active': currentView===1}" class="cell clickable"><img src="images/uh-horizon-stock.svg" alt=""> <br/> <span> 最近库存</span></div>
        <div class="cell-divider"></div>
        <div ng-click="toggleView(2)" ng-class="{'active': currentView===2}" class="cell clickable"><img src="images/uh-horizon-order.svg" alt=""> <br/> <span> 最近订单</span></div>
        <div class="cell-divider"></div>
        <div ng-click="toggleView(3)" ng-class="{'active': currentView===3}" class="cell clickable"><img src="images/uh-horizon-trans.svg" alt=""> <br/> <span> 最近移库</span></div>
</div>

<div class="uh-main-section index">



<div ng-show="currentView==0">
    <table class="pure-table pure-table-horizontal uh-list-table">
        <tbody>
            <tr>
                <td>名（Vorname）：FISE GmbH    </td>
                <td>姓（Nachname）：{{userInfo.stock_number}} / {{userInfo.stock_position}}</td>
            </tr>
            <tr>
                <td>地址（Straße und Hausnummer）：Siemensstr.23</td>
                <td></td>
            </tr>
            <tr>
                <td>城市（Stadt）：Ettlingen </td>
                <td>州/省（Bundesland/Kanton）：Baden-Württemberg</td>
            </tr>
            <tr>
                <td>国家（Land）：Deutschland </td>
                <td>邮编（Zip Code）： 76275</td>
            </tr>
            <tr>
                <td>电话（Tel）：0049-72433619012 </td>
                <td> 免费仓储天数： 40天 (超过收取：￥ 8.00/天)</td>
            </tr>
        </tbody>
    </table>
</div>

<div ng-show="currentView==1">
    <div ng-show="currentStocks.length>0">
        <table  class="pure-table pure-table-horizontal uh-list-table">
            
            <thead>
                <th>预报日期</th>
                <th>包裹运单号</th>
                <th>包裹备注</th>
                <!-- <th>库存天数</th> -->
                <th>状态</th>
            </thead>
            <tbody>
                <tr ng-repeat="stock in currentStocks" ui-sref="stockDetail({stockId:stock.id})" style="cursor: pointer;">
                    <!-- <td>{{stock.timestampStr}}</td> -->
                    <td>{{stock.reference_code}}</td>
                    <td>{{stock.description}}</td>
                    <!-- <td>{{stock.inStockTime}}天</td> -->
                    <td>{{stock.statusStr}}</td>
                </tr>
            </tbody>
        </table>

        <div class="uh-index-tips"><a ui-sref="stockList">查看全部库存</a></div>


    </div>
  
    <div ng-show="currentStocks.length==0" >  
        <div class="uh-index-empty ">
            <div>您还没有预报库存</div>
            <div ui-sref="stockSubmit" class="pure-button blue">添加新的库存</div>
        </div>
    </div>

</div>

<div ng-show="currentView==2">
    <div ng-show="currentOrders.length>0" >
        <table class="pure-table pure-table-horizontal uh-list-table">
            
            <thead>
                <th>更新日期</th>
                <th>包裹运单号</th>
                <!-- <th>包裹备注</th> -->
                <th>创建时间</th>
                <th>状态</th>
            </thead>
            <tbody>
                <tr ng-repeat="order in currentOrders" ui-sref="orderDetail({orderId:order.id})" style="cursor: pointer;">
                    <td>{{order.updatedTime}}</td>
                    <td>{{order.package.reference_code}}</td>
                    <!-- <td>{{order.package.description}}</td> -->
                    <td>{{order.createdTime}}</td>
                    <td>{{order.statusStr}}</td>
                </tr>
            </tbody>
        </table>

        <div class="uh-index-tips"><a ui-sref="orderList">查看全部订单</a></div>

    </div>
    
    <div ng-show="currentOrders.length==0" >  
        <div class="uh-index-empty ">
            <div>您还没有订单</div>
            <div ui-sref="orderSubmit" class="pure-button blue">添加新的订单</div>
        </div>
    </div>

</div>

<div ng-show="currentView==3">
    <div  ng-show="currentTranss.length>0" >
        <table class="pure-table pure-table-horizontal uh-list-table">
            
            <thead>
                <th>更新日期</th>
                <th>接收方</th>
                <th>接收方库位码</th>
                <th>创建时间</th>
                <th>状态</th>
            </thead>
            <tbody>
                <tr ng-repeat="trans in currentTranss" ui-sref="transDetail({transId:trans.id})" style="cursor: pointer;">
                    <td>{{trans.updatedTime}}</td>
                    <td>{{trans.to_name}}</td>
                    <td>{{trans.to_stock_number}}</td>
                    <td>{{trans.createdTime}}</td>
                    <td>{{trans.statusStr}}</td>
                </tr>
            </tbody>
        </table>

        <div class="uh-index-tips"><a ui-sref="transList">查看全部移库</a></div>


    </div>
    
    <div ng-show="currentTranss.length==0" >  
        <div class="uh-index-empty ">
            <div>您还没有移库</div>
            <div ui-sref="transSubmit" class="pure-button blue">添加新的移库</div>
        </div>
    </div>

</div>


</div>