<div class="uh-main-section">
    <div class="uh-main-header">
        <div class="left">
            <span class="title blue">最新动态</span>
        </div>
    </div>
    <div class="pure-g pure-u-1">
        <div class="uh-index-btns pbm-btn">问题件｜2</div>
        <div class="uh-index-btns stock-btn">待入库｜2</div>
        <div class="uh-index-btns pay-btn">待付款｜2</div>
        <div class="uh-index-btns shipped-btn">已发货｜2</div>
    </div>

</div>


<div class="uh-index-horizon">
        <div class="cell active"><img src="images/uh-horizon-address.svg" alt=""> <br/> <span>仓库地址</span></div>
        <div class="cell-divider"></div>
        <div class="cell"><img src="images/uh-horizon-stock.svg" alt=""> <br/> <span> 最近库存</span></div>
        <div class="cell-divider"></div>
        <div class="cell"><img src="images/uh-horizon-order.svg" alt=""> <br/> <span> 最近订单</span></div>
        <div class="cell-divider"></div>
        <div class="cell"><img src="images/uh-horizon-trans.svg" alt=""> <br/> <span> 最近移库</span></div>
</div>

<div class="uh-main-section">



<div id="1">
    <table class="pure-table pure-table-horizontal uh-list-table">
        <tbody>
            <tr>
                <td>名（Vorname）：FISE GmbH    </td>
                <td>姓（Nachname）：EWQLIH / 890826</td>
            </tr>
            <tr>
                <td>地址（Straße und Hausnummer）：Siemensstr.23</td>
                <td></td>
            </tr>
            <tr>
                <td>城市（Stadt）：Ettlingen </td>
                <td>州/省（Bundesland/Kanton）：Baden-Württemberg</td>
            </tr>
            <tr>
                <td>国家（Land）：Deutschland </td>
                <td>邮编（Zip Code）： 76275</td>
            </tr>
            <tr>
                <td>电话（Tel）：0049-72433619012 </td>
                <td> 免费仓储天数： 40天 (超过收取：￥ 8.00/天)</td>
            </tr>
        </tbody>
    </table>
</div>
<!-- 
<div class="uh-section">最近库存</div>
<div id="2">
    <table class="pure-table pure-table-horizontal uh-list-table">
        
        <thead>
            <th>预报日期</th>
            <th>包裹运单号</th>
            <th>包裹备注</th>
            <th>库存天数</th>
            <th>状态</th>
            <th>操作</th>
        </thead>
        <tbody>
            <tr>
                <td>2321  </td>
                <td>ffewfw</td>
                <td>fwfew</td>
                <td>fdfwf</td>
                <td>fdww</td>
                <td>fdww</td>
            </tr>
            <tr>
                <td>2321  </td>
                <td>ffewfw</td>
                <td>fwfew</td>
                <td>fdfwf</td>
                <td>fdww</td>
                <td>fdww</td>
            </tr>
        </tbody>
    </table>

    <div class="uh-index-tips"><a href="#">查看全部库存</a></div>
</div>

<div class="uh-section">最近库存为空</div>
<div id="3">
<div class="uh-index-empty ">
<div>您还没有预报库存</div>
<div class="pure-button blue">添加新的库存</div>

</div>

</div> -->
</div>