
<div class="uh-main-header">
    <div class="left"><span class="title">消息中心</span></div>
</div>

<div class="uh-message pure-g">
<div class="pure-u-2-24">
  <img src="images/icon-notification.png">
</div>

<div class="pure-u-22-24">
<div class="title">新提醒</div>
<div class="content">你的订单已经发货。</div>

<div class="info">

  <div class="pure-u-2-24 time">2015-2-3</div>
  <div class="pure-u-18-24 control"><a>标记为已读 删除</a></div>

</div>
  
</div>

</div>


<div class="uh-message pure-g">
<div class="pure-u-2-24">
  <img src="images/icon-notification.png">
</div>

<div class="pure-u-22-24">
<div class="title">发货提醒</div>
<div class="content">您有未预报的包裹，入库跟踪号：DHL23203423 已经进入仓库请及时预报入库。您有未预报的包裹，入库跟踪号：DHL23203423 已经进入仓库请及时预报入库。</div>

<div class="info">

  <div class="pure-u-2-24 time">2015-2-3</div>
  <div class="pure-u-18-24 control"><a>标记为已读 删除</a></div>

</div>
  
</div>

</div>

<div class="uh-message pure-g">
<div class="pure-u-2-24">
  <img src="images/icon-notification.png">
</div>

<div class="pure-u-22-24">
<div class="title">库存提醒</div>
<div class="content">你的订单已经发货。</div>

<div class="info">

  <div class="pure-u-2-24 time">2015-2-3</div>
  <div class="pure-u-18-24 control"><a>标记为已读 删除</a></div>

</div>
  
</div>

</div>