<!-- TODO: 之后可以抽象成一个Directive 用作所有的ListView!!! -->
<div class="uh-main-section first-list">
  <div class="uh-main-header">
    <div class="left">
      <span class="title">订单列表</span>
      <!-- <a ui-sref="stockSubmit" class="pure-button radius lightblue">新增</a> -->
    </div>

<!--     <div class="right">
      <input placeholder="搜索" ng-model="searchText" />
    </div> -->
  </div>
  <div class="uh-main-tab">
    <div class="left">
      <a ng-click="toggleStatusFilter(-1)" ng-class="{active: toggleStatus===-1}" class="uh-header-tab">所有记录</a>
      <a ng-click="toggleStatusFilter(1)" ng-class="{active: toggleStatus===1}"  class="uh-header-tab">发货处理中</a>
      <a ng-click="toggleStatusFilter(4)" ng-class="{active: toggleStatus===4}" class="uh-header-tab">待发货</a>
      <a ng-click="toggleStatusFilter(5)" ng-class="{active: toggleStatus===5}" class="uh-header-tab">已发货</a>
    </div>
    <div class="right">
      <a ui-sref="orderSubmit" class="uh-header-tab function"> 添加新的订单</a>
    </div>
   </div> 
 </div>  
 

<div class="uh-main-section middle">
      <table ng-show="filterStockList.length>0" ng-table="tableParams" class="pure-table pure-table-horizontal uh-line-table">
          <tr ng-repeat="stock in $data">
              <td data-title="'更新日期'">
                  {{stock.updatedTime}}
              </td>
              <td data-title="'包裹运单号'">
                  {{stock.package.reference_code}}
              </td>
              <td data-title="'包裹备注'">
                  {{stock.package.description}}
              </td>
              <td data-title="'创建时间'">
                  {{stock.createdTime}}
              </td>
              <td data-title="'状态'">
                  {{stock.statusStr}}
              </td>
              <td data-title="'操作'">
                  <!-- <div ng-if="stock.status === 11" ng-click="goToDetail(stock.id)" class="opt-radius-btn edit" title="编辑"></div> -->
                  <div ng-if="stock.status === 11" class="opt-radius-btn delete" title="删除"></div>
                  <div class="opt-radius-btn check"  ng-click="goToDetail(stock.id)" title="查看详情"></div>
              </td>
          </tr>


      </table>
        <!-- 为空情况 -->
       <div ng-show="filterStockList.length==0"class="uh-box-empty">
          <img src="images/message-empty.svg" width="120px;">
          <div>您的订单列表为空 :(</div>
        </div>
</div>
