<div class="uh-submit" ng-hide="isConfirmShown">

<div class="uh-main-section first">
  <div class="uh-main-header">
      <div class="left">
        <span class="title blue">提交发货</span>
      </div>
  </div>

      <div class="uh-form-section pure-g">
          <div class="title pure-u-1-4">选择收货地址</div>
          <div class="pure-u-3-4">
            <select ng-model="order.address" class="pure-u-18-24">
              <option ng-repeat="addr in addressList" value="{{addr.id}}">
                {{addr.addr_symbol}}
              </option>
            </select>
            <a class="pure-button blue inline-button" ui-sref="addressManage">管理国内地址</a>
            <div class="desc">请确认您的包裹填写的收获地址正确，保证您能在国内收到货物。</div>
          </div>
      </div>
      <div class="uh-form-section pure-g">
          <div class="title pure-u-1-4">配送路线选择</div>
          <div class="pure-u-3-4">
            <select ng-model="order.logistic_path" class="pure-u-1">
              <option ng-repeat="lp in logisticPaths" value="{{lp.id}}">
                {{lp.name}}
              </option>
            </select>
          </div>
      </div>
      <div class="uh-form-section pure-g">
          <div class="title pure-u-1-4">优惠码</div>
          <div class="pure-u-3-4">
            <input ng-model="order.coupon_code" class="pure-u-1" placeholder="仅需要时填写" type="text">
          </div>
      </div>
      <div class="uh-form-section pure-g">
          <div class="title pure-u-1-4">选择所在仓库</div>
          <div class="pure-u-3-4">
            <select ng-model="order.warehouse" class="pure-u-1">
              <option ng-repeat="warehouse in warehouses" value="{{warehouse.id}}">
                {{warehouse.name}}
              </option>
            </select>
          </div>
      </div>

</div>

<div class="uh-main-section addtion">

    <div class="entry">
      <div class="uh-section">请选择发货物品</div>
      <div class="desc">请勾选你需要发往国内的物品，并确定数量</div>
    </div>
    <!-- <div class="uh-divider thick"></div> -->
    <div class="item-list">
      <div ng-repeat="package in packageList" ng-if="package.items.length!=0">

        <div class="uh-list-header pure-g" ng-class="{active: package.toggle}" ng-click="package.toggle = !package.toggle">
          <div class="pure-u-8-24">{{getLogisticPathNameById(package.ship_order.logistic_path_id)}} {{package.ship_order.track_code}} {{package.ship_order.reference_code}}</div>
          <div class="pure-u-14-24">{{package.desc}}</div>
          <div ng-if="package.toggle" class="pure-u-2-24">关闭</div>
        </div>

        <table ng-show="package.toggle"  class="pure-table pure-table-horizontal uh-list-table">
          <thead>
            <tr>
              <th class="pure-u-1-4"><input type="checkbox">物品名称</th>
              <th class="pure-u-1-8">类型</th>
              <th class="pure-u-1-8">数量</th>
              <th class="pure-u-1-8">单价</th>
              <th class="pure-u-1-8">单件重量</th>
              <th class="pure-u-1-8">剩余数量</th>
              <th class="pure-u-1-8">发货数量</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in package.items" ng-if="item.remain>0">
              <td><input ng-model="item.isSelected" type="checkbox">{{item.item_name}}</td>
              <td>{{item.type}}</td>
              <td>{{item.quantity}}</td>
              <td>{{item.unit_price}}</td>
              <td>{{item.unit_weight}}</td>
              <td>{{item.remain}}</td>
              <td><input ng-model="item.quantityToSend" type="number" min="1" max="{{item.remain}}"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
</div>


    <!-- <div class="uh-divider thick"></div> -->
<div class="uh-main-section last">
    <div class="uh-form-section pure-g">
      <div class="title pure-u-1-4">附加服务</div>
      <div class="pure-u-3-4">
              
          <div extra-service-list type="2" user-group="0" selected-services="order.extra_services"></div>
          <div class="desc">如有需要，请选择相应的增值服务，部分服务可能会产生费用。</div>
      </div>

      
    </div>    
    <div class="uh-form-section pure-g">
      <div class="title pure-u-1-4">支付方式</div>
      <div class="pure-u-3-4 uh-order-pay-method">
        <div><input ng-model="order.auto_charge" ng-value="0" type="radio" name="payMethod" id="manualConfirm" ><label for="manualConfirm">客服手动确认后支付</label>
        </div>
        <div><input ng-model="order.auto_charge" ng-value="1" type="radio" name="payMethod" id="autoConfirm" ><label for="autoConfirm">称重后自动结算（需有足够余额)</label>
        </div>
      </div>

    </div>  
    <div class="uh-form-section pure-g">
      <div class="title pure-u-1-4">发货备注</div>
      <div class="pure-u-3-4 ">
        <textarea ng-model="order.message"></textarea>
      </div>

    </div>    
</div>

<div class="uh-main-action" >
      <div  ng-click="confirmOrder()"><a>下一步</a></div>
</div>


</div>






<!-- 确认界面 -->




<!-- <div class="uh-submit" ng-show="isConfirmShown"> -->
<div class="uh-submit">
<div class="uh-main-section first">
  <div class="uh-main-header">
    <div class="left">
      <span class="title blue">提交发货</span>
    </div>
  </div> 
  <!-- 头部标题结束 -->
  <!-- 主体开始 -->

    <!-- section 1 基本信息 -->
    <div class="pure-g pure-u-1"><div class="uh-section">基本信息</div> </div>
    <!-- section 1 表格开始 -->
    <div class="pure-g">
    <div class="pure-u-1-1">
      <table class="pure-table pure-table-horizontal uh-small-table">
       <tr>
         <td style="width:25%">订单号</td>
         <td>DKD123457</td></tr>
         <tr>
          <td>收件人</td>
          <td>{{addrInfo.receiver_name}}</td>
        </tr>
        <tr>
          <td>联系电话</td>
          <td>{{addrInfo.phone}}</td>
        </tr>
        <tr>
          <td>收货地址</td>
          <td>{{addrInfo.province}} {{addrInfo.city}} {{addrInfo.town}} {{addrInfo.street}} </td>

        </tr>
        <tr>
          <td>配送线路</td>
          <td>{{getLogisticPathNameById(order.logistic_path)}}</td>
        </tr>
        <tr>
          <td>物品所在仓库</td>
          <td>{{getWarehouseNameById(order.warehouse)}}</td>

        </tr>

      </table>
    </div> <!-- 左边表格结束  -->

    </div> <!-- pure-g 结束 -->
</div>

  <!-- section 2 开始 -->
<div class="uh-main-section addtion">
    <div class="uh-section"> 包裹物品信息 </div>

    <table class="pure-table pure-table-horizontal uh-line-table">
      <thead>
        <tr>
          <th class="pure-u-1-4">名称</th>
          <th class="pure-u-1-8">分类</th>
          <th class="pure-u-1-8">单价/总价</th>
          <th class="pure-u-1-8">单重/总重</th>
          <th class="pure-u-1-8">数量</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in order.items">
          <td>{{item.item_name}}</td>
          <td>{{item.type}}</td>
          <td>{{item.unit_price}} / {{item.quantity*item.unit_price}}</td>
          <td>{{item.unit_weight}}KG / {{item.quantity*item.unit_weight}}KG</td>
          <td>{{item.quantity}}</td>
        </tr>
      </tbody>
    </table>
</div>
    <!-- section 3 开始 -->
<div class="uh-main-section last">
    <div class="uh-section">附加信息</div>
    <table class="pure-table pure-table-horizontal uh-small-table">
      <tr>
        <td style="width:15%">附加服务</td>
        <td ng-repeat="e in order.extra_services">{{e.service_name}} </td>
      </tr>
      <tr>
        <td style="width:15%">支付方式</td>
        <td>{{order.auto_charge==0? "客服手动确认后支付" : "称重后自动结算（需有足够余额)"}}</td>
      </tr>
      <tr>
        <td style="width:15%">发货备注</td>
        <td>{{order.message}}</td>
      </tr>
    </table>
             <div class="pure-g uh-form-section">
      <div class="pure-u-1"><input type="checkbox" id="protocolConfirm"> 我已确认并阅读了《大口袋服务协议》</div>
    </div>

      <!-- <input type="checkbox" id="protocolConfirm"> <label for="protocolConfirm">以上信息无误，我已经阅读并且同意<a href="">大口袋转运服务条款</a>！</label> -->

</div>



    <!-- 底部操作按钮开始 -->
<div class="uh-main-action">

        <div ng-click="editOrder()" class="btn-edit left"></div>
        <div ng-click="deleteOrder()" class="btn-delete left"></div>
        <div ng-click="submitOrder()" class="right"><a >提交</a></div>

</div>

</div>


