

<div class="uh-main-section">
  <div class="uh-main-header">
      <div class="left">
        <span class="title blue">包裹认领</span>
      </div>
  </div>

      <div class="uh-form-section pure-g">
          <div class="pure-u-5-6"><input ng-model="claimRef" placeholder="请输入入库跟踪号" type="text" style="line-height:30px;border-radius:0;"></div>
          <div ng-click="searchClaim()" class="pure-u-1-6 blue pure-button" style="border-radius:0;">搜索</div>

      </div>
<div class="desc pure-u-1">请搜索包裹的跟踪号，您可以在所购物的网站上查找到。</div>
</div>

<div ng-if="initStep">
<div ng-init="false" ng-if="nextStep">

    <form name="claimForm">
   <div class="uh-main-section last">
    <div class="entry">
      <div class="uh-section">找到待认领的包裹 {{claimRef}}</div>
      <div class="desc">请补充完善相关信息保证我们能准确入库。</div>
    </div>

    <div class="uh-form-section pure-g">
        <div class="title pure-u-1-6">收货人信息*</div>
        <div class="pure-u-2-3">
          <input name="receiver" type="text" validator="required" ng-model="claim.sender_info" class="pure-u-1" placeholder="请填写包裹上的收件人" type="text">
        </div>

    </div>
    <div class="uh-form-section pure-g">
        <div class="title pure-u-1-6">发货人信息*</div>
        <div class="pure-u-2-3">
          <input name="info" type="text"  validator="required" ng-model="claim.receiver_info" class="pure-u-1" placeholder="请表述发件人信息，您可在发货凭证中找到" type="text">
        </div>
    </div>
    <div class="uh-form-section pure-g">
        <div class="title pure-u-1-6">包裹物品</div>
        <div class="pure-u-5-6">
          <textarea row="5" class="pure-u-1" ng-model="claim.items_info"  placeholder="请简单描述包裹中的物品" type="text"></textarea>
        </div>
    </div>

  </div>


  <div class="uh-main-action" >
        <div validation-submit="claimForm" ng-click="confirm()"><a>确认提交</a></div>
  </div>

  </form>
</div>

<div ng-init="false" ng-if="!nextStep"class="uh-main-section middle">

<div  class="entry">
    <div class="uh-section">未找到待认领的包裹 {{failedClaimRef}}</div>
  </div>

  <div>
    <p style="color:#666">可能的原因有：</p>
    <ul>
      <li>您提供的跟踪号有误</li>
      <li>您的包裹还未到达仓库</li>
      <li>包裹已经认领</li>
    </ul>
  </div>

</div>

</div>






</form>
</div>
