<div ng-controller="Shell">
  <!-- 顶部黑色导航条 -->
  <div class="pure-g uh-topnav">
    <div class="pure-u-1-4">大口袋转运</div>
    <div class="pure-u-3-4 uh-topnav-list">
      <ul >
        <li><a href="../">首页</a></li>
        <li>价格</li>
        <li><a href="../news">新闻</a></li>
        <li>帮助</li>
        <li><a href="/auth/logout">退出</a></li>
      </ul>

  </div>

  </div>
<!-- 顶部黑色导航条结束 -->

<!-- 二级导航条 -->
<div class="pure-g uh-nav">
  <div class="uh-box pure-g">
  <div class="pure-u-1-4" >
  <span><img src="images/uh-logo.png"></span><a ui-sref="index">会员中心</a></div>
  <div class="pure-u-3-4 uh-nav-list">
      <ul >
        <li ng-class="{selected: $state.includes('index')}"  ui-sref="index">动态</li>
        <!-- <li ng-class="{selected: $state.includes('refill')|| $state.includes('refund')}" ui-sref="refill">管理 -->
        <li ng-class="{selected: $state.includes('personalInfo') || $state.includes('addressManage') || $state.includes('financialRecord') || $state.includes('credits')}">管理
            <ul>
              <li ui-sref="personalInfo"><img src="images/menu-profile.svg">个人资料</li>
              <li ui-sref="addressManage"><img src="images/menu-address.svg">地址管理</li>
              <li ui-sref="financialRecord"><img src="images/menu-finance.svg">财务管理</li>
              <li ui-sref="credits"><img src="images/menu-credits.svg">积分管理</li>
            </ul>
            </li>
        <li ng-class="{selected: $state.includes('notificationList') || $state.includes('conversationList') || $state.includes('contact')}"  ui-sref="notificationList">消息<span ng-show="(1*userInfo.unread_conversation + 1*userInfo.unread_notification)>0" class="uh-no-notification">{{1*userInfo.unread_conversation + 1*userInfo.unread_notification}}</span></li>
      </ul>
  </div>
  </div>
</div>
<!-- 二级导航条结束 -->


  <div class="pure-g uh-box">
    <div class="pure-u-1-5 uh-siderbar">
<!--      <div class="uh-siderbar-avater">
        <p>put your head </p>
      </div> -->
      <div class="uh-siderbar-info ">
      <p>{{userInfo.name}}</p>
      <ul>
        <!-- <li>库位号:{{userInfo.stock_position}}</li> -->
        <li>库存码: {{userInfo.stock_number}}</li>
        <li>积分: {{userInfo.score}}</li>
        <li>余额: {{userInfo.remain}}</li>
        <li>等级: {{userInfo.level.level_name}}</li>
      </ul>
      </div>
      <div class="addmoney"><a ui-sref="refill">充值</a></div>
      <div class="uh-siderbar-fastopt">
        <ul>
        <li class="prestock"><a ui-sref="stockSubmit"><a ui-sref="stockList">我的包裹｜列表</a></li>
        <li class="sendstock"><a ui-sref="orderSubmit">提交发货</a>｜<a ui-sref="orderList">列表</a></li>
        <li class="transstock"><a ui-sref="transSubmit">包裹移库｜<a ui-sref="transList">列表</a></a></li>
        <li class="vorkasse"><a ui-sref="vorkasseSubmit">海外代刷｜</a><a ui-sref="vorkasseList">列表</a></li>
        </ul>

      </div>


    </div>
    <div class="pure-u-4-5">
      <!-- <div ng-show="isLoadingCompleted" class="uh-main" ui-view></div> -->

      <div class="uh-main" ui-view></div>
    </div>
  </div>
</div>
