<div ng-hide="isConfirmShown" class="uh-submit">
  <div>

    <form name="Form" id="form">
    <div class="uh-main-section first"> 
        <div class="uh-main-header">
          <div class="left">
            <span class="title blue">入库预报</span>
          </div>
        </div>

        <div class="uh-form-section pure-g">
          <div class="title pure-u-1-4">选择收件仓库*</div>
          <div class="pure-u-3-4">
            <select ng-model="stock.warehouse" class="pure-u-1">
              <option ng-repeat="warehouse in warehouses" value="{{warehouse.id}}">
                {{warehouse.name}}
              </option>
            </select>
            <div class="desc">请确认您的包裹填写的收获地址正确，保证我们仓库能收到你的货物。</div>
          </div>
        </div>
        <div class="uh-form-section pure-g">
          <div class="title pure-u-1-4">包裹备注*</div>
          <div class="pure-u-3-4">
            <input 
            ng-model="stock.desc"
            ng-change="form.desc=stock.desc"               
            validator="required"
            class="pure-u-1" 
            type="text" 
            placeholder="如：9月18日在亚马逊购买的商品">
          </div>
        </div>
        <div class="uh-form-section pure-g">
          <div class="title pure-u-1-4">入库跟踪号*</div>
          <div class="pure-u-3-4">
            <select ng-model="logisticPathChosen" ng-options="lp.name for lp in logisticPaths" class="pure-u-1-5" >

              <input 
              ng-model="stock.ship_tracknumber" 
              ng-change="form.ship_tracknumber=stock.ship_tracknumber"
              validator="required, numAndAlphabet"
              class="pure-u-19-24" 
              type="text">
            </div>
          </div>
          <div class="uh-form-section pure-g">
            <div class="title pure-u-1-4">包裹重量*</div>
            <div class="pure-u-1-4">
              <input 
              class="pure-u-1" 
              ng-model="stock.weight"
              ng-change="form.weight=stock.weight"
              ng-keyup ="stock.weight=(stock.weight<=logisticPathChosen.weight_upper_bound)? stock.weight.toString():logisticPathChosen.weight_upper_bound.toString();"
              validator="required"
              min="0" 
              max="{{logisticPathChosen.weight_upper_bound}}">
            </div>
            <div class="pure-u-1-4 input-label">KG 线路限重{{logisticPathChosen.weight_upper_bound}}KG</div>
          </div>

        </div><!-- 头部背景结束 -->
        <div class="uh-main-section addtion">
          <div class="entry">
            <div class="uh-section">添加物品进包裹*</div>
            <div class="desc">必须有一件物品；如需批量上传，请阅读帮助或下载模板</div>
          </div>
          <div class="item-list">
            <table class="pure-table pure-table-horizontal uh-line-table">
              <thead>
                <tr>
                  <th class="pure-u-1-4">物品名称</th>
                  <th class="pure-u-1-4">类型</th>
                  <th class="pure-u-1-8">数量</th>
                  <th class="pure-u-1-8">单价(元)</th>
                  <th class="pure-u-1-8">单量(KG)</th>
                  <th class="pure-u-1-8">操作</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="item in stock.items" >
                  <td>
                    <input 
                    ng-model="item.item_name" 
                    ng-change="form.items=stock.items"
                    validator="required, notNumber"
                    class="pure-u-1"  
                    type="text">
                  </td>
                  <td>
                    <select ng-model="item.typeOption" ng-options="opt.type_name for opt in optionTypes" ng-init="item.type=item.typeOption.id; item.typeName=item.typeOption.type_name;" ng-change="item.type=item.typeOption.id; item.typeName=item.typeOption.type_name;">
                    </td>
                    <td>
                      <input 
                      ng-model="item.quantity"
                      ng-change="form.items=stock.items"
                      validator="required, number"
                      class="pure-u-1" 
                      type="text">
                    </td>
                    <td>
                      <input 
                      ng-model="item.unit_price"
                      ng-change="form.items=stock.items"
                      validator="required, number"
                      class="pure-u-1" 
                      type="text">
                    </td>
                    <td>
                      <input 
                      ng-model="item.unit_weight"
                      ng-change="form.items=stock.items"
                      validator="required, number" 
                      class="pure-u-1" 
                      type="text">
                    </td>
                    <td><a ng-click="deleteItem($index)" class="item-delete-icon"></a></td>
                  </tr>
                </tbody>
              </table>
              <div class="options"> 
                <a ng-click="addItem()" class="pure-button radius blue">新增一项</a>
                <!-- <a class="pure-button radius blue">批量上传</a> -->
              </div>
            </div>
          </div>

          <div class="uh-main-section middle">
            <div class="entry">
              <div class="uh-section">

                <div><input type="checkbox" ng-model = "checkboxModel.value"> 添加购物详细信息</div>

              </div>
              <div class="desc">完善购物信息可帮助我们更快的处理您的退换货服务。</div>
            </div>
            <div ng-show="checkboxModel.value">
              <div class="uh-form-section pure-g" >

                <div class="title pure-u-1-4">购物网站</div>
                <div class="pure-u-3-4"><input ng-model="stock.web_link" type="text"></div>

              </div>
              <div class="uh-form-section pure-g">

               <div class="title pure-u-1-4">购物网站订单号</div>
               <div class="pure-u-3-4"><input  ng-model="stock.website_reference" type="text" ></div>
             </div>

             <div class="pure-g uh-form-section">
              <div class="title pure-u-1-4">上传购物凭证截图</div>
              <div class="pure-u-3-4">
                <div class="pure-u-1-4"><input file-model="imagesToUpload[0]" type="file" accept="image/*"/></div>
                <div class="pure-u-1-4"><input file-model="imagesToUpload[1]" type="file" accept="image/*"/></div>
                <div class="pure-u-1-4"><input file-model="imagesToUpload[2]" type="file" accept="image/*"/></div>
                <div class="desc">请根据需要上传相应购物凭证，最多3张，支持 jpg, gif, png 小于500 KB</div>
              </div>
            </div>    
          </div>
        </div>

        <div class="uh-main-section last">
          <!-- 附加信息 -->
          <div class="uh-section">附加信息</div>
          <div class="pure-g uh-form-section">
            <div class="pure-u-1-4 title">附加服务</div>
            <div class="pure-u-3-4"><div extra-service-list given-services="extraServices" user-group="0" selected-services="stock.extra_services"></div>
            <div class="pure-u-1 desc">如有需要，请选择相应的增值服务，部分服务可能会产生费用。</div>
          </div>

        </div>

        <div class="pure-g uh-form-section">
          <div class="title pure-u-1-4">留言</div>
          <div class="pure-u-3-4"><textarea ng-model="stock.message" class="pure-u-1" ></textarea></div>
        </div>

      </div>
    </div>


    <div class="uh-main-action" >

      <a validation-submit="Form" ng-click="form.submit(Form)" >下一步</a>

    </div>

      </form>
  </div>




  <!-- 预报确认页面 -->

  <div ng-show="isConfirmShown" class="uh-submit">
    <!-- <div class="uh-submit"> -->
    <div class="uh-main-section first"> 
      <div class="uh-main-header">
        <div class="left">
          <span class="title blue">入库预报</span>
        </div>
      </div>

      <div class="pure-g pure-u-1"><div class="uh-section">基本信息</div> </div>
      <div class="pure-g">
        <div class="pure-u-1-1">
          <table class="pure-table pure-table-horizontal uh-small-table">
            <tr>
             <td style="width: 25%;" >收件仓库</td>
             <td>{{(warehouses | filter:{id: stock.warehouse})[0].name }}</td>
           </tr>
           <tr>
            <td>包裹备注</td>
            <td>{{stock.desc}}</td>
          </tr>
          <tr>
            <td>预报重量</td>
            <td>{{stock.weight}}KG</td>
          </tr>
          <tr>
            <td>入库跟踪号</td>
            <td>{{(logisticPaths | filter:{id: stock.ship_company})[0].name }} {{stock.ship_tracknumber}}</td>
          </tr>
<!--         <tr>
          <td>入库重量</td>
          <td></td>
        </tr> -->
      </table>
    </div> <!-- 左边表格结束  -->

  </div> <!-- pure-g 结束 -->
</div>
<div class="uh-main-section addtion">

  <div class="uh-section">包裹物品信息</div>
  <div class="item-list">
    <table class="pure-table pure-table-horizontal uh-line-table">
      <thead>
        <tr>
          <th class="pure-u-1-4">物品名称</th>
          <th class="pure-u-1-4">类型</th>
          <th class="pure-u-1-8">数量</th>
          <th class="pure-u-1-8">单价</th>
          <th class="pure-u-1-4">单件重量</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in stock.items" >
          <td>{{item.item_name}}</td>
          <td>{{item.typeName}}</td>
          <td>{{item.quantity}}</td>
          <td>{{item.unit_price}} 元</td>
          <td>{{item.unit_weight}} KG</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="uh-main-section middle">
  <div class="uh-section">购物信息</div>

  <table class="pure-table pure-table-horizontal uh-small-table">
    <tr>
     <td style="width: 25%;" >购物网站</td>
     <td>{{stock.web_link?stock.web_link:"空"}}</td>
   </tr>
   <tr>
    <td>购物网站订单号</td>
    <td>{{stock.website_reference?stock.website_reference:"空"}}</td>
  </tr>
  <tr>
    <td>购物凭证</td>
    <td>
      <a ng-if="stock.image_1" ng-href="{{imageUrlPrefix + stock.image_1}}" target="_blank" >查看</a>
      <a ng-if="stock.image_2" ng-href="{{imageUrlPrefix + stock.image_2}}" target="_blank" >查看</a>
      <a ng-if="stock.image_3" ng-href="{{imageUrlPrefix + stock.image_3}}" target="_blank" >查看</a>
    </td>
  </tr>
</table>
</div>

<div class="uh-main-section last">

  <div class="uh-section">附加信息</div>


  <table class="pure-table pure-table-horizontal uh-small-table">
    <tr>
      <td style="width:25%">附加服务</td>
      <td ng-if="stock.extra_services.length>0" ng-repeat="e in stock.extra_services">{{e.service_name}} </td>
      <td ng-if="stock.extra_services.length==0" >无</td>
    </tr>
    <tr>
      <td>留言</td>
      <td>{{stock.message?stock.message:"无"}}</td>
    </tr>
  </table>
</div>

<div class="uh-main-action" >
  <div class="btn-edit left" ng-click="editSubmit()"></div>
  <!-- <div  ng-click="deleteSubmit()" class="btn-delete left"></div> -->
  <div class="btn-msg-send right" ng-click="confirmSubmit()">
  </div>
</div>

</div>







