<div ng-hide="isConfirmShown" class="uh-submit">
  <div class="uh-main-header">
      <div class="left">
        <span class="title blue">入库预报</span>
      </div>
  </div>
  <div class="uh-main-body pure-form" >
    <div>
      <div class="uh-form-section pure-g">
          <div class="title pure-u-1-4">选择收件仓库</div>
          <div class="pure-u-3-4">
            <select ng-model="stock.warehouse" class="pure-u-1">
              <option ng-repeat="warehouse in warehouses" value="{{warehouse.id}}">
                {{warehouse.name}}
              </option>
            </select>
            <div class="desc">请确认您的包裹填写的收获地址正确，保证我们仓库能收到你的货物。</div>
          </div>

      </div>
      <div class="entry pure-g">
          <div class="title pure-u-1-4">包裹备注</div>
          <div class="pure-u-3-4">
            <input ng-model="stock.desc" class="pure-u-1" type="text">
          </div>
      </div>
      <div class="entry pure-g">
          <div class="title pure-u-1-4">入库跟踪号</div>
          <div class="pure-u-3-4">
            <select ng-model="stock.ship_company" class="pure-u-1-5">
              <option ng-repeat="path in logisticPaths" value="{{path.id}}">
                {{path.name}}
              </option>
            </select>
            <input ng-model="stock.ship_tracknumber" class="pure-u-19-24" type="text">
          </div>
      </div>
    </div>

    <div class="uh-divider"></div>

    <div class="entry">
      <div class="title">添加物品进包裹</div>
      <div class="desc">必须有一件物品；如需批量上传，请阅读帮助或下载模板</div>
    </div>
    <div class="uh-divider thick"></div>
    <div class="item-list">
      <table class="pure-table pure-table-horizontal uh-custom-table">
        <thead>
          <tr>
            <th class="pure-u-1-4">物品名称</th>
            <th class="pure-u-1-4">类型</th>
            <th class="pure-u-1-8">数量</th>
            <th class="pure-u-1-8">单价</th>
            <th class="pure-u-1-8">单件重量</th>
            <th class="pure-u-1-8">操作</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in stock.items" >
            <td><input ng-model="item.item_name" class="pure-u-1"  type="text"></td>
            <td>
              <select ng-model="item.type" class="pure-u-1" >
                <option value="奶制品">
                  奶制品
                </option>
                <option value="纺织品">
                  纺织品
                </option>
                <option value="奢侈品">
                  奢侈品
                </option>
                <option value="其他">
                  其他
                </option>
              </select>
            </td>
            <td><input ng-model="item.quantity" class="pure-u-1" type="text"></td>
            <td><input ng-model="item.unit_price" class="pure-u-1" type="text"></td>
            <td><input ng-model="item.unit_weight" class="pure-u-1" type="text"></td>
            <td><a ng-click="deleteItem($index)" class="item-delete-icon"></a></td>
          </tr>
        </tbody>
      </table>
      <div class="options"> 
        <a ng-click="addItem()" class="pure-button radius blue">新增一项</a>
        <a class="pure-button radius blue">批量上传</a>
      </div>
    </div>

    <div class="uh-divider thick"></div>
    <div class="entry">
      <div class="title">上传购物凭证</div>
      <div class="desc">请根据需要上传相应购物凭证，最多3张，支持 jpg, gif, png 小于500 KB</div>
      <div class="pure-g pic-upload">
        <div class="pure-u-1-3"><input file-model="imagesToUpload[0]" type="file" accept="image/*"/></div>
        <div class="pure-u-1-3"><input file-model="imagesToUpload[1]" type="file" accept="image/*"/></div>
        <div class="pure-u-1-3"><input file-model="imagesToUpload[2]" type="file" accept="image/*"/></div>
      </div>
    </div>    

    <div class="pure-g entry">
      <div class="pure-u-1-4 title">运单留言</div>
      <div class="pure-u-3-4"><textarea ng-model="stock.message" class="pure-u-1" ></textarea></div>
    </div>
    <!-- 特殊服务 -->
        <div class="pure-g entry">
      <div class="pure-u-1-4 title">附加服务</div>
      <div class="pure-u-3-4">
        <div extra-service-list type="1" user-group="0"></div>
      </div>
    </div>
    
    </div>
    <div class="action-btns" >
      <div class="right">
        <a  ng-click="confirm()" class="pure-button blue">下一步</a>
      </div>
    </div>
  </div>
</div>



<!-- 预报确认页面 -->

<div ng-show="isConfirmShown" class="uh-submit">
  <div class="uh-main-header">
      <div class="left">
        <span class="title blue">入库预报</span>
      </div>
  </div>
  <div class="uh-main-body" >
    <div class="pure-g pure-u-1"><div class="uh-section first-child">基本信息</div> </div>
    <div class="pure-g">
    <div class="pure-u-1-1">
      <table class="pure-table pure-table-horizontal uh-small-table">
        <tr>
         <td style="width: 25%;" >收件仓库</td>
         <td>{{(warehouses | filter:{id: stock.warehouse})[0].name }}</td>
        </tr>
        <tr>
          <td>包裹备注</td>
          <td>{{stock.desc}}</td>
        </tr>
        <tr>
          <td>快递信息</td>
          <td>{{(logisticPaths | filter:{id: stock.ship_company})[0].name }} 运单号: {{stock.ship_tracknumber}}</td>
        </tr>

      </table>
    </div> <!-- 左边表格结束  -->

  </div> <!-- pure-g 结束 -->

    <div class="uh-divider"></div>

    <div class="uh-section">包裹物品信息</div>
    <div class="uh-divider thick"></div>
    <div class="item-list">
      <table class="pure-table pure-table-horizontal uh-custom-table">
        <thead>
          <tr>
            <th class="pure-u-1-4">物品名称</th>
            <th class="pure-u-1-4">类型</th>
            <th class="pure-u-1-8">数量</th>
            <th class="pure-u-1-8">单价</th>
            <th class="pure-u-1-4">单件重量</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in stock.items" >
            <td>{{item.item_name}}</td>
            <td>{{item.type}}</td>
            <td>{{item.quantity}}</td>
            <td>{{item.unit_price}}</td>
            <td>{{item.unit_weight}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="uh-divider thick"></div>

    <div class="uh-section">附加信息</div>

    <div class="pure-g entry">
      <div class="pure-u-1-4 title">留言</div>
      <div class="pure-u-3-4">{{stock.message}}</div>
    </div>
    <div class="pure-g entry">
      <div class="pure-u-1-4 title">入库清点</div>
      <div class="pure-u-3-4"></div>
    </div>
    <div class="pure-g entry">
      <div class="pure-u-1-4 title">附件信息</div>
      <div class="pure-u-3-4">已上传凭证....(TODO)</div>
    </div>
    <div class="action-btns" >
      <div class="left">
        <a  ng-click="editSubmit()" class="pure-button edit">编辑</a>
        <a  ng-click="deleteSubmit()" class="pure-button delete">删除</a>
      </div>
      <div class="right">
        <a  ng-click="confirmSubmit()" class="pure-button confirm">提交</a>
      </div>
    </div>
  </div>
</div>







