<!-- TODO: 之后可以抽象成一个Directive 用作所有的ListView!!! -->

<div class="uh-list">
  <div class="uh-main-header">
    <div class="left">
      <span class="title">库存列表</span>
      <a ui-sref="stockSubmit" class="pure-button radius lightblue">新增</a>
    </div>

    <div class="right">
      <input placeholder="搜索" />
    </div>
  </div>

  <div class="uh-list-body">
    <div class="tab">
      <a class="pure-button radius active">所有记录</a>
      <a class="pure-button radius ">未到货</a>
      <a class="pure-button radius ">已入库</a>
    </div>
    <div class="list">

      <table ng-table="tableParams" class="pure-table pure-table-horizontal uh-custom-table">
          <tr ng-click="goToDetail(stock.id)" ng-repeat="stock in $data">
              <td data-title="'预报日期'">
                  {{stock.timestampStr}}
              </td>
              <td data-title="'包裹运单号'">
                  {{stock.ship_info}}
              </td>
              <td data-title="'包裹备注'">
                  {{stock.desc}}
              </td>
              <td data-title="'库存天数'">
                  需要计算
              </td>
              <td data-title="'状态'">
                  {{stock.statusStr}}
              </td>
              <td data-title="'操作'">
                  动态生成操作
              </td>
          </tr>
      </table>
<!-- 
      <table class="pure-table pure-table-horizontal uh-custom-table">
        <thead>
          <tr>
            <th>预报日期</th>
            <th>包裹运单号</th>
            <th>包裹备注</th>
            <th>库存天数</th>
            <th>状态</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-click="goToDetail(stock.id)" ng-repeat="stock in stockList">
            <td>{{stock.timestamp}}</td>
            <td>{{stock.ship_info}}</td>
            <td>{{stock.desc}}</td>
            <td>需要计算</td>
            <td>已入库</td>
            <td>动态生成操作</td>
          </tr>
        </tbody>
      </table> -->
    </div>
  </div>
  
</div>