
<div class="uh-submit">

  <div class="uh-main-header">
        <div class="left">
          <span class="title blue">包裹移库</span>
        </div>
  </div> 


  <div class="uh-section"> 包裹物品信息 </div>

  <div class="pure-g uh-form-section">
    <div class="pure-u-4-24">接收方Email</div>
    <div class="pure-u-12-24">{{trans.to_email}}</input></div>
  </div>  

  <div class="pure-g uh-form-section">
    <div class="pure-u-4-24">接收方库存码</div>
    <div class="pure-u-12-24">{{trans.to_stock_number}}</div>
  </div>
  <div class="pure-g uh-form-section">
    <div class="pure-u-4-24">接收方入库码</div>
    <div class="pure-u-12-24">{{trans.to_stock_position}}</div>
  </div>

  <div class="pure-g uh-form-section">
    <div class="pure-u-4-24">包裹所在仓库</div>
    <div class="pure-u-12-24">{{warehouse.name}}</div>
  </div>



  <div class="pure-g uh-form-section">
    <div class="pure-u-4-24">移库状态</div>
    <div class="pure-u-12-24">{{trans.statusStr}}</div>
  </div>


  <div class="uh-section"> 发送物品信息 </div>

  <table class="pure-table pure-table-horizontal uh-line-table">
    <thead>
      <tr>
        <th class="pure-u-1-4">名称</th>
        <th class="pure-u-1-8">分类</th>
        <th class="pure-u-1-8">单价/总价</th>
        <th class="pure-u-1-8">单重/总重</th>
        <th class="pure-u-1-8">数量</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in trans.items">
        <td>{{item.item_name}}</td>
        <td>{{item.type}}</td>
        <td>{{item.unit_price}} / {{item.quantity*item.unit_price}}</td>
        <td>{{item.unit_weight}}KG / {{item.quantity*item.unit_weight}}KG</td>
        <td>{{item.quantity}}</td>
      </tr>
    </tbody>
  </table>

<div class="uh-section pure-g">
  <div class="pure-u-3-24">留言</div>
  <div class="pure-u-21-24 ">
        缺失{{trans.message}}
  </div>
</div>

<div class="uh-section pure-g">
  <div class="pure-u-3-24">管理员备注</div>
  <div class="pure-u-21-24 ">
        缺失{{trans.message}}
  </div>
</div>

  <!-- 底部操作栏 -->
  <div class="pure-g uh-btm-controller">
      <div class="pure-u-1-2 left">
        <div ng-click="submit()" class="pure-button back left"><a >返回</a></div>
      </div>
      <div ng-show="trans.status==6 || trans.status==7" class="pure-u-1-2 right">
        <div ng-show="isConfirmShown" ng-click="confirmTrans()" class="pure-button edit right"><a >确认移库</a></div>
        <div ng-click="editTrans()" class="pure-button edit right"><a >编辑</a></div>
        <div ng-click="deleteTrans()" class="pure-button delete right"><a >删除</a></div>
      </div>

  </div>
