<!-- TODO: 之后可以抽象成一个Directive 用作所有的ListView!!!
<div class="uh-main-section first-list">
<div class="uh-list">
  <div class="uh-main-header">
    <div class="left">
      <span class="title">移库列表</span>
      <a ui-sref="stockSubmit" class="pure-button radius lightblue">新增</a>
    </div>

    <div class="right">
      <input placeholder="搜索" ng-model="searchText" />
    </div>
  </div> -->

<div class="uh-main-section first-list">
  <div class="uh-main-header">
    <div class="left">
      <span class="title">移库列表</span>
    </div>
  </div>
  <div class="uh-main-tab">
    <div class="left">
      <a ng-click="toggleStatusFilter(-1)" ng-class="{active: toggleStatus===-1}" class="uh-header-tab">所有记录</a>
      <a ng-click="toggleStatusFilter(6)" ng-class="{active: toggleStatus===6}"  class="uh-header-tab">未确认</a>
      <a ng-click="toggleStatusFilter(7)" ng-class="{active: toggleStatus===7}" class="uh-header-tab">已确认</a>
    </div>
    <div class="right">
    <a ui-sref="transSubmit" class="uh-header-tab function">添加新的移库</a>
    </div>
    </div>
 </div>  

<div class="uh-main-section middle">
      <table ng-show="filterStockList.length>0" ng-table="tableParams" class="pure-table pure-table-horizontal uh-line-table">
          <tr ng-repeat="stock in $data">
              <td data-title="'更新日期'">
                  {{stock.updatedTime}}
              </td>
              <td data-title="'发送方'">
                  {{stock.from_name}}
              </td>
              <td data-title="'接收方'">
                  {{stock.to_name}}
              </td>
              <td data-title="'创建时间'">
                  {{stock.createdTime}}
              </td>
              <td data-title="'状态'">
                  {{stock.statusStr}}
              </td>
              <td data-title="'操作'">
                  <!-- <div ng-if="stock.status === 6" ng-click="goToDetail(stock.id)" class="opt-radius-btn edit" title="编辑"></div> -->
                  <div ng-if="stock.status === 6" class="opt-radius-btn delete" title="删除"></div>
                  <div class="opt-radius-btn check"  ng-click="goToDetail(stock.id)" title="查看详情"></div>
              </td>
          </tr>
      </table>
               <div ng-show="filterStockList.length==0" class="uh-box-empty">
          <img src="images/message-empty.svg" width="120px;">
          <div>您的移库列表为空 :(</div>
        </div>
</div>
