<div ng-hide="isConfirmShown" class="uh-submit">

<div class="uh-main-section"> 
  <div class="uh-main-header">
      <div class="left">
        <span class="title blue">海外代刷</span>
      </div>
  </div>

      <div class="uh-form-section pure-g">
          <div class="title pure-u-1-4">代刷金额*</div>
          <div class="pure-u-3-4">

            <div class="pure-u-1-2"><input ng-model="vorkasse.amount" type="text"></div>
            <div class="pure-u-1-4 label">欧元</div>
          <div class="pure-u-1 desc">您目前的余额为800,汇率为{{currentRate}}, 可代刷金额{{800/currentRate}}欧元</div>

          </div>
         
          
      </div>

</div><!-- 头部背景结束 -->

<div class="uh-main-section last">

      <div class="uh-section">购物信息</div>
      <div class="uh-section desc">完善购物信息可帮助我们更快的处理您的退换货服务。</div>
      <div class="uh-form-section pure-g">

          <div class="title pure-u-1-4">购物网站</div>
          <div class="pure-u-3-4"><input ng-model="vorkasse.reference_website" type="text"></div>

      </div>
      <div class="uh-form-section pure-g">

       <div class="title pure-u-1-4">购物网站订单号</div>
          <div class="pure-u-3-4"><input type="text" ng-model="vorkasse.order_number"></div>
   </div>
      
    <div class="pure-g uh-form-section">
      <div class="title pure-u-1-4">上传购物凭证截图</div>
      <div class="pure-u-3-4">
        <div class="pure-u-1-3"><input file-model="imagesToUpload[0]" type="file" accept="image/*"/></div>
        <div class="pure-u-1-3"><input file-model="imagesToUpload[1]" type="file" accept="image/*"/></div>
        <div class="desc">请根据需要上传相应购物凭证，最多3张，支持 jpg, gif, png 小于500 KB</div>
      </div>
    </div>    


       <div class="pure-g uh-form-section">
       <div class="title pure-u-1-4">留言</div>
          <div class="pure-u-3-4"><textarea  ng-model="vorkasse.description"  class="pure-u-1" ></textarea></div>
        </div>

</div>


 
<div class="uh-main-action" >

    <div  ng-click="confirm()" >下一步</div>

</div>
</div> 
<!-- submit end -->


<!-- submit start -->
<div ng-show="isConfirmShown" class="uh-submit">

<div class="uh-main-section"> 
  <div class="uh-main-header">
      <div class="left">
        <span class="title blue">海外代刷</span>
      </div>
  </div>

      <div class="uh-form-section pure-g">
          <div class="title pure-u-1-4">代刷金额*</div>
          <div class="pure-u-3-4">
            <div class="pure-u-1-2">{{vorkasse.amount}} 欧元</div>
            <div class="pure-u-1 desc">您目前的余额为800,汇率为{{currentRate}}, 可代刷金额{{800/currentRate}}欧元</div>
          </div>
         
          
      </div>

</div><!-- 头部背景结束 -->

<div class="uh-main-section middle">

      <div class="uh-section">购物信息</div>
      <div class="uh-section desc">完善购物信息可帮助我们更快的处理您的退换货服务。</div>
      <div class="uh-form-section pure-g">

          <div class="title pure-u-1-4">购物网站</div>
          <div class="pure-u-3-4">{{vorkasse.reference_website}}</div>

      </div>
      <div class="uh-form-section pure-g">

       <div class="title pure-u-1-4">购物网站订单号</div>
          <div class="pure-u-3-4">{{vorkasse.order_number}}</div>
   </div>
      
    <div class="pure-g uh-form-section">
      <div class="title pure-u-1-4">上传购物凭证截图</div>
      <div class="pure-u-3-4">
        <div class="pure-u-1-3">查看</div>
        <div class="pure-u-1-3">查看</div>
      </div>
    </div>  
    <div class="uh-form-section pure-g">

       <div class="title pure-u-1-4">留言</div>
          <div class="pure-u-3-4">{{vorkasse.description}}</div>
   </div>
</div>
      
<div class="uh-main-section last">
    <div class="uh-section">确认信息</div>
       <div class="pure-g uh-form-section">
          <div class="pure-u-1">本次代刷{{vorkasse.amount}}欧元，将从您的余额中冻结{{vorkasse.amount*currentRate}}人民币</div>
          </div>
         <div class="pure-g uh-form-section">
      <div class="pure-u-1"><input type="checkbox"> 我已确认并阅读了《大口袋服务协议》</div>
    </div>
</div>


 
<div class="uh-main-action" >

    <div ng-click="editSubmit()"  class="btn-edit left"></div>

    <div ng-click="deleteSubmit()"  class="btn-delete left"></div>
    <div ng-click="confirmSubmit()"  class="right">提交</div>

</div>


</div>






