<div class="uh-main-section first-list">
  <div class="uh-main-header">
    <div class="left">
      <span class="title">代刷列表</span>
    </div>
  </div>
  <div class="uh-main-tab">
    <div class="left">
      <a ng-click="toggleStatusFilter(-1)" ng-class="{active: toggleStatus===-1}" class="uh-header-tab clickable">所有记录</a>
      <a ng-click="toggleStatusFilter(2)" ng-class="{active: toggleStatus===2}" class="uh-header-tab clickable">处理中</a>
      <a ng-click="toggleStatusFilter(3)" ng-class="{active: toggleStatus===3}" class="uh-header-tab clickable">代刷成功</a>
    </div>
    <div class="right">
        <a ui-sref="vorkasseSubmit" class="uh-header-tab function">新建代刷</a>
    </div>
  </div>
 </div>  
 

<div class="uh-main-section middle">

      <table ng-show="filterList.length>0" ng-table="tableParams" class="pure-table pure-table-horizontal uh-list-table">
          <tr ng-repeat="vk in $data" >
              <td data-title="'提交日期'">{{vk.created_at}}</td>
              <td data-title="'代刷金额(欧元)'">{{vk.amount_foreign}}</td>
              <td data-title="'代刷金额(人民币)'">{{vk.amount}}</td>
              <td data-title="'状态'">{{vk.statusStr}}</td>              
              <td data-title="'操作'">
                  <div ng-if="vk.status === 1" ng-click="goToDetail(vk.id)" class="opt-radius-btn edit" title="编辑"></div>
                  <div ng-if="vk.status === 1" class="opt-radius-btn delete" title="删除"></div>
                  <div class="opt-radius-btn check"  ng-click="goToDetail(vk.id)" title="查看详情"></div>
              </td>
          </tr>
      </table>
      <div ng-show="filterList.length==0" class="uh-box-empty">
          <img src="images/message-empty.svg" width="120px;">
          <div>您的代刷列表为空 :(</div>
        </div>
</div>