<div ng-hide="isConfirmShown" class="uh-submit">
<div class="uh-submit">

<div class="uh-main-section"> 
  <div class="uh-main-header">
      <div class="left">
        <span class="title blue">代刷详情</span>
      </div>
  </div>

      <div class="uh-form-section pure-g">
          <div class="title pure-u-1-4">代刷金额*</div>
          <div class="pure-u-3-4">
            <div class="pure-u-1-2">{{vorkasse.amount_foreign}} 欧元</div>
          </div>
      </div>
      <div class="uh-form-section pure-g">
          <div class="title pure-u-1-4">人民金额*</div>
          <div class="pure-u-3-4">
            <div class="pure-u-1-2">{{vorkasse.amount}} 元</div>
          </div>
      </div>
      <div class="uh-form-section pure-g">
          <div class="title pure-u-1-4">代刷状态</div>
          <div class="pure-u-3-4">
            <div class="pure-u-1-2">{{vorkasse.statusStr}}</div>
          </div>
      </div>

</div><!-- 头部背景结束 -->

<div class="uh-main-section last">

      <div class="uh-section">购物信息</div>
      <div class="uh-section desc">完善购物信息可帮助我们更快的处理您的退换货服务。</div>
      <div class="uh-form-section pure-g">

          <div class="title pure-u-1-4">购物网站</div>
          <div class="pure-u-3-4">{{vorkasse.reference_website}}</div>

      </div>
      <div class="uh-form-section pure-g">

       <div class="title pure-u-1-4">购物网站订单号</div>
          <div class="pure-u-3-4">{{vorkasse.order_number}}</div>
   </div>
      
    <div class="pure-g uh-form-section">
      <div class="title pure-u-1-4">上传购物凭证截图</div>
      <div class="pure-u-3-4">
            <a ng-repeat="img in vorkasse.proof_files_paths" ng-href="{{imageUrlPrefix + img}}" target="_blank" >查看</a>
      </div>
    </div>  
    <div class="uh-form-section pure-g">

       <div class="title pure-u-1-4">留言</div>
          <div class="pure-u-3-4">{{vorkasse.description}}</div>
   </div>
</div>
      

<div class="uh-main-action" >

    <div  ng-click="goBack()" class="btn-back left"></div>
<!-- 当代刷状态为1时可以删除，其余的不能删除 -->
    <div  ng-if="vorkasse.status==1" class="btn-delete right"></div>

</div>


</div>






