<div class="uh-main-section first-list">
  <div class="uh-main-header">
    <div class="left">
      <span class="title">代刷列表</span>
    </div>
  </div>

    <div class="tab">
      <a class="uh-header-tab">所有记录</a>
      <a  class="uh-header-tab">处理中</a>
      <a  class="uh-header-tab">代刷成功</a>
    </div>
 </div>  
 

<div class="uh-main-section middle">

      <table class="pure-table pure-table-horizontal uh-line-table">
          <tr >
              <td >提交日期</td>
              <td data-title="">代刷金额（欧元）</td>
              <td data-title="">代刷金额（人民币）</td>
              <td data-title="'状态'">状态</td>
              <td data-title="'操作'">操作</td>
          </tr>
      </table>
</div>