
<div class="delivery-wapper">
	<div><img src="images/wb-logo.png" height="30px;"></div>
	<hr/>
	<div>	
		<h1>{{order.post_info.receiver_name}}</h1>
		<h1>{{order.post_info.street}}</h1>
		<h1>{{order.post_info.city}} {{order.post_info.city}} {{order.post_info.province}} 中国</h1>
		<h1>邮政编码：{{order.post_info.post_code}}</h1>
		<h1>联系电话：{{order.post_info.phone}}</h1>
	</div>
	<hr/>	
	<div class="ship-info">
		<span><a>订单号：{{order.reference_code}}</a></span><span>  <a>重量：{{order.weight}}KG</a></span>
		<br/>
		<img id="barcode1"/>
	</div>
</div>

