
<div class="delivery-wapper">
	<div><img src="images/wb-logo.png" height="30px;"></div>
			<div class="ship-info">
		<span>移库跟踪号：{{trans.reference_code}}</span>
		<br/>
		<img id="barcode1"/>
	</div>
	<table>
    <tbody>
        <tr>
			<th>新库位号</th>
            <th>{{trans.to_stock_position}}</th>
        </tr>
        <tr>
			<td>原库位号</td>
            <td>{{trans.from_stock_position}}</td>
        </tr>
    </tbody>
    </table>


	<div>配货单</div>
    <!-- TODO: 改成合并package 通过filter -->
    <table>
    <tbody>
     <tr>
            <th>物品名称</th>
            <th>数量</th>
        </tr>
        <tr ng-repeat="item in trans.items">
            <td>{{item.item_name}}</td>
            <td>{{item.quantity}}</td>
        </tr>

    </tbody>
    </table>
<!-- 	 
     <div class="track-code">入库跟踪号:JD02930122</div>
	<table>
    <tbody>
     <tr>
			<th>物品名称</th>
            <th>数量</th>
        </tr>
        <tr>
			<td>奶粉</td>
            <td>1</td>
        </tr>
        <tr>
        	<td>WMF刀</td>
            <td>2</td>
        </tr>

    </tbody>
    </table>
    <div class="track-code">入库跟踪号:JD029322122</div>
    	<table>
    <tbody>
     <tr>
			<th>物品名称</th>
            <th>数量</th>
        </tr>
        <tr>
			<td>奶粉</td>
            <td>1</td>
        </tr>
        <tr>
        	<td>WMF刀</td>
            <td>2</td>
        </tr>

    </tbody>
    </table> -->

</div>