  <div class="uh-main-header">
      <div class="left">
        <span class="title blue">地址管理</span>
      </div>
  </div> 


<table class="pure-table pure-table-horizontal uh-list-table">
        <thead>
          <tr>
            <th class="pure-u-1-8">地址代号</th>
            <th class="pure-u-1-8">收件人</th>
            <th class="pure-u-3-8">国内收货地址</th>
            <th class="pure-u-1-8">邮编</th>
            <th class="pure-u-1-8">身份证</th>
            <th class="pure-u-1-8">操作</th>
          </tr>
        </thead>
        <tbody>
        <!-- TODO: 这里请使用AS生产动态数据 -->
          <tr>
            <td>重庆地址</td>
            <td>CPJStudio</td>
            <td>重庆市重庆大学大学城</td>
            <td>404500</td>
            <td>查看</td>
            <td>删除 修改</td>
          </tr>
          <tr>
            <td>重庆地址</td>
            <td>CPJStudio</td>
            <td>重庆市重庆大学大学城</td>
            <td>404500</td>
            <td>查看</td>
            <td>删除 修改</td>
          </tr>
          <tr>
            <td>重庆地址</td>
            <td>CPJStudio</td>
            <td>重庆市重庆大学大学城</td>
            <td>404500</td>
            <td>查看</td>
            <td>删除 修改</td>
          </tr>
        </tbody>
</table>

  <div class="uh-main-header">
      <div class="left">
        <span class="title red">新增地址</span>
      </div>
  </div> 


<div class="pure-g uh-form-section">
<div class="pure-u-3-24">所在地*</div>
<div class="pure-u-12-24">
	<select name="province" form="">
	  <option value="1">选择省|直辖市</option>
	  <option value="2">北京</option>
	  <option value="3">上海</option>
	  <option value="4">重庆</option>
	</select>
</div>
</div>	

</div>

<div>
<div class="pure-g uh-form-section">
<div class="pure-u-3-24">街道地址*</div>
<div class="pure-u-12-24"><input tyep="text"></div>
<div class="pure-u-3-24" style="text-align:center">邮政编码</div>
<div class="pure-u-6-24"><input tyep="text"></div>
	
</div>


<div class="pure-g uh-form-section">
<div class="pure-u-3-24">收件人*</div>
<div class="pure-u-10-24"><input tyep="text"></div>
	
</div>

<div class="pure-g uh-form-section">
<div class="pure-u-3-24">手机号*</div>
<div class="pure-u-10-24"><input tyep="text"></div>
<div class="pure-u-6-24 uh-form-desc inline-desc">请输入正确的手机号</div>
</div>


<div class="pure-g uh-form-section">
<div class="pure-u-3-24">身份证号码</div>
<div class="pure-u-10-24"><input tyep="text"></div>	
</div>

<div class="pure-g uh-form-section">
<div class="pure-u-3-24">身份证照片</div>
<div class="pure-u-21-24">
	<div class="pure-g">
	<div class="pure-u-1-4 ip-pic-front"><input type="file" class="id-pic-uploader"></div>
	<div class="pure-u-1-4 ip-pic-back"><input type="file" class="id-pic-uploader"></div>
	</div>
	<div class="pure-g">
		<div class="pure-u-16-24 uh-form-desc">点击相应的图片上传或修改<br/>您选择的口岸在清关环节需要使用身份证。请上传身份证的正面、反面各一张，并保持身份证图像清晰、号码可识别、每张图片小于2M。</div>
	</div>
	
</div>
	
</div>


<div class="pure-g uh-form-section">
<div class="pure-u-3-24">地址代号</div>
<div class="pure-u-10-24"><input tyep="text"></div>	
<div class="pure-u-10-24">
<input type="checkbox" id="default" />
<label for="default"><span></span>设为默认</label>
</div>
</div>
</div>





<div class="uh-divider thick"></div>
<!-- 底部操作栏 -->
<div class="pure-g">
  <div class="pure-u-1-2 left">
    <div class="pure-button delete left"><a href="">取消</a></div>
  </div>
  <div class="pure-u-1-2 right">
    <div class="pure-button edit right"><a href="">添加</a></div>
</div>

