<div class="uh-main-section">
  <div class="uh-main-header">
      <div class="left">
        <span class="title blue">修改密码</span>
      </div>
  </div> 


<div class="uh-list-wapper">

  <div class="uh-list-row pure-g">
    <div class="pure-u-4-24 uh-list-cell">新密码</div>
    <div class="pure-u-1-2 uh-list-cell"><input type="password"></div>
  </div> 
  <div class="uh-list-row pure-g">
    <div class="pure-u-4-24 uh-list-cell">确认新密码</div>
    <div class="pure-u-1-2 uh-list-cell"><input type="password"></div>
  </div> 
</div>
</div>

<div class="uh-main-section last">
  <div class="uh-list-row pure-g">
    <div class="pure-u-4-24 uh-list-cell">当前密码</div>
    <div class="pure-u-1-2 uh-list-cell"><input type="password"></div>
  </div> 
</div>


<!-- 底部操作栏 -->
<div class="uh-main-action">
    <div ng-click="editProfile()" class="btn-confirm right"></div>
    <div class="left btn-back"></div>
</div>

