  <div class="uh-main-header">
      <div class="left">
        <span class="title blue">个人信息</span>
      </div>
  </div> 


<div class="uh-list-wapper">
  <div class="uh-list-row pure-g">
    <div class="pure-u-1-4 uh-list-cell">用户名</div>
    <div class="pure-u-1-2 uh-list-cell">CPJSTUDIO</div>
  </div> 
  <div class="uh-list-row pure-g">
    <div class="pure-u-1-4 uh-list-cell">登录邮箱</div>
    <div class="pure-u-1-2 uh-list-cell">cpjstudio@cpjstudi.net</div>
  </div> 
  <div class="uh-list-row pure-g">
    <div class="pure-u-1-4 uh-list-cell">真实姓名</div>
    <div class="pure-u-1-2 uh-list-cell">CPJ Studio</div>
  </div> 

   <div class="uh-list-row pure-g">
    <div class="pure-u-1-4 uh-list-cell">身份证号码</div>
    <div class="pure-u-1-4 uh-list-cell">50040242342</div>
    <div class="pure-u-1-2 uh-list-cell last">请确保身份证正确以保证通关</div>
  </div> 
</div>



<div class="uh-main-header">
      <div class="left">
        <span class="title red">联系方式</span>
      </div>
</div> 

<div class="uh-list-wapper">
  <div class="uh-list-row pure-g">
    <div class="pure-u-1-4 uh-list-cell">手机号</div>
    <div class="pure-u-1-2 uh-list-cell">1322324234234</div>
    <div class="pure-u-1-4 uh-list-cell last">用于接收通知</div>
  </div> 
  <div class="uh-list-row pure-g">
    <div class="pure-u-1-4 uh-list-cell">QQ</div>
    <div class="pure-u-1-2 uh-list-cell">124124124</div>
  </div> 
  <div class="uh-list-row pure-g">
    <div class="pure-u-1-4 uh-list-cell">微信</div>
    <div class="pure-u-1-2 uh-list-cell">cjdied</div>
  </div> 
   <div class="uh-list-row pure-g">
    <div class="pure-u-1-4 uh-list-cell">默认收货地址</div>
    <div class="pure-u-1-2 uh-list-cell">重庆大学</div>
  </div> 
</div>


<div class="uh-main-header">
      <div class="left">
        <span class="title green">推广</span>
      </div>
</div> 
<div class="uh-list-wapper">
  <div class="uh-list-row pure-g">
    <div class="pure-u-1-4 uh-list-cell">商铺</div>
    <div class="pure-u-1-2 uh-list-cell">制定卖家</div>
  </div> 
  <div class="uh-list-row pure-g">
    <div class="pure-u-1-4 uh-list-cell">推荐人</div>
    <div class="pure-u-1-2 uh-list-cell">cpjstuido</div>
  </div> 
</div>

<!-- 底部操作栏 -->
<div class="pure-g">
  <div class="pure-u-1 right">
    <div class="pure-button edit right"><a href="">个人资料修改</a></div>
    <div class="pure-button edit right"><a href="">密码修改</a></div>
</div>

