<div class="uh-main-section">
  <div class="uh-main-header">
      <div class="left">
        <span class="title blue">个人信息</span>
      </div>
  </div> 


<div class="uh-list-wapper">
  <div class="uh-list-row pure-g">
    <div class="pure-u-4-24 uh-list-cell">用户名</div>
    <div class="pure-u-1-2 uh-list-cell"><input ng-model="personalInfo.name" ng-value="personalInfo.name"></div>
  </div> 
<!--   <div class="uh-list-row pure-g">
    <div class="pure-u-4-24 uh-list-cell">登录邮箱</div>
    <div class="pure-u-1-2 uh-list-cell"><input placeholder="cpjstudio@cpjstudi.net"></div>
  </div>  -->
  <div class="uh-list-row pure-g">
    <div class="pure-u-4-24 uh-list-cell">真实姓名</div>
    <div class="pure-u-1-4 uh-list-cell"><input ng-model="personalInfo.real_name" ng-value="personalInfo.real_name"></div>
  </div> 

   <div class="uh-list-row pure-g">
    <div class="pure-u-4-24 uh-list-cell">身份证号码</div>
    <div class="pure-u-1-2 uh-list-cell"><input ng-model="personalInfo.ID_card_number" ng-value="personalInfo.ID_card_number" ng-pattern="" required></div>
    <div class="pure-u-8-24 uh-list-cell last">
    {{personalInfo.ID_card_number}}
        <span ng-show="personalInfo.ID_card_number.$error.pattern">请确保身份证正确以保证通关</span>
        <span ng-show="personalInfo.ID_card_number.required">请填写身份证号码</span>
    </div>
  </div> 
</div>
</div>


<div class="uh-main-section middle">
<div class="uh-list-wapper">
  <div class="uh-list-row pure-g">
    <div class="pure-u-4-24 uh-list-cell">手机号</div>
    <div class="pure-u-1-2 uh-list-cell"><input ng-model="personalInfo.phone_number" ng-value="personalInfo.phone_number"></div>
    <div class="pure-u-8-24 uh-list-cell last">用于接收通知</div>
  </div> 
  <div class="uh-list-row pure-g">
    <div class="pure-u-4-24 uh-list-cell">QQ</div>
    <div class="pure-u-1-2 uh-list-cell"><input ng-model="personalInfo.QQ" ng-value="personalInfo.QQ"></div>
  </div> 
  <div class="uh-list-row pure-g">
    <div class="pure-u-4-24 uh-list-cell">微信</div>
    <div class="pure-u-1-2 uh-list-cell"><input ng-model="personalInfo.wechat" ng-value="personalInfo.wechat"></div>
  </div> 
   <div class="uh-list-row pure-g">
    <div class="pure-u-4-24 uh-list-cell">默认收货地址</div>
    <div class="pure-u-1-2 uh-list-cell">
        <select name="address">
          <option value="1">重庆大学</option>
          <option value="1">重庆大学2</option>
        </select>
    </div>
  </div> 
</div>
</div>

<div class="uh-main-section last">
<div class="uh-list-wapper">
  <div class="uh-list-row pure-g">
    <div class="pure-u-4-24 uh-list-cell">商铺</div>
    <div class="pure-u-1-2 uh-list-cell"><input></div>
  </div> 
  <div class="uh-list-row pure-g">
    <div class="pure-u-4-24 uh-list-cell">推荐人</div>
    <div class="pure-u-1-2 uh-list-cell"><input></div>
  </div> 
</div>
</div>
<!-- 底部操作栏 -->
<div class="uh-main-action">
    <div ng-click="editProfile()" class="btn-confirm right"></div>
    <div ui-sref="changePassword" class="left withtext btn-pwd">修改密码</div>
</div>

